/*@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import "bootstrap.min.css";
@import "bootstrap-override.css";*/

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body {
    padding: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
    margin: 30px 0;
}
.validation-error {
    color: red;
}
.social-icons img {
    width: 200px;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
.signup-success {
    width: 980px;
    margin: 0 auto;
}
.panel-success {
    padding: 0;
    margin: 80px auto;
    border-radius: 0;
}
.no-padding {
    padding: 0;
}
.social-icons {
    margin-left: 11px;
    margin-bottom: 0px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 992px) {
    .social-section {
        width: 100% !important;
    }
    .social-icons img {
        width: 170px;
    }
}
@media screen and (min-width: 1200px) {
    .social-icons img {
        width: 200px;
    }
    .social-icons {
        margin-left: 11px;
        margin-bottom: 0px;
    }
    .social-section {
        width: 83.333% !important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .coin-vid {
        width: 100%;
        margin-top: 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .social-icons {
        margin-left: 40px;
        margin-bottom: 15px;
    }
    .social-icons.last {
        text-align: center;
        margin-left: 11px;
    }
    .arrow {
        display: none;
    }
    .coin-vid {
        margin-top: 60px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        /*max-width: 1170px;*/
    }
    /* Remove the padding we set earlier */

    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */

    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */

    .jumbotron {
        border-bottom: 0;
    }
}
@media screen and (max-width: 767px) {
    .signup-success {
        padding: 0 80px;
    }
    .arrow {
        display: none;
    }
    .social-icons {
        margin-bottom: 30px;
        text-align: center;
    }
}
/*.rewards-achievers{
  border:1px solid #737373;
  padding:0px !important;
  margin:0px !important;
}*/

@media screen and (min-width: 992px) {
    .rewards-achievers {
        min-height: 320px;
    }
}
/* News Ticker */

.moving {
    animation: moveDown 1 1s ease-out;
}
.movingRewards {
    animation: moveDown-reward 1 1s ease-out;
}
/* Dashboard Page */

@keyframes moveDown {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-65px)
    }
}
/* Rewards Page */

@keyframes moveDown-reward {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-97px)
    }
}
.contentpanel {
    /*min-height: 1320px !important;*/
}
.leftpanel {
    /*min-height: 1400px !important;*/
}
@media screen and (min-width: 768px) {
    .mining-tabs {
        width: 20%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1180px) {
    .mining-tabs {
        min-height: 70px;
    }
}
.pv-block {
    font-size: 20px !important;
    color: #fff !important;
    padding-left: 10px;
    background: #fc2a1c;
    border-radius: 10px;
    padding: 5px;
}
.packageprice {
    float: right;
}
@media screen and (min-width: 1150px) {
    /*.network-tabs {
        width: 14.285%;
    }*/
    /*.network-tabs a {
        min-height: 84px;
    }*/
}
.wallet-list {
    background-color: rgba(128, 128, 128, 0.07);
    border-radius: 2%;
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
}
.wallet-addFunds{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.wallet-addFunds button{
  margin: 0 10px;
}
@media screen and (max-width: 1200px) {
    .wallet-list {
        min-height: 371px;
    }
}


/*WALLET PAGE*/
#wallet-content .row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
#wallet-content .left-side, .right-side{
    padding: 0;
}
#wallet-content .left-side{
    background-color: #f2f2f2;
}
#wallet-content .right-side{
    background-color: #fdfdfd;
}
#wallet-content #wallet-cards, #wallet-list{
    padding: 74px 0px 74px 30px;
}
#wallet-content #wallet-cards{
    padding-right: 60px;
}
#wallet-content #wallet-cards h2{
    color: #8f8e92;
}
#wallet-content #cards-list .cards {
    margin-top: 50px;
    padding: 32px 20px;
    border: 1px solid #f1ebeb;
    border-radius: 8px;
    /*text-align: center;*/
}
#wallet-content #cards-list .cards:focus{
    border: 1px solid #26a3d4;

}
#wallet-content #cards-list .image-title .image{
    display: inline-block;
}
#wallet-content #cards-list .image-title .title{
    margin-left: 26px;
    display: inline-block;
    vertical-align: middle;
    color: #8f8e92;
}
#wallet-content #cards-list .image-title .title p{
    font-size: 24px;
}
#wallet-content #cards-list .image-title .title span{
    font-size: 25px;
}
#wallet-content #cards-list .buttons-list{
    display: inline-flex;
    margin-top: 20px;
}

#wallet-content #cards-list .buttons-list button{
    background-color: transparent;
    padding: 3px 10px;
    border: 2px solid #cbcbcb;
    border-radius: 8px;
    margin-right: 10px;
    color: #c4bdbd;
}
#wallet-content #cards-list .buttons-list button:last-child{
    margin: 0;
    border-radius: 3px;
}
#wallet-content #cards-list .buttons-list button span{
    vertical-align: middle;
}
#wallet-content #wallet-list h3{
    color: #8f8e92;
}
#wallet-content #wallet-list .wallet-list-blocks{
    margin-top: 30px;
}

#wallet-content #wallet-list .wallet-list-blocks .block{
    padding: 10px;
    border: 1px solid #e5e4e4;
    border-radius: 8px;
    display: inline-flex;
}
/*#wallet-content #wallet-list .wallet-list-blocks .block .number{*/
    /*margin: 0;*/
/*}*/
#wallet-content #wallet-list .wallet-list-blocks .block p{
    color: #26a3d4;
}
#wallet-content #wallet-list .wallet-list-blocks .block span{
    color: #9c9d9d;
}
#wallet-content #wallet-list .wallet-list-blocks .block div{
    margin: 0px 20px 0px 0px;
}
#wallet-content #wallet-list .wallet-list-blocks .block div:last-child{
    margin: 0;
}
#wallet-content #wallet-list .wallet-list-blocks .block .invoice-no span, .transaction-no span{
    display: block;
    width: 170px;
    word-wrap: break-word;
}
#wallet-content #wallet-list .wallet-list-blocks .block .date span{
    display: block;
    width: 120px;
    word-wrap: break-word;
}
#wallet-content #wallet-list .wallet-list-blocks .block .description span{
    width: 100px;
    display: block;
    word-wrap: break-word;
}
#new-dashboard {
    overflow: auto;
    margin-bottom: 30px;
}
#new-dashboard #chart_5,#first_chart, #second_chart{
    margin-top: 5px;
}
#new-dashboard #chart_5,#first_chart, #second_chart, #highchart_2 {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
#new-dashboard .wallet-blokcs{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    padding: 20px;
    color: grey;
}
#new-dashboard .wallet-blokcs h4{
    text-align: center;
    color: grey;
}
#new-dashboard .wallet-blokcs .usd-waller-icon{
    width: 50px;
    height: 50px;
    display: inline-block;
}
#new-dashboard .wallet-blokcs .usd-waller-icon img{
    width: 100%;
}
#new-dashboard .wallet-blokcs .usd-wallet-number{
    display: inline-block;
    vertical-align: bottom;
    font-size: 28px;
    margin-left: 20px;
}

#new-dashboard #contracts-dash {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    padding: 13px 20px;
    margin-top: 10px;
    overflow: auto;
}
#new-dashboard #contracts-dash h4{
    text-align: center;
}
#new-dashboard #contracts-dash .clouds{
    text-align: center;
}
#new-dashboard #contracts-dash .clouds img {
    width: 80px;
}
#new-dashboard .crt{
    margin-top: 10px;

}
#new-dashboard .coin-dash, .investment-dash{
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    padding: 5px 0px;
    margin-bottom: 5px;
}
#new-dashboard .latest-signups-dash{
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    padding: 5px 0px;
    margin-top: 10px;
}
#new-dashboard .latest-signups-dash h4{
    text-align: center;
}
#new-dashboard .signups-table{
    height: 169px;
    overflow: auto;
    padding: 0px 20px;
}

#new-dashboard .signups-table table{
    width: 100%;
}
#new-dashboard .signups-table table tr{
    border: 1px solid grey;
    border-left: none;
    border-right: none;
}
/*#new-dashboard .signups-table table tr:nth-child(2n+1){*/
    /*background: #3d6e73;*/
    /*color: #fff;*/
    /*border: 1px solid #33595d;*/
/*}*/
#new-dashboard .signups-table table tr:hover{
    background: #3d6e73;
    color: #fff;
    border: 1px solid #33595d;
    cursor: pointer;
}
#new-dashboard .signups-table table tr td{
    padding: 5px 10px;
}
#new-dashboard .signups-table table tr td span{
    vertical-align: middle;
    margin-left: 3px;
}
#portlets .blue-portlet, .yellow-portlet, .red-portlet, .green-portlet{
    margin-bottom: 10px;
}

#portlets .blue-portlet{
    border: 1px solid #869ab3;
    border-top: 0;
}
#portlets .yellow-portlet{
    border: 1px solid #d0b36e;
    border-top: 0;
}
#portlets .red-portlet{
    border: 1px solid #ed7d84;
    border-top: 0;
}
#portlets .green-portlet{
    border: 1px solid #5cd1db;
    border-top: 0;
}
#portlets .portlet-title{
    border-bottom: 0;
    padding: 0 10px;
    margin-bottom: 0;
}
#portlets .blue-portlet .portlet-title{
    background-color: #67809F;
    color: #fff;
}
#portlets .yellow-portlet .portlet-title{
    background-color: #c49f47;
    color: #fff;
}
#portlets .red-portlet .portlet-title{
    background-color: #e7505a;
    color: #fff;
}
#portlets .green-portlet .portlet-title {
    background-color: #32c5d2;
    color: #fff;
}
#portlets .blue-portlet .caption, .yellow-portlet .caption, .red-portlet .caption, .green-portlet .caption{
    padding: 11px 0 9px;
}
#portlets .portlet-body {
    background-color: #fff;
    padding: 15px;
}
#portlets .portlet-body .slimScrollDiv{
    position: relative;
    overflow: hidden;
    width: auto;
    height: 200px;
}
#portlets .portlet-body .slimScrollDiv .scroller{
    height: 200px;
    overflow: auto;
    width: auto;
}
#portlets .blue-portlet .slimScrollDiv .scroller::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#portlets .blue-portlet .slimScrollDiv .scroller::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#portlets .blue-portlet .slimScrollDiv .scroller::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 0%);
     background-image: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 0%); /* FF3.6-15 */
     background-image: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 0%); /* Chrome10-25,Safari5.1-6 */
     background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#portlets .yellow-portlet .slimScrollDiv .scroller::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(255, 0, 0, 0.21);
    background-color: #F5F5F5;
}

#portlets .yellow-portlet .slimScrollDiv .scroller::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#portlets .yellow-portlet .slimScrollDiv .scroller::-webkit-scrollbar-thumb {
    /*background-color: #F90;*/
    /*background-image: -moz-linear-gradient(top, #8fc400 0%, #8fc400 100%); !* FF3.6-15 *!*/
    /*background-image: -webkit-linear-gradient(top, #8fc400 0%, #8fc400 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background-image: linear-gradient(to bottom, #8fc400 0%, #8fc400 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    background: rgba(0, 128, 0, 0.4);
    /*opacity: 0.4;*/
}

#portlets .red-portlet .slimScrollDiv .scroller::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(255, 0, 0, 0.21);
    background-color: #F5F5F5;
}

#portlets .red-portlet .slimScrollDiv .scroller::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#portlets .red-portlet .slimScrollDiv .scroller::-webkit-scrollbar-thumb {
    /*background-color: #F90;*/
    /*background-image: -moz-linear-gradient(top, #8fc400 0%, #8fc400 100%); !* FF3.6-15 *!*/
    /*background-image: -webkit-linear-gradient(top, #8fc400 0%, #8fc400 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background-image: linear-gradient(to bottom, #8fc400 0%, #8fc400 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    background: rgba(255, 0, 0, 0.4);
    /*opacity: 0.4;*/
}

#portlets .green-portlet .slimScrollDiv .scroller::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#portlets .green-portlet .slimScrollDiv .scroller::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#portlets .green-portlet .slimScrollDiv .scroller::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 0%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 0%); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 0%); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#sms-blasts .note{
    margin: 0 0 20px;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    border-radius: 0 4px 4px 0;
}
#sms-blasts .note.note-info{
    background-color: #f5f8fd;
    border-color: #8bb4e7;
    color: #010407;
}
#sms-blasts .note p{
    margin: 0;
    font-size: 13px;
}
.tab_default_6 .panel{
    border: 1px solid #e7ecf1;
}
.tab_default_6 .panel, .panel-body{
    padding: 0;
}
.tab_default_6 .panel-body{
    padding-top: 0px;
}
.tab_default_6 .panel-footer{
    border: none;
    text-align: center;
}
