<!-- Modal Content -->
<div class="modal-content">
    <div class="modal-header" style="background:#b73632 !important">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
        <h4 class="modal-title text-capitalize" style="color:#fff"><i class="fa fa-user "></i> Hey {{name}}</h4>
    </div>
    <div class="modal-body">
        <p></p>
        <p>How would you like 100's of NEW "referrals" in your nanopool business daily on Autopilot ? </p>
        <p><a href="https://udimi.com/a/5e9z9">Check out this resource</a> to start buying as much traffic as you want everyday which is targetted and looking to make money online</p>
        <p>(and how you can too)!</p>
        <p>All You got to do is create a <a href="https://udimi.com/a/5e9z9">free account in this website</a> and then start buying targetted traffic to your nanopool referral links...</p>
        <p>You can start with as little as $20-$50/day and go as high as $500-$1000/day and get targetted clicks .</p>
        <p>Imagine if you send 100 targetted clicks to your nanopool referral links and assuming a 10 % minimum free account creation ratio , you just got 10 direct frontlines on autopilot..</p>
        <p>Even if one of them upgrades , you will end up making $100-$1000 depending on their package and not even counting the income from the team they will bring..</p>
        <p><a href="https://udimi.com/a/5e9z9">What if you send 1000 clicks or 10,000 clicks ? &lt;&#61;&#61;&#61;&#61;</a></p>
        <p>What if everyone in your team starts sending 100 clicks a day which will cost less than $40-$50 to their nanopool referral links ?</p>
        <p>Suddenly you will see an influx of autopilot signups in your frontline organisation and all across your teams...</p>
        <p>This is one of the easiest ways to recruit people from across the globe in your teams and if you manage to teach this to everyone in your team , you will expierence automatic global growth</p>
        <p><a href="https://udimi.com/a/5e9z9">Let's do this &lt;&lt;&lt;&lt;</a></p>
        <p>&nbsp;</p>
        <p>-Phil Lewis<br />
          CEO - <a href="http://nanopool.com/" target="_blank">nanopool.Com</a></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">Close</button>
    </div>
</div>
<!-- /.modal-content -->
