<!-- Modal Content -->
<div class="modal-content">
    <div class="modal-header" style="background:#f2f2f2 !important; border: none">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
        <!--<h4 class="modal-title text-capitalize" style="color:#fff"><i class="fa fa-user "></i> Hey {{name}}</h4>-->
    </div>
    <div class="modal-body">
      <img ng-src="img/image-for-modal.png" alt="img" style="width: 100%; height: 100%"/>
       <!-- <h4 style="font-weight:bold;">Important Announcement Regarding nanopool Mining Payouts.</h4>
        <p>Due to recent change in crypto market conditions where the market
            has gone down from $120 billion in turnover to now around $80 billion
            and expected to go down further , we are forced to take some hard decisions
            in order to ensure survival of nanopool business in the long run.
        </p>
        <p>At the current moment our mining profitability is not matching the mining payouts
            which we are giving as cost of electricity and difficulty levels have not
            changed whereas meanwhile prices of coin have reduced drastically.
        </p>
        <p>Hence with immediate basis we are forced to slash down all mining payouts
            across the board by 30 % till further notice..
        </p>
        <p>This ensures the longevity of the company </p>
        <p>Commission payouts on sale of nanopool mining packages and nanopool
            academy packages remain the same however and no deductions in that.
        </p>
        <p>We are also working towards launching mining of few more altcoins
            that have proved to be profitable even in these days of extreme losses.
        </p>
        <p>The same will be announced in coming weeks.</p>

        <p style="font-weight:bold;">Thanks for your co-operation.<br />
        <p style="font-weight:bold;">-Phil Lewis<br />
          CEO - <a href="http://nanopool.com/" target="_blank">nanopool.Com</a></p>-->
    </div>
   <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">Close</button>
    </div>-->
</div>
<!-- /.modal-content -->
