<div class="modal-content">
   <div class="modal-header">
      <button type="button" class="close no-print" data-dismiss="modal" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">×</span></button>
      <h4 align="left" class="modal-title no-print" id="myModalLabel">Purchase Invoice</h4>
   </div>
   
   <div align="left" class="modal-body text-capitalize" style="font-size:16px;">
    <div class="alert alert-danger fade in" ng-if="noBalance" style="font-size:13px;">
       Sorry, You don't have enough balance into your nanopool USD wallet.
    </div>
    <div ng-if="!noBalance">
      <em><strong>Hello {{name}},</strong></em><br>
      <br>
      Please Find the Details About Your New Purchase Below.<br>
      <hr>
      <strong>Mode of Purchase</strong>: <img ng-src="{{s3Url}}{{payment.mode=='BTC'?'bitcoin-logo':'nanopool-wallet'}}.png" width="100"><br><br>
      <h4 ng-if="payment.mode == 'BTC'" class="add-funds-popup">You have to Pay <strong>{{purchase.value_in_btc}} BTC</strong> </h4><br>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <strong>Date :</strong> {{transactionDate}}<br><br>
      </div>
      <p class="col-xs-12 col-sm-12 col-md-12 add-funds-popup mb30 add-funds-popup" ng-if="payment.mode=='BTC'">Bitcoin Address : <strong>{{purchase.address}}</strong></p>
      <br><br />
      <p class="bit-address" style="float:left;"><strong>Invoice Number</strong> : {{purchase.invoice_number}}</p>
      <div class="qr_code">
        <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=bitcoin:{{purchase.address}}?&amount={{purchase.value_in_btc}}" width="90">
      </div>
      <table class="table table-bordered">
         <tbody>
            <tr>
               <td><strong>Contract Name</strong></td>
               <td><strong>Number Of Contracts</strong></td>
               <td><strong>Price</strong></td>
            </tr>
            <tr ng-repeat="orderInfo in orderDetails"> 
               <td><img ng-src="{{s3Url}}{{orderInfo.path}}" width="30"> {{orderInfo.name}}</td>
               <td>{{orderInfo.data.quantity | number:0}}</td>
               <td>{{orderInfo.price | currency}}</td>
            </tr>
         </tbody>
      </table>
      <h3 class="pull-right nomargin nopadding"><strong>Total : {{purchaseTotal | currency}}</strong></h3>
      <div class="clearfix"></div>
      </div>
      <hr>
      <small class="red-text02">Note : The invoice will be expired in Half an hour. Make sure you make the payment before expiry of the invoice!</small>
      <br><br />
      <span><strong>Thank You,</strong><br>
      Team nanopool<br>
      <img src="img/logo-nanopool.png" width="60"></span>
   </div>
   <div class="modal-footer no-print">
     <button type="button" class="btn btn-info" ng-click="printInvoice()"><i class="fa fa-print"></i> Print</button>
      <button type="button" class="btn btn-default" ng-click="closeModal()">Purchase</button>
   </div>
</div>