<div class="coming-soon-wrapper">
  <div class="panel panel-dashboard coming-soon">
    <div class="panel-body">
      <div class="logo text-center">
        <img ng-src="img/logo-nanopool.png" alt="nanopool" class="img-responsive" style="margin: 0 auto;">
      </div>
      <br />
      <h4 class="text-center mb5 coming-soon" ng-if="!textAttr">{{textValue}} would be coming soon.</h4>
      <div class="referral-link text-center" ng-if="textAttr">
        <p>This page will be coming soon.</p>
        <p>For now your referral links are:</p>
        <p ng-repeat="referral in textAttr">
          <a href="http://{{referral.path}}" title="{{referral.Title}}" target="_blank">{{referral.path}}</a>
        </p>
      </div>
    </div>
    <!-- panel-body -->
  </div>
</div>
