<div class="cardWallet" ng-repeat="info in walletData | filter:{'Wallet':walletType}">
  <div class="card card1">
    <!--<div class="topRow">3 Cards</div>-->
    <div class="topLeft"><img ng-src="img/{{info.Wallet | lowercase}}1.png" class="img-responsive" style="height: 50px;width: 50px;"></div>
    <div class="wallet-currency">
      <div class="centerElement">
        <div>{{walletHeading[info.Wallet]?walletHeading[info.Wallet]:'USD'}} Wallet</div>
      </div>
      <div class="bottomLeft">{{info.Balance  | number: 2 }}</div>
    </div>
    <div ng-if="type && info.Wallet === 'ETH'" >
      <div class="wallet-btns">
        <span class="border-n-box btn-coming-soon">Coming Soon...</span>
      </div>
      <div class="wallet-btns">
        <button data-toggle="modal" data-target="#btc-wallet" class="btn btn-cardWallet" ng-click="getWallet(info, 'withdrawal', info.Wallet)">
          <img src="../../img/usd-btn.png">
          Withdraw</button>

        <button data-toggle="modal" data-target="#btc-wallet" class="btn btn-cardWallet" ng-click="getWallet(info, 'convertUSD', info.Wallet)">
          <img src="../../img/convert-btn.png">
          Exchange with USD</button>
      </div>

    </div>

    <div ng-if="type && info.Wallet === 'USD'" class="wallet-btns">
      <div  ng-if="(info.Wallet == 'USD' || info.Wallet == 'ACADEMY')" class="ng-scope wallet-addFunds" style="display: flex;justify-content: flex-end">
        <form name="fund" class="form-inline ng-pristine ng-invalid ng-invalid-required" ng-submit="submit(amount)" novalidate="">
          <div class="col-xs-8 col-sm-8 col-md-8 text-left fund-section">
            <div class="col-xs-12 col-sm-12 col-md-12 input-group fund-box">
              <span class="input-group-addon ng-binding">$</span>
              <input type="number" name="amount" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="amount" ng-change="checkAmount(amount)" required="" aria-invalid="true">
            </div>
            <div class="alert alert-danger fade in error-padding text-center ng-hide" ng-show="fund.amount.$touched &amp;&amp; fund.amount.$invalid" aria-hidden="true">
              Please enter any amount
            </div>
            <!-- ngIf: amountError -->
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 text-left fund-button">
            <!-- ngIf: info.Wallet == 'USD' --><button ng-if="info.Wallet == 'USD'" type="submit" data-toggle="modal" data-target="#add-funds" class="btn btn-cardWallet ng-scope" ng-disabled="fund.$invalid || amountError" disabled="disabled" style="margin: 0!important;">Add Funds</button><!-- end ngIf: info.Wallet == 'USD' -->
            <!-- ngIf: info.Wallet == 'ACADEMY' -->
          </div>
          <div class="wallet-btns">
            <span class="live-now">Live Now</span>
          </div>
        </form>
      </div>
      <div class="wallet-btns">
        <button data-toggle="modal" data-target="#btc-wallet" class="btn btn-cardWallet" ng-click="getWallet(info, 'withdrawal', info.Wallet)">
          <img src="../../img/usd-btn.png">
          Withdraw</button>
        <button data-toggle="modal" data-target="#internal-transfer" class="btn btn-cardWallet">
          <img src="../../img/arrows-btn.png">
          Internal Transfer</button>
      </div>
    </div>

    <div  ng-if="type && info.Wallet === 'NANO'" class="wallet-btns">
      <button data-toggle="modal" data-target="#btc-wallet" class="btn btn-cardWallet" ng-click="getWallet(info, 'withdrawal', info.Wallet)">
        <img src="../../img/usd-btn.png">
        Withdraw</button>

      <button data-toggle="modal" data-target="#btc-wallet" class="btn btn-cardWallet" ng-click="getWallet(info, 'convertUSD', info.Wallet)">
        <img src="../../img/convert-btn.png">
        Exchange with USD</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered no-margin">
      <tbody>
        <!-- To show the Wallet Address -->

        <!-- Applicable to all wallets having the Fund Withdraw feature -->
        <tr>

          <td align="center" valign="middle" colspan="3" ng-if="type &&(info.Wallet !== 'USD' && info.Wallet !== 'ETH' && info.Wallet !== 'BTC')">
            <a data-toggle="modal" data-target="#btc-wallet" class="btn btn-cardWallet" ng-click="getWallet(info, 'withdrawal', info.Wallet)">Withdraw</a>
            <a data-toggle="modal" data-target="#btc-wallet" class="btn btn-cardWallet" ng-click="getWallet(info, 'convertUSD', info.Wallet)">Exchange with USD</a>
          </td>
        </tr>
        <!-- Internal Transfer option for USD Wallet -->

        <!-- Internal Transfer option for Academy Wallet -->
        <tr ng-if="info.Wallet === 'ACADEMY'">
          <td align="center" valign="middle" colspan="3">
            <a data-toggle="modal" data-target="#internal-transfer-academy" class="btn btn-cardWallet">Internal Transfer</a>
          </td>
        </tr>
        <tr ng-if="!type && info.Wallet !== 'ACADEMY'">
          <td align="center" valign="middle" colspan="3">
            <button class="btn btn-lg btn-default white-btn" ng-click="updateWallet({wallet:info.Wallet, address:info.Address})">Save</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
