@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?s2r2f5');
  src:  url('icomoon.eot?s2r2f5#iefix') format('embedded-opentype'),
    url('icomoon.ttf?s2r2f5') format('truetype'),
    url('icomoon.woff?s2r2f5') format('woff'),
    url('icomoon.svg?s2r2f5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /*font-family: 'icomoon' !important;*/
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-box:before {
  content: "\e900";
}
.icon-write:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}
.icon-reply2:before {
  content: "\e903";
}
.icon-reply-all:before {
  content: "\e904";
}
.icon-forward2:before {
  content: "\e905";
}
.icon-flag:before {
  content: "\e906";
}
.icon-search2:before {
  content: "\e907";
}
.icon-trash:before {
  content: "\e908";
}
.icon-envelope:before {
  content: "\e909";
}
.icon-bubble:before {
  content: "\e90a";
}
.icon-bubbles:before {
  content: "\e90b";
}
.icon-user2:before {
  content: "\e90c";
}
.icon-users2:before {
  content: "\e90d";
}
.icon-cloud2:before {
  content: "\e90e";
}
.icon-download4:before {
  content: "\e90f";
}
.icon-upload4:before {
  content: "\e910";
}
.icon-rain:before {
  content: "\e911";
}
.icon-sun2:before {
  content: "\e912";
}
.icon-moon:before {
  content: "\e913";
}
.icon-bell:before {
  content: "\e914";
}
.icon-folder2:before {
  content: "\e915";
}
.icon-pin:before {
  content: "\e916";
}
.icon-sound:before {
  content: "\e917";
}
.icon-microphone:before {
  content: "\e918";
}
.icon-camera2:before {
  content: "\e919";
}
.icon-image2:before {
  content: "\e91a";
}
.icon-cog2:before {
  content: "\e91b";
}
.icon-calendar:before {
  content: "\e91c";
}
.icon-book2:before {
  content: "\e91d";
}
.icon-map-marker:before {
  content: "\e91e";
}
.icon-store:before {
  content: "\e91f";
}
.icon-support:before {
  content: "\e920";
}
.icon-tag:before {
  content: "\e921";
}
.icon-heart2:before {
  content: "\e922";
}
.icon-video-camera:before {
  content: "\e923";
}
.icon-trophy:before {
  content: "\e924";
}
.icon-cart2:before {
  content: "\e925";
}
.icon-eye2:before {
  content: "\e926";
}
.icon-cancel:before {
  content: "\e927";
}
.icon-chart:before {
  content: "\e928";
}
.icon-target:before {
  content: "\e929";
}
.icon-printer:before {
  content: "\e92a";
}
.icon-location3:before {
  content: "\e92b";
}
.icon-bookmark2:before {
  content: "\e92c";
}
.icon-monitor:before {
  content: "\e92d";
}
.icon-cross2:before {
  content: "\e92e";
}
.icon-plus2:before {
  content: "\e92f";
}
.icon-left:before {
  content: "\e930";
}
.icon-up:before {
  content: "\e931";
}
.icon-browser:before {
  content: "\e932";
}
.icon-windows:before {
  content: "\e933";
}
.icon-switch2:before {
  content: "\e934";
}
.icon-dashboard:before {
  content: "\e935";
}
.icon-play2:before {
  content: "\e936";
}
.icon-fast-forward:before {
  content: "\e937";
}
.icon-next:before {
  content: "\e938";
}
.icon-refresh:before {
  content: "\e939";
}
.icon-film2:before {
  content: "\e93a";
}
.icon-home2:before {
  content: "\e93b";
}
.icon-add-to-list:before {
  content: "\e93c";
}
.icon-creative-commons:before {
  content: "\e947";
}
.icon-document-landscape:before {
  content: "\e948";
}
.icon-remove-user:before {
  content: "\e949";
}
.icon-warning2:before {
  content: "\e94a";
}
.icon-arrow-bold-down:before {
  content: "\e94b";
}
.icon-arrow-bold-left:before {
  content: "\e94c";
}
.icon-arrow-bold-right:before {
  content: "\e94d";
}
.icon-arrow-bold-up:before {
  content: "\e94e";
}
.icon-arrow-down:before {
  content: "\e94f";
}
.icon-arrow-left:before {
  content: "\e950";
}
.icon-arrow-long-down:before {
  content: "\e951";
}
.icon-arrow-long-left:before {
  content: "\e952";
}
.icon-arrow-long-right:before {
  content: "\e953";
}
.icon-arrow-long-up:before {
  content: "\e954";
}
.icon-arrow-right:before {
  content: "\e955";
}
.icon-arrow-up:before {
  content: "\e956";
}
.icon-arrow-with-circle-down:before {
  content: "\e957";
}
.icon-arrow-with-circle-left:before {
  content: "\e958";
}
.icon-arrow-with-circle-right:before {
  content: "\e959";
}
.icon-arrow-with-circle-up:before {
  content: "\e95a";
}
.icon-bookmark3:before {
  content: "\e95b";
}
.icon-bookmarks2:before {
  content: "\e95c";
}
.icon-chevron-down:before {
  content: "\e95d";
}
.icon-chevron-left:before {
  content: "\e95e";
}
.icon-chevron-right:before {
  content: "\e95f";
}
.icon-chevron-small-down:before {
  content: "\e960";
}
.icon-chevron-small-left:before {
  content: "\e961";
}
.icon-chevron-small-right:before {
  content: "\e962";
}
.icon-chevron-small-up:before {
  content: "\e963";
}
.icon-chevron-thin-down:before {
  content: "\e964";
}
.icon-chevron-thin-left:before {
  content: "\e965";
}
.icon-chevron-thin-right:before {
  content: "\e966";
}
.icon-chevron-thin-up:before {
  content: "\e967";
}
.icon-chevron-up:before {
  content: "\e968";
}
.icon-chevron-with-circle-down:before {
  content: "\e969";
}
.icon-chevron-with-circle-left:before {
  content: "\e96a";
}
.icon-chevron-with-circle-right:before {
  content: "\e96b";
}
.icon-chevron-with-circle-up:before {
  content: "\e96c";
}
.icon-controller-fast-forward:before {
  content: "\e96d";
}
.icon-controller-jump-to-start:before {
  content: "\e96e";
}
.icon-controller-next:before {
  content: "\e96f";
}
.icon-controller-paus:before {
  content: "\e970";
}
.icon-controller-play:before {
  content: "\e971";
}
.icon-controller-record:before {
  content: "\e972";
}
.icon-controller-stop:before {
  content: "\e973";
}
.icon-controller-volume:before {
  content: "\e974";
}
.icon-dot-single:before {
  content: "\e975";
}
.icon-dots-three-horizontal:before {
  content: "\e976";
}
.icon-dots-three-vertical:before {
  content: "\e977";
}
.icon-dots-two-horizontal:before {
  content: "\e978";
}
.icon-dots-two-vertical:before {
  content: "\e979";
}
.icon-download5:before {
  content: "\e97a";
}
.icon-emoji-flirt:before {
  content: "\e97b";
}
.icon-flow-line:before {
  content: "\e97c";
}
.icon-flow-parallel:before {
  content: "\e97d";
}
.icon-flow-tree:before {
  content: "\e97e";
}
.icon-install:before {
  content: "\e97f";
}
.icon-layers:before {
  content: "\e980";
}
.icon-open-book:before {
  content: "\e981";
}
.icon-resize-100:before {
  content: "\e982";
}
.icon-resize-full-screen:before {
  content: "\e983";
}
.icon-save:before {
  content: "\e984";
}
.icon-select-arrows:before {
  content: "\e985";
}
.icon-sound-mute:before {
  content: "\e986";
}
.icon-sound2:before {
  content: "\e987";
}
.icon-triangle-down:before {
  content: "\e988";
}
.icon-triangle-left:before {
  content: "\e989";
}
.icon-triangle-right:before {
  content: "\e98a";
}
.icon-triangle-up:before {
  content: "\e98b";
}
.icon-uninstall:before {
  content: "\e98c";
}
.icon-upload-to-cloud:before {
  content: "\e98d";
}
.icon-upload5:before {
  content: "\e98e";
}
.icon-add-user:before {
  content: "\e98f";
}
.icon-address:before {
  content: "\e990";
}
.icon-adjust:before {
  content: "\e991";
}
.icon-air:before {
  content: "\e992";
}
.icon-aircraft-landing:before {
  content: "\e993";
}
.icon-aircraft-take-off:before {
  content: "\e994";
}
.icon-aircraft:before {
  content: "\e995";
}
.icon-align-bottom:before {
  content: "\e996";
}
.icon-align-horizontal-middle:before {
  content: "\e997";
}
.icon-align-left:before {
  content: "\e998";
}
.icon-align-right:before {
  content: "\e999";
}
.icon-align-top:before {
  content: "\e99a";
}
.icon-align-vertical-middle:before {
  content: "\e99b";
}
.icon-archive:before {
  content: "\e99c";
}
.icon-area-graph:before {
  content: "\e99d";
}
.icon-attachment2:before {
  content: "\e99e";
}
.icon-awareness-ribbon:before {
  content: "\e99f";
}
.icon-back-in-time:before {
  content: "\e9a0";
}
.icon-back:before {
  content: "\e9a1";
}
.icon-battery:before {
  content: "\e9a2";
}
.icon-beamed-note:before {
  content: "\e9a3";
}
.icon-bell2:before {
  content: "\e9a4";
}
.icon-blackboard:before {
  content: "\e9a5";
}
.icon-block:before {
  content: "\e9a6";
}
.icon-book3:before {
  content: "\e9a7";
}
.icon-bowl:before {
  content: "\e9a8";
}
.icon-box2:before {
  content: "\e9a9";
}
.icon-briefcase2:before {
  content: "\e9aa";
}
.icon-browser2:before {
  content: "\e9ab";
}
.icon-brush:before {
  content: "\e9ac";
}
.icon-bucket:before {
  content: "\e9ad";
}
.icon-cake:before {
  content: "\e9ae";
}
.icon-calculator2:before {
  content: "\e9af";
}
.icon-calendar2:before {
  content: "\e9b0";
}
.icon-camera3:before {
  content: "\e9b1";
}
.icon-ccw:before {
  content: "\e9b2";
}
.icon-chat:before {
  content: "\e9b3";
}
.icon-check:before {
  content: "\e9b4";
}
.icon-circle-with-cross:before {
  content: "\e9b5";
}
.icon-circle-with-minus:before {
  content: "\e9b6";
}
.icon-circle-with-plus:before {
  content: "\e9b7";
}
.icon-circle:before {
  content: "\e9b8";
}
.icon-circular-graph:before {
  content: "\e9b9";
}
.icon-clapperboard:before {
  content: "\e9ba";
}
.icon-clipboard:before {
  content: "\e9bb";
}
.icon-clock2:before {
  content: "\e9bc";
}
.icon-code:before {
  content: "\e9bd";
}
.icon-cog3:before {
  content: "\e9be";
}
.icon-colours:before {
  content: "\e9bf";
}
.icon-compass2:before {
  content: "\e9c0";
}
.icon-copy:before {
  content: "\e9c1";
}
.icon-credit-card:before {
  content: "\e9c2";
}
.icon-credit:before {
  content: "\e9c3";
}
.icon-cross3:before {
  content: "\e9c4";
}
.icon-cup:before {
  content: "\e9c5";
}
.icon-cw:before {
  content: "\e9c6";
}
.icon-cycle:before {
  content: "\e9c7";
}
.icon-database:before {
  content: "\e9c8";
}
.icon-dial-pad:before {
  content: "\e9c9";
}
.icon-direction:before {
  content: "\e9ca";
}
.icon-document:before {
  content: "\e9cb";
}
.icon-documents:before {
  content: "\e9cc";
}
.icon-drink:before {
  content: "\e9cd";
}
.icon-drive:before {
  content: "\e9ce";
}
.icon-drop:before {
  content: "\e9cf";
}
.icon-edit:before {
  content: "\e9d0";
}
.icon-email:before {
  content: "\e9d1";
}
.icon-emoji-happy:before {
  content: "\e9d2";
}
.icon-emoji-neutral:before {
  content: "\e9d3";
}
.icon-emoji-sad:before {
  content: "\e9d4";
}
.icon-erase:before {
  content: "\e9d5";
}
.icon-eraser:before {
  content: "\e9d6";
}
.icon-export:before {
  content: "\e9d7";
}
.icon-eye3:before {
  content: "\e9d8";
}
.icon-feather:before {
  content: "\e9d9";
}
.icon-flag2:before {
  content: "\e9da";
}
.icon-flash:before {
  content: "\e9db";
}
.icon-flashlight:before {
  content: "\e9dc";
}
.icon-flat-brush:before {
  content: "\e9dd";
}
.icon-folder-images:before {
  content: "\e9de";
}
.icon-folder-music:before {
  content: "\e9df";
}
.icon-folder-video:before {
  content: "\e9e0";
}
.icon-folder3:before {
  content: "\e9e1";
}
.icon-forward3:before {
  content: "\e9e2";
}
.icon-funnel:before {
  content: "\e9e3";
}
.icon-game-controller:before {
  content: "\e9e4";
}
.icon-gauge:before {
  content: "\e9e5";
}
.icon-globe:before {
  content: "\e9e6";
}
.icon-graduation-cap:before {
  content: "\e9e7";
}
.icon-grid:before {
  content: "\e9e8";
}
.icon-hair-cross:before {
  content: "\e9e9";
}
.icon-hand:before {
  content: "\e9ea";
}
.icon-heart-outlined:before {
  content: "\e9eb";
}
.icon-heart3:before {
  content: "\e9ec";
}
.icon-help-with-circle:before {
  content: "\e9ed";
}
.icon-help:before {
  content: "\e9ee";
}
.icon-home3:before {
  content: "\e9ef";
}
.icon-hour-glass:before {
  content: "\e9f0";
}
.icon-image-inverted:before {
  content: "\e9f1";
}
.icon-image3:before {
  content: "\e9f2";
}
.icon-images:before {
  content: "\e9f3";
}
.icon-inbox:before {
  content: "\e9f4";
}
.icon-infinity:before {
  content: "\e9f5";
}
.icon-info-with-circle:before {
  content: "\e9f6";
}
.icon-info2:before {
  content: "\e9f7";
}
.icon-key3:before {
  content: "\e9f8";
}
.icon-keyboard:before {
  content: "\e9f9";
}
.icon-lab-flask:before {
  content: "\e9fa";
}
.icon-landline:before {
  content: "\e9fb";
}
.icon-laptop2:before {
  content: "\e9fd";
}
.icon-leaf2:before {
  content: "\e9fe";
}
.icon-level-down:before {
  content: "\e9ff";
}
.icon-level-up:before {
  content: "\ea00";
}
.icon-lifebuoy:before {
  content: "\ea01";
}
.icon-light-bulb:before {
  content: "\ea02";
}
.icon-light-down:before {
  content: "\ea03";
}
.icon-light-up:before {
  content: "\ea04";
}
.icon-line-graph:before {
  content: "\ea05";
}
.icon-link2:before {
  content: "\ea06";
}
.icon-list:before {
  content: "\ea07";
}
.icon-location-pin:before {
  content: "\ea08";
}
.icon-location4:before {
  content: "\ea09";
}
.icon-lock-open:before {
  content: "\ea0a";
}
.icon-lock2:before {
  content: "\ea0b";
}
.icon-log-out:before {
  content: "\ea0c";
}
.icon-login:before {
  content: "\ea0d";
}
.icon-loop:before {
  content: "\ea0e";
}
.icon-magnet:before {
  content: "\ea0f";
}
.icon-magnifying-glass:before {
  content: "\ea10";
}
.icon-mail:before {
  content: "\ea11";
}
.icon-man2:before {
  content: "\ea12";
}
.icon-map3:before {
  content: "\ea13";
}
.icon-mask:before {
  content: "\ea14";
}
.icon-medal:before {
  content: "\ea15";
}
.icon-megaphone:before {
  content: "\ea16";
}
.icon-menu:before {
  content: "\ea17";
}
.icon-message:before {
  content: "\ea18";
}
.icon-mic:before {
  content: "\ea19";
}
.icon-minus2:before {
  content: "\ea1a";
}
.icon-mobile3:before {
  content: "\ea1b";
}
.icon-modern-mic:before {
  content: "\ea1c";
}
.icon-moon2:before {
  content: "\ea1d";
}
.icon-mouse:before {
  content: "\ea1e";
}
.icon-music2:before {
  content: "\ea1f";
}
.icon-network:before {
  content: "\ea20";
}
.icon-new-message:before {
  content: "\ea21";
}
.icon-new:before {
  content: "\ea22";
}
.icon-news:before {
  content: "\ea23";
}
.icon-note:before {
  content: "\ea24";
}
.icon-notification2:before {
  content: "\ea25";
}
.icon-old-mobile:before {
  content: "\ea26";
}
.icon-old-phone:before {
  content: "\ea27";
}
.icon-palette:before {
  content: "\ea28";
}
.icon-paper-plane:before {
  content: "\ea29";
}
.icon-pencil:before {
  content: "\ea2a";
}
.icon-phone:before {
  content: "\ea2b";
}
.icon-pie-chart2:before {
  content: "\ea2c";
}
.icon-pin2:before {
  content: "\ea2d";
}
.icon-plus3:before {
  content: "\ea2e";
}
.icon-popup:before {
  content: "\ea2f";
}
.icon-power-plug:before {
  content: "\ea30";
}
.icon-price-ribbon:before {
  content: "\ea31";
}
.icon-price-tag2:before {
  content: "\ea32";
}
.icon-print:before {
  content: "\ea33";
}
.icon-progress-empty:before {
  content: "\ea34";
}
.icon-progress-full:before {
  content: "\ea35";
}
.icon-progress-one:before {
  content: "\ea36";
}
.icon-progress-two:before {
  content: "\ea37";
}
.icon-publish:before {
  content: "\ea38";
}
.icon-quote:before {
  content: "\ea39";
}
.icon-radio:before {
  content: "\ea3a";
}
.icon-reply-all2:before {
  content: "\ea3b";
}
.icon-reply3:before {
  content: "\ea3c";
}
.icon-retweet:before {
  content: "\ea3d";
}
.icon-rocket:before {
  content: "\ea3e";
}
.icon-round-brush:before {
  content: "\ea3f";
}
.icon-rss3:before {
  content: "\ea40";
}
.icon-ruler:before {
  content: "\ea41";
}
.icon-scissors2:before {
  content: "\ea42";
}
.icon-share-alternitive:before {
  content: "\ea43";
}
.icon-share3:before {
  content: "\ea44";
}
.icon-shareable:before {
  content: "\ea45";
}
.icon-shield:before {
  content: "\ea46";
}
.icon-shop:before {
  content: "\ea47";
}
.icon-shopping-bag:before {
  content: "\ea48";
}
.icon-shopping-basket:before {
  content: "\ea49";
}
.icon-shopping-cart:before {
  content: "\ea4a";
}
.icon-shuffle:before {
  content: "\ea4b";
}
.icon-signal:before {
  content: "\ea4c";
}
.icon-sound-mix:before {
  content: "\ea4d";
}
.icon-sports-club:before {
  content: "\ea4e";
}
.icon-spreadsheet:before {
  content: "\ea4f";
}
.icon-squared-cross:before {
  content: "\ea50";
}
.icon-squared-minus:before {
  content: "\ea51";
}
.icon-squared-plus:before {
  content: "\ea52";
}
.icon-star-outlined:before {
  content: "\ea53";
}
.icon-star:before {
  content: "\ea54";
}
.icon-stopwatch:before {
  content: "\ea55";
}
.icon-suitcase:before {
  content: "\ea56";
}
.icon-swap:before {
  content: "\ea57";
}
.icon-sweden:before {
  content: "\ea58";
}
.icon-switch3:before {
  content: "\ea59";
}
.icon-tablet:before {
  content: "\e93d";
}
.icon-tag3:before {
  content: "\e93e";
}
.icon-text-document-inverted:before {
  content: "\ea5a";
}
.icon-text-document:before {
  content: "\ea5b";
}
.icon-text:before {
  content: "\ea5c";
}
.icon-thermometer:before {
  content: "\ea5d";
}
.icon-thumbs-down:before {
  content: "\ea5e";
}
.icon-thumbs-up:before {
  content: "\ea5f";
}
.icon-thunder-cloud:before {
  content: "\ea60";
}
.icon-ticket2:before {
  content: "\ea61";
}
.icon-time-slot:before {
  content: "\ea62";
}
.icon-tree:before {
  content: "\ea63";
}
.icon-trophy2:before {
  content: "\e93f";
}
.icon-tv:before {
  content: "\ea64";
}
.icon-typing:before {
  content: "\ea65";
}
.icon-unread:before {
  content: "\ea66";
}
.icon-untag:before {
  content: "\ea67";
}
.icon-user3:before {
  content: "\ea68";
}
.icon-users3:before {
  content: "\ea69";
}
.icon-v-card:before {
  content: "\ea6a";
}
.icon-video:before {
  content: "\ea6b";
}
.icon-vinyl:before {
  content: "\ea6c";
}
.icon-wallet:before {
  content: "\ea6d";
}
.icon-water:before {
  content: "\ea6e";
}
.icon-behance:before {
  content: "\ea6f";
}
.icon-flattr:before {
  content: "\e940";
}
.icon-foursquare2:before {
  content: "\ea70";
}
.icon-grooveshark:before {
  content: "\ea71";
}
.icon-picasa:before {
  content: "\e941";
}
.icon-qq:before {
  content: "\e942";
}
.icon-skype-with-circle:before {
  content: "\ea72";
}
.icon-dribbble:before {
  content: "\ea73";
}
.icon-facebook-with-circle:before {
  content: "\ea74";
}
.icon-facebook2:before {
  content: "\ea75";
}
.icon-flickr-with-circle:before {
  content: "\ea76";
}
.icon-flickr3:before {
  content: "\ea77";
}
.icon-github-with-circle:before {
  content: "\ea78";
}
.icon-github:before {
  content: "\ea79";
}
.icon-google-with-circle:before {
  content: "\ea7a";
}
.icon-google2:before {
  content: "\ea7b";
}
.icon-instagram-with-circle:before {
  content: "\ea7c";
}
.icon-instagram2:before {
  content: "\ea7d";
}
.icon-linkedin-with-circle:before {
  content: "\ea7e";
}
.icon-linkedin:before {
  content: "\ea7f";
}
.icon-pinterest-with-circle:before {
  content: "\ea80";
}
.icon-pinterest:before {
  content: "\ea81";
}
.icon-tumblr-with-circle:before {
  content: "\ea82";
}
.icon-tumblr2:before {
  content: "\ea83";
}
.icon-twitter-with-circle:before {
  content: "\ea84";
}
.icon-twitter2:before {
  content: "\ea85";
}
.icon-vimeo-with-circle:before {
  content: "\ea86";
}
.icon-youtube-with-circle:before {
  content: "\ea87";
}
.icon-youtube2:before {
  content: "\ea88";
}
.icon-3d_rotation:before {
  content: "\e84d";
}
.icon-ac_unit:before {
  content: "\eb3b";
}
.icon-alarm:before {
  content: "\e855";
}
.icon-access_alarms:before {
  content: "\e191";
}
.icon-schedule:before {
  content: "\e8b5";
}
.icon-accessibility:before {
  content: "\e84e";
}
.icon-account_balance:before {
  content: "\e84f";
}
.icon-account_balance_wallet:before {
  content: "\e850";
}
.icon-account_box:before {
  content: "\e851";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-adb:before {
  content: "\e60e";
}
.icon-add:before {
  content: "\e145";
}
.icon-add_a_photo:before {
  content: "\e439";
}
.icon-alarm_add:before {
  content: "\e856";
}
.icon-add_alert:before {
  content: "\e003";
}
.icon-add_box:before {
  content: "\e146";
}
.icon-add_circle:before {
  content: "\e147";
}
.icon-control_point:before {
  content: "\e3ba";
}
.icon-add_shopping_cart:before {
  content: "\e854";
}
.icon-queue:before {
  content: "\e03c";
}
.icon-add_to_queue:before {
  content: "\e05c";
}
.icon-adjust2:before {
  content: "\e39e";
}
.icon-airline_seat_recline_extra:before {
  content: "\e636";
}
.icon-airline_seat_recline_normal:before {
  content: "\e637";
}
.icon-flight:before {
  content: "\e539";
}
.icon-airplay:before {
  content: "\e055";
}
.icon-airport_shuttle:before {
  content: "\eb3c";
}
.icon-alarm_on:before {
  content: "\e858";
}
.icon-album:before {
  content: "\e019";
}
.icon-all_inclusive:before {
  content: "\eb3d";
}
.icon-all_out:before {
  content: "\ea89";
}
.icon-android2:before {
  content: "\e859";
}
.icon-announcement:before {
  content: "\e85a";
}
.icon-apps:before {
  content: "\e5c3";
}
.icon-archive2:before {
  content: "\e149";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_down_circle:before {
  content: "\e5c6";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-art_track:before {
  content: "\e060";
}
.icon-aspect_ratio:before {
  content: "\e85b";
}
.icon-poll:before {
  content: "\e801";
}
.icon-assignment:before {
  content: "\e85d";
}
.icon-assignment_ind:before {
  content: "\e85e";
}
.icon-assignment_late:before {
  content: "\e85f";
}
.icon-assignment_return:before {
  content: "\e860";
}
.icon-assignment_returned:before {
  content: "\e861";
}
.icon-assignment_turned_in:before {
  content: "\e862";
}
.icon-assistant:before {
  content: "\e39f";
}
.icon-flag3:before {
  content: "\e153";
}
.icon-attach_file:before {
  content: "\e226";
}
.icon-attach_money:before {
  content: "\e227";
}
.icon-attachment3:before {
  content: "\e2bc";
}
.icon-audiotrack:before {
  content: "\e3a1";
}
.icon-autorenew:before {
  content: "\e863";
}
.icon-av_timer:before {
  content: "\e01b";
}
.icon-backspace:before {
  content: "\e14a";
}
.icon-cloud_upload:before {
  content: "\e2c3";
}
.icon-battery_alert:before {
  content: "\e19c";
}
.icon-battery_charging_full:before {
  content: "\e1a3";
}
.icon-battery_std:before {
  content: "\e1a5";
}
.icon-battery_unknown:before {
  content: "\e1a6";
}
.icon-beach_access:before {
  content: "\eb3e";
}
.icon-beenhere:before {
  content: "\e52d";
}
.icon-block2:before {
  content: "\e14b";
}
.icon-bluetooth:before {
  content: "\e1a7";
}
.icon-bluetooth_searching:before {
  content: "\e1aa";
}
.icon-bluetooth_connected:before {
  content: "\e1a8";
}
.icon-bluetooth_disabled:before {
  content: "\e1a9";
}
.icon-blur_circular:before {
  content: "\e3a2";
}
.icon-blur_on:before {
  content: "\e3a5";
}
.icon-turned_in:before {
  content: "\e8e6";
}
.icon-turned_in_not:before {
  content: "\e8e7";
}
.icon-border_all:before {
  content: "\e228";
}
.icon-branding_watermark:before {
  content: "\e06b";
}
.icon-brightness_1:before {
  content: "\e3a6";
}
.icon-brightness_2:before {
  content: "\e3a7";
}
.icon-brightness_3:before {
  content: "\e3a8";
}
.icon-brightness_4:before {
  content: "\e3a9";
}
.icon-brightness_low:before {
  content: "\e1ad";
}
.icon-brightness_medium:before {
  content: "\e1ae";
}
.icon-brightness_high:before {
  content: "\e1ac";
}
.icon-brightness_auto:before {
  content: "\e1ab";
}
.icon-broken_image:before {
  content: "\e3ad";
}
.icon-brush2:before {
  content: "\e3ae";
}
.icon-bubble_chart:before {
  content: "\e6dd";
}
.icon-bug_report:before {
  content: "\e868";
}
.icon-build:before {
  content: "\e869";
}
.icon-burst_mode:before {
  content: "\e43c";
}
.icon-domain:before {
  content: "\e7ee";
}
.icon-business_center:before {
  content: "\eb3f";
}
.icon-cached:before {
  content: "\e86a";
}
.icon-cake2:before {
  content: "\e7e9";
}
.icon-phone2:before {
  content: "\e0cd";
}
.icon-call_end:before {
  content: "\e0b1";
}
.icon-call_made:before {
  content: "\e0b2";
}
.icon-merge_type:before {
  content: "\e252";
}
.icon-call_missed:before {
  content: "\e0b4";
}
.icon-call_missed_outgoing:before {
  content: "\e0e4";
}
.icon-call_received:before {
  content: "\e0b5";
}
.icon-call_split:before {
  content: "\e0b6";
}
.icon-call_to_action:before {
  content: "\e06c";
}
.icon-camera4:before {
  content: "\e3af";
}
.icon-photo_camera:before {
  content: "\e412";
}
.icon-camera_enhance:before {
  content: "\e8fc";
}
.icon-camera_front:before {
  content: "\e3b1";
}
.icon-camera_rear:before {
  content: "\e3b2";
}
.icon-camera_roll:before {
  content: "\e3b3";
}
.icon-cancel2:before {
  content: "\e5c9";
}
.icon-redeem:before {
  content: "\e8b1";
}
.icon-card_membership:before {
  content: "\e8f7";
}
.icon-card_travel:before {
  content: "\e8f8";
}
.icon-casino:before {
  content: "\eb40";
}
.icon-cast:before {
  content: "\e307";
}
.icon-cast_connected:before {
  content: "\e308";
}
.icon-center_focus_strong:before {
  content: "\e3b4";
}
.icon-center_focus_weak:before {
  content: "\e3b5";
}
.icon-change_history:before {
  content: "\e86b";
}
.icon-chat2:before {
  content: "\e0b7";
}
.icon-chat_bubble:before {
  content: "\e0ca";
}
.icon-chat_bubble_outline:before {
  content: "\e0cb";
}
.icon-check2:before {
  content: "\e5ca";
}
.icon-check_box:before {
  content: "\e834";
}
.icon-check_box_outline_blank:before {
  content: "\e835";
}
.icon-check_circle:before {
  content: "\e86c";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-child_care:before {
  content: "\eb41";
}
.icon-child_friendly:before {
  content: "\eb42";
}
.icon-chrome_reader_mode:before {
  content: "\e86d";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-clear_all:before {
  content: "\e0b8";
}
.icon-closed_caption:before {
  content: "\e01c";
}
.icon-wb_cloudy:before {
  content: "\e42d";
}
.icon-cloud_circle:before {
  content: "\e2be";
}
.icon-cloud_done:before {
  content: "\e2bf";
}
.icon-cloud_download:before {
  content: "\e2c0";
}
.icon-cloud_off:before {
  content: "\e2c1";
}
.icon-cloud_queue:before {
  content: "\e2c2";
}
.icon-code2:before {
  content: "\e86f";
}
.icon-photo_library:before {
  content: "\e413";
}
.icon-collections_bookmark:before {
  content: "\e431";
}
.icon-palette2:before {
  content: "\e40a";
}
.icon-colorize:before {
  content: "\e3b8";
}
.icon-comment:before {
  content: "\e0b9";
}
.icon-compare:before {
  content: "\e3b9";
}
.icon-compare_arrows:before {
  content: "\ea8a";
}
.icon-laptop3:before {
  content: "\e31e";
}
.icon-confirmation_number:before {
  content: "\e638";
}
.icon-contact_mail:before {
  content: "\e0d0";
}
.icon-contact_phone:before {
  content: "\e0cf";
}
.icon-contacts:before {
  content: "\e0ba";
}
.icon-content_copy:before {
  content: "\e14d";
}
.icon-content_cut:before {
  content: "\e14e";
}
.icon-content_paste:before {
  content: "\e14f";
}
.icon-control_point_duplicate:before {
  content: "\e3bb";
}
.icon-copyright:before {
  content: "\ea8b";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-create_new_folder:before {
  content: "\e2cc";
}
.icon-payment:before {
  content: "\e8a1";
}
.icon-crop:before {
  content: "\e3be";
}
.icon-crop_16_9:before {
  content: "\e3bc";
}
.icon-crop_3_2:before {
  content: "\e3bd";
}
.icon-crop_landscape:before {
  content: "\e3c3";
}
.icon-crop_7_5:before {
  content: "\e3c0";
}
.icon-crop_din:before {
  content: "\e3c1";
}
.icon-crop_free:before {
  content: "\e3c2";
}
.icon-crop_original:before {
  content: "\e3c4";
}
.icon-crop_portrait:before {
  content: "\e3c5";
}
.icon-crop_rotate:before {
  content: "\e437";
}
.icon-crop_square:before {
  content: "\e3c6";
}
.icon-dashboard2:before {
  content: "\e871";
}
.icon-data_usage:before {
  content: "\e1af";
}
.icon-date_range:before {
  content: "\ea8c";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-delete:before {
  content: "\e872";
}
.icon-delete_forever:before {
  content: "\ea8d";
}
.icon-delete_sweep:before {
  content: "\e16c";
}
.icon-description:before {
  content: "\e873";
}
.icon-desktop_mac:before {
  content: "\e30b";
}
.icon-desktop_windows:before {
  content: "\e30c";
}
.icon-details:before {
  content: "\e3c8";
}
.icon-developer_board:before {
  content: "\e30d";
}
.icon-developer_mode:before {
  content: "\e1b0";
}
.icon-device_hub:before {
  content: "\e335";
}
.icon-phonelink:before {
  content: "\e326";
}
.icon-devices_other:before {
  content: "\e337";
}
.icon-dialer_sip:before {
  content: "\e0bb";
}
.icon-dialpad:before {
  content: "\e0bc";
}
.icon-directions:before {
  content: "\e52e";
}
.icon-directions_bike:before {
  content: "\e52f";
}
.icon-directions_boat:before {
  content: "\e532";
}
.icon-directions_bus:before {
  content: "\e530";
}
.icon-directions_car:before {
  content: "\e531";
}
.icon-directions_railway:before {
  content: "\e534";
}
.icon-directions_run:before {
  content: "\e566";
}
.icon-directions_transit:before {
  content: "\e535";
}
.icon-directions_walk:before {
  content: "\e536";
}
.icon-disc_full:before {
  content: "\e610";
}
.icon-dns:before {
  content: "\e875";
}
.icon-not_interested:before {
  content: "\e033";
}
.icon-do_not_disturb_alt:before {
  content: "\e611";
}
.icon-do_not_disturb_off:before {
  content: "\e643";
}
.icon-remove_circle:before {
  content: "\e15c";
}
.icon-dock:before {
  content: "\e30e";
}
.icon-done:before {
  content: "\e876";
}
.icon-done_all:before {
  content: "\e877";
}
.icon-donut_large:before {
  content: "\ea8e";
}
.icon-donut_small:before {
  content: "\ea8f";
}
.icon-drafts:before {
  content: "\e151";
}
.icon-drag_handle:before {
  content: "\e25d";
}
.icon-time_to_leave:before {
  content: "\e62c";
}
.icon-dvr:before {
  content: "\e1b2";
}
.icon-edit_location:before {
  content: "\e568";
}
.icon-eject:before {
  content: "\e8fb";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-enhanced_encryption:before {
  content: "\e63f";
}
.icon-equalizer2:before {
  content: "\e01d";
}
.icon-error:before {
  content: "\e000";
}
.icon-error_outline:before {
  content: "\e001";
}
.icon-euro_symbol:before {
  content: "\ea90";
}
.icon-ev_station:before {
  content: "\e56d";
}
.icon-insert_invitation:before {
  content: "\e24f";
}
.icon-event_available:before {
  content: "\e614";
}
.icon-event_busy:before {
  content: "\e615";
}
.icon-event_note:before {
  content: "\e616";
}
.icon-event_seat:before {
  content: "\ea91";
}
.icon-exit_to_app:before {
  content: "\e879";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-explicit:before {
  content: "\e01e";
}
.icon-explore:before {
  content: "\e87a";
}
.icon-exposure:before {
  content: "\e3ca";
}
.icon-extension:before {
  content: "\e87b";
}
.icon-face:before {
  content: "\e87c";
}
.icon-fast_forward:before {
  content: "\e01f";
}
.icon-fast_rewind:before {
  content: "\e020";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-featured_play_list:before {
  content: "\e06d";
}
.icon-sms_failed:before {
  content: "\e626";
}
.icon-fiber_manual_record:before {
  content: "\e061";
}
.icon-fiber_new:before {
  content: "\e0aa";
}
.icon-fiber_pin:before {
  content: "\e0ab";
}
.icon-get_app:before {
  content: "\e884";
}
.icon-file_upload:before {
  content: "\e2c6";
}
.icon-filter2:before {
  content: "\e3d3";
}
.icon-filter_center_focus:before {
  content: "\e3dc";
}
.icon-filter_drama:before {
  content: "\e3dd";
}
.icon-filter_frames:before {
  content: "\e3de";
}
.icon-terrain:before {
  content: "\e564";
}
.icon-filter_list:before {
  content: "\e152";
}
.icon-filter_none:before {
  content: "\e3e0";
}
.icon-filter_tilt_shift:before {
  content: "\e3e2";
}
.icon-filter_vintage:before {
  content: "\e3e3";
}
.icon-find_in_page:before {
  content: "\e880";
}
.icon-find_replace:before {
  content: "\e881";
}
.icon-fingerprint:before {
  content: "\ea92";
}
.icon-first_page:before {
  content: "\e5dc";
}
.icon-fitness_center:before {
  content: "\eb43";
}
.icon-flare:before {
  content: "\e3e4";
}
.icon-flash_auto:before {
  content: "\e3e5";
}
.icon-flash_off:before {
  content: "\e3e6";
}
.icon-flash_on:before {
  content: "\e3e7";
}
.icon-flight_land:before {
  content: "\ea93";
}
.icon-flight_takeoff:before {
  content: "\ea94";
}
.icon-flip:before {
  content: "\e3e8";
}
.icon-flip_to_back:before {
  content: "\e882";
}
.icon-flip_to_front:before {
  content: "\e883";
}
.icon-folder4:before {
  content: "\e2c7";
}
.icon-folder_open:before {
  content: "\e2c8";
}
.icon-folder_shared:before {
  content: "\e2c9";
}
.icon-folder_special:before {
  content: "\e617";
}
.icon-font_download:before {
  content: "\e167";
}
.icon-format_align_center:before {
  content: "\e234";
}
.icon-format_align_justify:before {
  content: "\e235";
}
.icon-format_align_left:before {
  content: "\e236";
}
.icon-format_align_right:before {
  content: "\e237";
}
.icon-format_bold:before {
  content: "\e238";
}
.icon-format_clear:before {
  content: "\e239";
}
.icon-format_color_fill:before {
  content: "\e23a";
}
.icon-format_color_reset:before {
  content: "\e23b";
}
.icon-format_color_text:before {
  content: "\e23c";
}
.icon-format_indent_decrease:before {
  content: "\e23d";
}
.icon-format_indent_increase:before {
  content: "\e23e";
}
.icon-format_italic:before {
  content: "\e23f";
}
.icon-format_line_spacing:before {
  content: "\e240";
}
.icon-format_list_bulleted:before {
  content: "\e241";
}
.icon-format_list_numbered:before {
  content: "\e242";
}
.icon-format_paint:before {
  content: "\e243";
}
.icon-format_quote:before {
  content: "\e244";
}
.icon-format_size:before {
  content: "\e245";
}
.icon-format_strikethrough:before {
  content: "\e246";
}
.icon-format_underlined:before {
  content: "\e249";
}
.icon-question_answer:before {
  content: "\e8af";
}
.icon-free_breakfast:before {
  content: "\eb44";
}
.icon-fullscreen:before {
  content: "\e5d0";
}
.icon-fullscreen_exit:before {
  content: "\e5d1";
}
.icon-functions:before {
  content: "\e24a";
}
.icon-games:before {
  content: "\e021";
}
.icon-gavel:before {
  content: "\ea95";
}
.icon-gif:before {
  content: "\ea96";
}
.icon-goat:before {
  content: "\ea97";
}
.icon-golf_course:before {
  content: "\eb45";
}
.icon-my_location:before {
  content: "\e55c";
}
.icon-location_searching:before {
  content: "\e1b7";
}
.icon-location_disabled:before {
  content: "\e1b6";
}
.icon-star2:before {
  content: "\e838";
}
.icon-gradient:before {
  content: "\e3e9";
}
.icon-grain:before {
  content: "\e3ea";
}
.icon-graphic_eq:before {
  content: "\e1b8";
}
.icon-grid_on:before {
  content: "\e3ec";
}
.icon-people:before {
  content: "\e7fb";
}
.icon-group_add:before {
  content: "\e7f0";
}
.icon-group_work:before {
  content: "\e886";
}
.icon-hd:before {
  content: "\e052";
}
.icon-hdr_strong:before {
  content: "\e3f1";
}
.icon-hdr_weak:before {
  content: "\e3f2";
}
.icon-headset:before {
  content: "\e310";
}
.icon-headset_mic:before {
  content: "\e311";
}
.icon-healing:before {
  content: "\e3f3";
}
.icon-hearing:before {
  content: "\e023";
}
.icon-help2:before {
  content: "\e887";
}
.icon-help_outline:before {
  content: "\e8fd";
}
.icon-highlight:before {
  content: "\e25f";
}
.icon-highlight_off:before {
  content: "\e888";
}
.icon-restore:before {
  content: "\e8b3";
}
.icon-home4:before {
  content: "\e88a";
}
.icon-hot_tub:before {
  content: "\eb46";
}
.icon-local_hotel:before {
  content: "\e549";
}
.icon-hourglass_empty:before {
  content: "\e88b";
}
.icon-hourglass_full:before {
  content: "\e88c";
}
.icon-http:before {
  content: "\ea98";
}
.icon-lock3:before {
  content: "\e897";
}
.icon-photo:before {
  content: "\e410";
}
.icon-image_aspect_ratio:before {
  content: "\e3f5";
}
.icon-import_contacts:before {
  content: "\e0e0";
}
.icon-import_export:before {
  content: "\e0c3";
}
.icon-important_devices:before {
  content: "\ea99";
}
.icon-inbox2:before {
  content: "\e156";
}
.icon-indeterminate_check_box:before {
  content: "\ea9a";
}
.icon-info3:before {
  content: "\e88e";
}
.icon-info_outline:before {
  content: "\e88f";
}
.icon-input:before {
  content: "\e890";
}
.icon-insert_comment:before {
  content: "\e24c";
}
.icon-insert_drive_file:before {
  content: "\e24d";
}
.icon-tag_faces:before {
  content: "\e420";
}
.icon-link3:before {
  content: "\e157";
}
.icon-invert_colors:before {
  content: "\e891";
}
.icon-invert_colors_off:before {
  content: "\e0c4";
}
.icon-iso:before {
  content: "\e3f6";
}
.icon-keyboard2:before {
  content: "\e312";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-keyboard_backspace:before {
  content: "\e317";
}
.icon-keyboard_capslock:before {
  content: "\e318";
}
.icon-keyboard_hide:before {
  content: "\e31a";
}
.icon-keyboard_return:before {
  content: "\e31b";
}
.icon-keyboard_tab:before {
  content: "\e31c";
}
.icon-keyboard_voice:before {
  content: "\e31d";
}
.icon-kitchen:before {
  content: "\eb47";
}
.icon-label:before {
  content: "\e892";
}
.icon-label_outline:before {
  content: "\e893";
}
.icon-language2:before {
  content: "\e894";
}
.icon-laptop_chromebook:before {
  content: "\e31f";
}
.icon-laptop_mac:before {
  content: "\e320";
}
.icon-laptop_windows:before {
  content: "\e321";
}
.icon-last_page:before {
  content: "\e5dd";
}
.icon-open_in_new:before {
  content: "\e89e";
}
.icon-layers2:before {
  content: "\e53b";
}
.icon-layers_clear:before {
  content: "\e53c";
}
.icon-leak_add:before {
  content: "\e3f8";
}
.icon-leak_remove:before {
  content: "\e3f9";
}
.icon-lens:before {
  content: "\e3fa";
}
.icon-library_books:before {
  content: "\e02f";
}
.icon-library_music:before {
  content: "\e030";
}
.icon-lightbulb_outline:before {
  content: "\ea9b";
}
.icon-line_style:before {
  content: "\ea9c";
}
.icon-line_weight:before {
  content: "\ea9d";
}
.icon-linear_scale:before {
  content: "\e260";
}
.icon-linked_camera:before {
  content: "\e438";
}
.icon-list2:before {
  content: "\e896";
}
.icon-live_help:before {
  content: "\e0c6";
}
.icon-live_tv:before {
  content: "\e639";
}
.icon-local_play:before {
  content: "\e553";
}
.icon-local_airport:before {
  content: "\e53d";
}
.icon-local_atm:before {
  content: "\e53e";
}
.icon-local_bar:before {
  content: "\e540";
}
.icon-local_cafe:before {
  content: "\e541";
}
.icon-local_car_wash:before {
  content: "\e542";
}
.icon-local_convenience_store:before {
  content: "\e543";
}
.icon-restaurant_menu:before {
  content: "\e561";
}
.icon-local_drink:before {
  content: "\e544";
}
.icon-local_florist:before {
  content: "\e545";
}
.icon-local_gas_station:before {
  content: "\e546";
}
.icon-shopping_cart:before {
  content: "\e8cc";
}
.icon-local_hospital:before {
  content: "\e548";
}
.icon-local_laundry_service:before {
  content: "\e54a";
}
.icon-local_library:before {
  content: "\e54b";
}
.icon-local_mall:before {
  content: "\e54c";
}
.icon-theaters:before {
  content: "\e8da";
}
.icon-local_offer:before {
  content: "\e54e";
}
.icon-local_parking:before {
  content: "\e54f";
}
.icon-local_pharmacy:before {
  content: "\e550";
}
.icon-local_pizza:before {
  content: "\e552";
}
.icon-print2:before {
  content: "\e8ad";
}
.icon-local_shipping:before {
  content: "\e558";
}
.icon-local_taxi:before {
  content: "\e559";
}
.icon-location_city:before {
  content: "\e7f1";
}
.icon-location_off:before {
  content: "\e0c7";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-lock_open:before {
  content: "\e898";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-looks:before {
  content: "\e3fc";
}
.icon-sync:before {
  content: "\e627";
}
.icon-loupe:before {
  content: "\e402";
}
.icon-low_priority:before {
  content: "\e16d";
}
.icon-loyalty:before {
  content: "\e89a";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-map4:before {
  content: "\e55b";
}
.icon-markunread_mailbox:before {
  content: "\e89b";
}
.icon-memory:before {
  content: "\e322";
}
.icon-menu5:before {
  content: "\e5d2";
}
.icon-message2:before {
  content: "\e0c9";
}
.icon-mic2:before {
  content: "\e029";
}
.icon-mic_none:before {
  content: "\e02a";
}
.icon-mic_off:before {
  content: "\e02b";
}
.icon-mms:before {
  content: "\e618";
}
.icon-mode_comment:before {
  content: "\e253";
}
.icon-monetization_on:before {
  content: "\e263";
}
.icon-money_off:before {
  content: "\e25c";
}
.icon-monochrome_photos:before {
  content: "\e403";
}
.icon-mood_bad:before {
  content: "\e7f3";
}
.icon-more:before {
  content: "\e619";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-motorcycle:before {
  content: "\ea9e";
}
.icon-mouse2:before {
  content: "\e323";
}
.icon-move_to_inbox:before {
  content: "\e168";
}
.icon-movie_creation:before {
  content: "\e404";
}
.icon-movie_filter:before {
  content: "\e43a";
}
.icon-multiline_chart:before {
  content: "\e6df";
}
.icon-music_note:before {
  content: "\e405";
}
.icon-music_video:before {
  content: "\e063";
}
.icon-nature:before {
  content: "\e406";
}
.icon-nature_people:before {
  content: "\e407";
}
.icon-navigation:before {
  content: "\e55d";
}
.icon-near_me:before {
  content: "\e569";
}
.icon-network_cell:before {
  content: "\e1b9";
}
.icon-network_check:before {
  content: "\e640";
}
.icon-network_locked:before {
  content: "\e61a";
}
.icon-network_wifi:before {
  content: "\e1ba";
}
.icon-new_releases:before {
  content: "\e031";
}
.icon-next_week:before {
  content: "\e16a";
}
.icon-nfc:before {
  content: "\e1bb";
}
.icon-no_encryption:before {
  content: "\e641";
}
.icon-signal_cellular_no_sim:before {
  content: "\e1ce";
}
.icon-note2:before {
  content: "\e06f";
}
.icon-note_add:before {
  content: "\e89c";
}
.icon-notifications:before {
  content: "\e7f4";
}
.icon-notifications_active:before {
  content: "\e7f7";
}
.icon-notifications_none:before {
  content: "\e7f5";
}
.icon-notifications_off:before {
  content: "\e7f6";
}
.icon-notifications_paused:before {
  content: "\e7f8";
}
.icon-offline_pin:before {
  content: "\ea9f";
}
.icon-ondemand_video:before {
  content: "\e63a";
}
.icon-opacity:before {
  content: "\eaa0";
}
.icon-open_in_browser:before {
  content: "\e89d";
}
.icon-open_with:before {
  content: "\e89f";
}
.icon-pages:before {
  content: "\e7f9";
}
.icon-pageview:before {
  content: "\e8a0";
}
.icon-pan_tool:before {
  content: "\eaa1";
}
.icon-panorama:before {
  content: "\e40b";
}
.icon-radio_button_unchecked:before {
  content: "\e836";
}
.icon-panorama_horizontal:before {
  content: "\e40d";
}
.icon-panorama_vertical:before {
  content: "\e40e";
}
.icon-panorama_wide_angle:before {
  content: "\e40f";
}
.icon-party_mode:before {
  content: "\e7fa";
}
.icon-pause:before {
  content: "\e034";
}
.icon-pause_circle_filled:before {
  content: "\e035";
}
.icon-pause_circle_outline:before {
  content: "\e036";
}
.icon-people_outline:before {
  content: "\e7fc";
}
.icon-perm_camera_mic:before {
  content: "\e8a2";
}
.icon-perm_contact_calendar:before {
  content: "\e8a3";
}
.icon-perm_data_setting:before {
  content: "\e8a4";
}
.icon-perm_device_information:before {
  content: "\e8a5";
}
.icon-person_outline:before {
  content: "\e7ff";
}
.icon-perm_media:before {
  content: "\e8a7";
}
.icon-perm_phone_msg:before {
  content: "\e8a8";
}
.icon-perm_scan_wifi:before {
  content: "\e8a9";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-person_pin:before {
  content: "\e55a";
}
.icon-person_pin_circle:before {
  content: "\e56a";
}
.icon-personal_video:before {
  content: "\e63b";
}
.icon-pets:before {
  content: "\eaa2";
}
.icon-phone_android:before {
  content: "\e324";
}
.icon-phone_forwarded:before {
  content: "\e61c";
}
.icon-phone_in_talk:before {
  content: "\e61d";
}
.icon-phone_iphone:before {
  content: "\e325";
}
.icon-phone_locked:before {
  content: "\e61e";
}
.icon-phone_missed:before {
  content: "\e61f";
}
.icon-phone_paused:before {
  content: "\e620";
}
.icon-phonelink_erase:before {
  content: "\e0db";
}
.icon-phonelink_lock:before {
  content: "\e0dc";
}
.icon-phonelink_off:before {
  content: "\e327";
}
.icon-phonelink_ring:before {
  content: "\e0dd";
}
.icon-phonelink_setup:before {
  content: "\e0de";
}
.icon-photo_album:before {
  content: "\e411";
}
.icon-photo_filter:before {
  content: "\e43b";
}
.icon-photo_size_select_actual:before {
  content: "\e432";
}
.icon-photo_size_select_large:before {
  content: "\e433";
}
.icon-photo_size_select_small:before {
  content: "\e434";
}
.icon-picture_as_pdf:before {
  content: "\e415";
}
.icon-picture_in_picture:before {
  content: "\e8aa";
}
.icon-picture_in_picture_alt:before {
  content: "\eaa3";
}
.icon-pie_chart:before {
  content: "\e6c4";
}
.icon-pie_chart_outlined:before {
  content: "\e6c5";
}
.icon-pin_drop:before {
  content: "\e55e";
}
.icon-play_arrow:before {
  content: "\e037";
}
.icon-play_circle_filled:before {
  content: "\e038";
}
.icon-play_circle_outline:before {
  content: "\e039";
}
.icon-play_for_work:before {
  content: "\eaa4";
}
.icon-playlist_add:before {
  content: "\e03b";
}
.icon-playlist_add_check:before {
  content: "\e065";
}
.icon-playlist_play:before {
  content: "\e05f";
}
.icon-polymer:before {
  content: "\e8ab";
}
.icon-pool:before {
  content: "\eb48";
}
.icon-portable_wifi_off:before {
  content: "\e0ce";
}
.icon-portrait:before {
  content: "\e416";
}
.icon-power:before {
  content: "\e63c";
}
.icon-power_input:before {
  content: "\e336";
}
.icon-power_settings_new:before {
  content: "\e8ac";
}
.icon-pregnant_woman:before {
  content: "\eaa5";
}
.icon-present_to_all:before {
  content: "\e0df";
}
.icon-priority_high:before {
  content: "\e645";
}
.icon-public:before {
  content: "\e80b";
}
.icon-publish2:before {
  content: "\e255";
}
.icon-queue_music:before {
  content: "\e03d";
}
.icon-queue_play_next:before {
  content: "\e066";
}
.icon-radio2:before {
  content: "\e03e";
}
.icon-radio_button_checked:before {
  content: "\e837";
}
.icon-rate_review:before {
  content: "\e560";
}
.icon-receipt:before {
  content: "\e8b0";
}
.icon-recent_actors:before {
  content: "\e03f";
}
.icon-record_voice_over:before {
  content: "\eaa6";
}
.icon-redo3:before {
  content: "\e15a";
}
.icon-refresh2:before {
  content: "\e5d5";
}
.icon-remove:before {
  content: "\e15b";
}
.icon-remove_circle_outline:before {
  content: "\e15d";
}
.icon-remove_from_queue:before {
  content: "\e067";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-remove_shopping_cart:before {
  content: "\eaa7";
}
.icon-reorder:before {
  content: "\e8fe";
}
.icon-repeat:before {
  content: "\e040";
}
.icon-replay:before {
  content: "\e042";
}
.icon-reply4:before {
  content: "\e15e";
}
.icon-reply_all:before {
  content: "\e15f";
}
.icon-report:before {
  content: "\e160";
}
.icon-warning3:before {
  content: "\e002";
}
.icon-restaurant:before {
  content: "\e56c";
}
.icon-restore_page:before {
  content: "\eaa8";
}
.icon-ring_volume:before {
  content: "\e0d1";
}
.icon-room_service:before {
  content: "\eb49";
}
.icon-rotate_90_degrees_ccw:before {
  content: "\e418";
}
.icon-rotate_left:before {
  content: "\e419";
}
.icon-rotate_right:before {
  content: "\e41a";
}
.icon-router:before {
  content: "\e328";
}
.icon-rowing:before {
  content: "\eaa9";
}
.icon-rss_feed:before {
  content: "\e0e5";
}
.icon-satellite:before {
  content: "\e562";
}
.icon-save2:before {
  content: "\e161";
}
.icon-scanner:before {
  content: "\e329";
}
.icon-school:before {
  content: "\e80c";
}
.icon-screen_lock_landscape:before {
  content: "\e1be";
}
.icon-screen_lock_portrait:before {
  content: "\e1bf";
}
.icon-screen_lock_rotation:before {
  content: "\e1c0";
}
.icon-screen_rotation:before {
  content: "\e1c1";
}
.icon-screen_share:before {
  content: "\e0e2";
}
.icon-sd_storage:before {
  content: "\e1c2";
}
.icon-search3:before {
  content: "\e8b6";
}
.icon-security:before {
  content: "\e32a";
}
.icon-select_all:before {
  content: "\e162";
}
.icon-send:before {
  content: "\e163";
}
.icon-sentiment_dissatisfied:before {
  content: "\e811";
}
.icon-sentiment_neutral:before {
  content: "\e812";
}
.icon-sentiment_satisfied:before {
  content: "\e813";
}
.icon-sentiment_very_dissatisfied:before {
  content: "\e814";
}
.icon-sentiment_very_satisfied:before {
  content: "\e815";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-settings_applications:before {
  content: "\e8b9";
}
.icon-settings_backup_restore:before {
  content: "\e8ba";
}
.icon-settings_bluetooth:before {
  content: "\e8bb";
}
.icon-settings_brightness:before {
  content: "\e8bd";
}
.icon-settings_cell:before {
  content: "\e8bc";
}
.icon-settings_ethernet:before {
  content: "\e8be";
}
.icon-settings_input_antenna:before {
  content: "\e8bf";
}
.icon-settings_input_composite:before {
  content: "\e8c1";
}
.icon-settings_input_hdmi:before {
  content: "\e8c2";
}
.icon-settings_input_svideo:before {
  content: "\e8c3";
}
.icon-settings_overscan:before {
  content: "\e8c4";
}
.icon-settings_phone:before {
  content: "\e8c5";
}
.icon-settings_power:before {
  content: "\e8c6";
}
.icon-settings_remote:before {
  content: "\e8c7";
}
.icon-settings_system_daydream:before {
  content: "\e1c3";
}
.icon-settings_voice:before {
  content: "\e8c8";
}
.icon-share4:before {
  content: "\e80d";
}
.icon-shop2:before {
  content: "\e8c9";
}
.icon-shop_two:before {
  content: "\e8ca";
}
.icon-shopping_basket:before {
  content: "\e8cb";
}
.icon-short_text:before {
  content: "\e261";
}
.icon-show_chart:before {
  content: "\e6e1";
}
.icon-shuffle2:before {
  content: "\e043";
}
.icon-signal_cellular_4_bar:before {
  content: "\e1c8";
}
.icon-signal_cellular_connected_no_internet_4_bar:before {
  content: "\e1cd";
}
.icon-signal_cellular_null:before {
  content: "\e1cf";
}
.icon-signal_cellular_off:before {
  content: "\e1d0";
}
.icon-signal_wifi_4_bar:before {
  content: "\e1d8";
}
.icon-signal_wifi_4_bar_lock:before {
  content: "\e1d9";
}
.icon-signal_wifi_off:before {
  content: "\e1da";
}
.icon-sim_card:before {
  content: "\e32b";
}
.icon-sim_card_alert:before {
  content: "\e624";
}
.icon-skip_next:before {
  content: "\e044";
}
.icon-skip_previous:before {
  content: "\e045";
}
.icon-slideshow:before {
  content: "\e41b";
}
.icon-slow_motion_video:before {
  content: "\e068";
}
.icon-smoke_free:before {
  content: "\eb4a";
}
.icon-smoking_rooms:before {
  content: "\eb4b";
}
.icon-textsms:before {
  content: "\e0d8";
}
.icon-snooze:before {
  content: "\e046";
}
.icon-sort:before {
  content: "\e164";
}
.icon-sort_by_alpha:before {
  content: "\e053";
}
.icon-spa:before {
  content: "\eb4c";
}
.icon-space_bar:before {
  content: "\e256";
}
.icon-speaker:before {
  content: "\e32d";
}
.icon-speaker_group:before {
  content: "\e32e";
}
.icon-speaker_notes:before {
  content: "\e8cd";
}
.icon-speaker_notes_off:before {
  content: "\eaaa";
}
.icon-speaker_phone:before {
  content: "\e0d2";
}
.icon-spellcheck:before {
  content: "\e8ce";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-star_half:before {
  content: "\e839";
}
.icon-stars:before {
  content: "\e8d0";
}
.icon-stay_primary_landscape:before {
  content: "\e0d5";
}
.icon-stop:before {
  content: "\e047";
}
.icon-stop_screen_share:before {
  content: "\e0e3";
}
.icon-storage:before {
  content: "\e1db";
}
.icon-store_mall_directory:before {
  content: "\e563";
}
.icon-straighten:before {
  content: "\e41c";
}
.icon-streetview:before {
  content: "\e56e";
}
.icon-strikethrough_s:before {
  content: "\e257";
}
.icon-style:before {
  content: "\e41d";
}
.icon-subdirectory_arrow_left:before {
  content: "\e5d9";
}
.icon-subdirectory_arrow_right:before {
  content: "\e5da";
}
.icon-subject:before {
  content: "\e8d2";
}
.icon-subscriptions:before {
  content: "\e064";
}
.icon-subtitles:before {
  content: "\e048";
}
.icon-subway:before {
  content: "\e56f";
}
.icon-supervisor_account:before {
  content: "\e8d3";
}
.icon-surround_sound:before {
  content: "\e049";
}
.icon-swap_calls:before {
  content: "\e0d7";
}
.icon-swap_horiz:before {
  content: "\e8d4";
}
.icon-swap_vert:before {
  content: "\e8d5";
}
.icon-swap_vertical_circle:before {
  content: "\e8d6";
}
.icon-switch_camera:before {
  content: "\e41e";
}
.icon-switch_video:before {
  content: "\e41f";
}
.icon-sync_disabled:before {
  content: "\e628";
}
.icon-sync_problem:before {
  content: "\e629";
}
.icon-system_update:before {
  content: "\e62a";
}
.icon-system_update_alt:before {
  content: "\e8d7";
}
.icon-tab_unselected:before {
  content: "\e8d9";
}
.icon-tablet2:before {
  content: "\e32f";
}
.icon-tablet_android:before {
  content: "\e330";
}
.icon-tablet_mac:before {
  content: "\e331";
}
.icon-tap_and_play:before {
  content: "\e62b";
}
.icon-text_fields:before {
  content: "\e262";
}
.icon-text_format:before {
  content: "\e165";
}
.icon-texture:before {
  content: "\e421";
}
.icon-thumb_down:before {
  content: "\e8db";
}
.icon-thumb_up:before {
  content: "\e8dc";
}
.icon-thumbs_up_down:before {
  content: "\e8dd";
}
.icon-timelapse:before {
  content: "\e422";
}
.icon-timeline:before {
  content: "\eaab";
}
.icon-timer:before {
  content: "\e425";
}
.icon-timer_off:before {
  content: "\e426";
}
.icon-title:before {
  content: "\e264";
}
.icon-toc:before {
  content: "\e8de";
}
.icon-today:before {
  content: "\e8df";
}
.icon-toll:before {
  content: "\e8e0";
}
.icon-tonality:before {
  content: "\e427";
}
.icon-touch_app:before {
  content: "\eaac";
}
.icon-toys:before {
  content: "\e332";
}
.icon-track_changes:before {
  content: "\e8e1";
}
.icon-traffic:before {
  content: "\e565";
}
.icon-train:before {
  content: "\e570";
}
.icon-tram:before {
  content: "\e571";
}
.icon-transfer_within_a_station:before {
  content: "\e572";
}
.icon-transform:before {
  content: "\e428";
}
.icon-trending_down:before {
  content: "\e8e3";
}
.icon-trending_flat:before {
  content: "\e8e4";
}
.icon-trending_up:before {
  content: "\e8e5";
}
.icon-tune:before {
  content: "\e429";
}
.icon-tv2:before {
  content: "\e333";
}
.icon-unarchive:before {
  content: "\e169";
}
.icon-undo3:before {
  content: "\e166";
}
.icon-unfold_less:before {
  content: "\e5d6";
}
.icon-unfold_more:before {
  content: "\e5d7";
}
.icon-update:before {
  content: "\eaad";
}
.icon-usb:before {
  content: "\e1e0";
}
.icon-verified_user:before {
  content: "\e8e8";
}
.icon-vertical_align_bottom:before {
  content: "\e258";
}
.icon-vertical_align_center:before {
  content: "\e259";
}
.icon-vertical_align_top:before {
  content: "\e25a";
}
.icon-vibration:before {
  content: "\e62d";
}
.icon-video_call:before {
  content: "\e070";
}
.icon-video_label:before {
  content: "\e071";
}
.icon-video_library:before {
  content: "\e04a";
}
.icon-videocam:before {
  content: "\e04b";
}
.icon-videocam_off:before {
  content: "\e04c";
}
.icon-videogame_asset:before {
  content: "\e338";
}
.icon-view_agenda:before {
  content: "\e8e9";
}
.icon-view_array:before {
  content: "\e8ea";
}
.icon-view_carousel:before {
  content: "\e8eb";
}
.icon-view_column:before {
  content: "\e8ec";
}
.icon-view_comfy:before {
  content: "\e42a";
}
.icon-view_compact:before {
  content: "\e42b";
}
.icon-view_day:before {
  content: "\e8ed";
}
.icon-view_headline:before {
  content: "\e8ee";
}
.icon-view_list:before {
  content: "\e8ef";
}
.icon-view_module:before {
  content: "\e8f0";
}
.icon-view_quilt:before {
  content: "\e8f1";
}
.icon-view_stream:before {
  content: "\e8f2";
}
.icon-view_week:before {
  content: "\e8f3";
}
.icon-vignette:before {
  content: "\e435";
}
.icon-visibility_off:before {
  content: "\e8f5";
}
.icon-voice_chat:before {
  content: "\e62e";
}
.icon-voicemail:before {
  content: "\e0d9";
}
.icon-volume_down:before {
  content: "\e04d";
}
.icon-volume_mute:before {
  content: "\e04e";
}
.icon-volume_off:before {
  content: "\e04f";
}
.icon-volume_up:before {
  content: "\e050";
}
.icon-vpn_key:before {
  content: "\e0da";
}
.icon-vpn_lock:before {
  content: "\e62f";
}
.icon-wallpaper:before {
  content: "\e1bc";
}
.icon-watch:before {
  content: "\e334";
}
.icon-watch_later:before {
  content: "\eaae";
}
.icon-wb_auto:before {
  content: "\e42c";
}
.icon-wb_incandescent:before {
  content: "\e42e";
}
.icon-wb_iridescent:before {
  content: "\e436";
}
.icon-wb_sunny:before {
  content: "\e430";
}
.icon-wc:before {
  content: "\e63d";
}
.icon-web:before {
  content: "\e051";
}
.icon-web_asset:before {
  content: "\e069";
}
.icon-weekend:before {
  content: "\e16b";
}
.icon-whatshot:before {
  content: "\e80e";
}
.icon-widgets:before {
  content: "\e1bd";
}
.icon-wifi:before {
  content: "\e63e";
}
.icon-wifi_lock:before {
  content: "\e1e1";
}
.icon-wifi_tethering:before {
  content: "\e1e2";
}
.icon-work:before {
  content: "\e8f9";
}
.icon-youtube_searched_for:before {
  content: "\e8fa";
}
.icon-zoom_in:before {
  content: "\e8ff";
}
.icon-zoom_out:before {
  content: "\eaaf";
}
.icon-zoom_out_map:before {
  content: "\e56b";
}
.icon-eye4:before {
  content: "\e004";
}
.icon-paper-clip:before {
  content: "\e005";
}
.icon-mail2:before {
  content: "\e006";
}
.icon-toggle:before {
  content: "\e007";
}
.icon-layout:before {
  content: "\e008";
}
.icon-link4:before {
  content: "\e009";
}
.icon-bell3:before {
  content: "\e00a";
}
.icon-lock4:before {
  content: "\e00b";
}
.icon-unlock:before {
  content: "\e00c";
}
.icon-ribbon:before {
  content: "\e00d";
}
.icon-image4:before {
  content: "\e010";
}
.icon-signal2:before {
  content: "\e011";
}
.icon-target2:before {
  content: "\e012";
}
.icon-clipboard2:before {
  content: "\e013";
}
.icon-clock3:before {
  content: "\e014";
}
.icon-watch2:before {
  content: "\e015";
}
.icon-air-play:before {
  content: "\e016";
}
.icon-camera5:before {
  content: "\e017";
}
.icon-video2:before {
  content: "\e018";
}
.icon-disc:before {
  content: "\e01a";
}
.icon-printer2:before {
  content: "\e022";
}
.icon-monitor2:before {
  content: "\e024";
}
.icon-server:before {
  content: "\e025";
}
.icon-cog4:before {
  content: "\e026";
}
.icon-heart4:before {
  content: "\e027";
}
.icon-paragraph:before {
  content: "\e028";
}
.icon-align-justify:before {
  content: "\e02c";
}
.icon-align-left2:before {
  content: "\e02d";
}
.icon-align-center:before {
  content: "\e02e";
}
.icon-align-right2:before {
  content: "\e032";
}
.icon-book4:before {
  content: "\e03a";
}
.icon-layers3:before {
  content: "\e041";
}
.icon-stack2:before {
  content: "\e054";
}
.icon-stack-2:before {
  content: "\e056";
}
.icon-paper:before {
  content: "\e057";
}
.icon-paper-stack:before {
  content: "\e058";
}
.icon-search4:before {
  content: "\e059";
}
.icon-zoom-in:before {
  content: "\e05a";
}
.icon-zoom-out:before {
  content: "\e05b";
}
.icon-reply5:before {
  content: "\e05d";
}
.icon-circle-plus:before {
  content: "\e05e";
}
.icon-circle-minus:before {
  content: "\e062";
}
.icon-circle-check:before {
  content: "\e06a";
}
.icon-circle-cross:before {
  content: "\e06e";
}
.icon-square-plus:before {
  content: "\e072";
}
.icon-square-minus:before {
  content: "\e073";
}
.icon-square-check:before {
  content: "\e074";
}
.icon-square-cross:before {
  content: "\e075";
}
.icon-microphone2:before {
  content: "\e076";
}
.icon-record:before {
  content: "\e077";
}
.icon-skip-back:before {
  content: "\e078";
}
.icon-rewind:before {
  content: "\e079";
}
.icon-play3:before {
  content: "\e07a";
}
.icon-pause2:before {
  content: "\e07b";
}
.icon-stop2:before {
  content: "\e07c";
}
.icon-fast-forward2:before {
  content: "\e07d";
}
.icon-skip-forward:before {
  content: "\e07e";
}
.icon-shuffle3:before {
  content: "\e07f";
}
.icon-repeat2:before {
  content: "\e080";
}
.icon-folder5:before {
  content: "\e081";
}
.icon-umbrella:before {
  content: "\e082";
}
.icon-moon3:before {
  content: "\e083";
}
.icon-thermometer2:before {
  content: "\e084";
}
.icon-drop2:before {
  content: "\e085";
}
.icon-sun3:before {
  content: "\e086";
}
.icon-cloud3:before {
  content: "\e087";
}
.icon-cloud-upload2:before {
  content: "\e088";
}
.icon-cloud-download2:before {
  content: "\e089";
}
.icon-upload6:before {
  content: "\e08a";
}
.icon-download6:before {
  content: "\e08b";
}
.icon-location5:before {
  content: "\e08c";
}
.icon-location-2:before {
  content: "\e08d";
}
.icon-map5:before {
  content: "\e08e";
}
.icon-battery2:before {
  content: "\e08f";
}
.icon-head:before {
  content: "\e090";
}
.icon-briefcase3:before {
  content: "\e091";
}
.icon-speech-bubble:before {
  content: "\e092";
}
.icon-anchor:before {
  content: "\e093";
}
.icon-globe2:before {
  content: "\e094";
}
.icon-box3:before {
  content: "\e095";
}
.icon-reload:before {
  content: "\e096";
}
.icon-share5:before {
  content: "\e097";
}
.icon-marquee:before {
  content: "\e098";
}
.icon-marquee-plus:before {
  content: "\e099";
}
.icon-marquee-minus:before {
  content: "\e09a";
}
.icon-tag2:before {
  content: "\e09b";
}
.icon-power2:before {
  content: "\e09c";
}
.icon-command:before {
  content: "\e09d";
}
.icon-alt:before {
  content: "\e09e";
}
.icon-esc:before {
  content: "\e09f";
}
.icon-bar-graph:before {
  content: "\e0a0";
}
.icon-bar-graph-2:before {
  content: "\e0a1";
}
.icon-pie-graph:before {
  content: "\e0a2";
}
.icon-star3:before {
  content: "\e0a3";
}
.icon-arrow-left3:before {
  content: "\e0a4";
}
.icon-arrow-right3:before {
  content: "\e0a5";
}
.icon-arrow-up3:before {
  content: "\e0a6";
}
.icon-arrow-down3:before {
  content: "\e0a7";
}
.icon-volume:before {
  content: "\e0a8";
}
.icon-mute:before {
  content: "\e0a9";
}
.icon-content-right:before {
  content: "\e100";
}
.icon-content-left:before {
  content: "\e101";
}
.icon-grid2:before {
  content: "\e102";
}
.icon-grid-2:before {
  content: "\e103";
}
.icon-columns:before {
  content: "\e104";
}
.icon-loader:before {
  content: "\e105";
}
.icon-bag:before {
  content: "\e106";
}
.icon-ban:before {
  content: "\e107";
}
.icon-flag4:before {
  content: "\e108";
}
.icon-trash2:before {
  content: "\e109";
}
.icon-expand:before {
  content: "\e110";
}
.icon-contract:before {
  content: "\e111";
}
.icon-maximize:before {
  content: "\e112";
}
.icon-minimize:before {
  content: "\e113";
}
.icon-plus4:before {
  content: "\e114";
}
.icon-minus3:before {
  content: "\e115";
}
.icon-check3:before {
  content: "\e116";
}
.icon-cross4:before {
  content: "\e117";
}
.icon-move:before {
  content: "\e118";
}
.icon-delete2:before {
  content: "\e119";
}
.icon-menu6:before {
  content: "\e120";
}
.icon-archive3:before {
  content: "\e121";
}
.icon-inbox3:before {
  content: "\e122";
}
.icon-outbox:before {
  content: "\e123";
}
.icon-file:before {
  content: "\e124";
}
.icon-file-add:before {
  content: "\e125";
}
.icon-file-subtract:before {
  content: "\e126";
}
.icon-help3:before {
  content: "\e127";
}
.icon-open:before {
  content: "\e128";
}
.icon-ellipsis:before {
  content: "\e129";
}
.icon-sunrise:before {
  content: "\eab0";
}
.icon-sun4:before {
  content: "\eab1";
}
.icon-moon4:before {
  content: "\eab2";
}
.icon-sun5:before {
  content: "\eab3";
}
.icon-windy:before {
  content: "\eab4";
}
.icon-wind:before {
  content: "\eab5";
}
.icon-snowflake:before {
  content: "\eab6";
}
.icon-cloudy:before {
  content: "\eab7";
}
.icon-cloud4:before {
  content: "\eab8";
}
.icon-weather:before {
  content: "\eab9";
}
.icon-weather2:before {
  content: "\eaba";
}
.icon-weather3:before {
  content: "\eabb";
}
.icon-lines:before {
  content: "\eabc";
}
.icon-cloud5:before {
  content: "\eabd";
}
.icon-lightning:before {
  content: "\eabe";
}
.icon-lightning2:before {
  content: "\eabf";
}
.icon-rainy:before {
  content: "\eac0";
}
.icon-rainy2:before {
  content: "\eac1";
}
.icon-windy2:before {
  content: "\eac2";
}
.icon-windy3:before {
  content: "\eac3";
}
.icon-snowy:before {
  content: "\eac4";
}
.icon-snowy2:before {
  content: "\eac5";
}
.icon-snowy3:before {
  content: "\eac6";
}
.icon-weather4:before {
  content: "\eac7";
}
.icon-cloudy2:before {
  content: "\eac8";
}
.icon-cloud6:before {
  content: "\eac9";
}
.icon-lightning3:before {
  content: "\eaca";
}
.icon-sun6:before {
  content: "\eacb";
}
.icon-moon5:before {
  content: "\eacc";
}
.icon-cloudy3:before {
  content: "\eacd";
}
.icon-cloud7:before {
  content: "\eace";
}
.icon-cloud8:before {
  content: "\eacf";
}
.icon-lightning4:before {
  content: "\ead0";
}
.icon-rainy3:before {
  content: "\ead1";
}
.icon-rainy4:before {
  content: "\ead2";
}
.icon-windy4:before {
  content: "\ead3";
}
.icon-windy5:before {
  content: "\ead4";
}
.icon-snowy4:before {
  content: "\ead5";
}
.icon-snowy5:before {
  content: "\ead6";
}
.icon-weather5:before {
  content: "\ead7";
}
.icon-cloudy4:before {
  content: "\ead8";
}
.icon-lightning5:before {
  content: "\ead9";
}
.icon-spinner:before {
  content: "\eb1e";
}
.icon-spinner2:before {
  content: "\e9fc";
}
.icon-spinner3:before {
  content: "\eb1f";
}
.icon-spinner7:before {
  content: "\eada";
}
.icon-spinner9:before {
  content: "\eadb";
}
.icon-star-empty:before {
  content: "\eb62";
}
.icon-star-half:before {
  content: "\eb63";
}
.icon-star-full:before {
  content: "\eb64";
}
.icon-man:before {
  content: "\eb67";
}
.icon-woman:before {
  content: "\eb68";
}
.icon-cross:before {
  content: "\eb92";
}
.icon-checkmark:before {
  content: "\eb93";
}
.icon-arrow-up-left2:before {
  content: "\eb98";
}
.icon-arrow-up2:before {
  content: "\eb99";
}
.icon-arrow-up-right2:before {
  content: "\eb9a";
}
.icon-arrow-right2:before {
  content: "\eb9b";
}
.icon-arrow-down-right2:before {
  content: "\eb9c";
}
.icon-arrow-down2:before {
  content: "\eb9d";
}
.icon-arrow-down-left2:before {
  content: "\eb9e";
}
.icon-arrow-left2:before {
  content: "\eb9f";
}
.icon-circle-up:before {
  content: "\eba0";
}
.icon-circle-right:before {
  content: "\eba1";
}
.icon-circle-down:before {
  content: "\eba2";
}
.icon-circle-left:before {
  content: "\eba3";
}
.icon-move-up:before {
  content: "\eba4";
}
.icon-move-down:before {
  content: "\eba5";
}
.icon-checkbox-checked:before {
  content: "\ebaf";
}
.icon-checkbox-unchecked:before {
  content: "\ebb0";
}
.icon-radio-checked:before {
  content: "\ebb1";
}
.icon-radio-checked2:before {
  content: "\ebb2";
}
.icon-google-plus2:before {
  content: "\eadc";
}
.icon-facebook22:before {
  content: "\eadd";
}
.icon-twitter:before {
  content: "\ebd3";
}
.icon-tumblr22:before {
  content: "\eade";
}
.icon-appleinc:before {
  content: "\ebda";
}
.icon-android:before {
  content: "\ebdb";
}
.icon-windows8:before {
  content: "\ebdc";
}
.icon-hackernews:before {
  content: "\eadf";
}
.icon-linkedin2:before {
  content: "\ebdd";
}
.icon-stackoverflow:before {
  content: "\ebde";
}
.icon-pinterest2:before {
  content: "\ebdf";
}
.icon-paypal:before {
  content: "\ebe1";
}
.icon-chrome:before {
  content: "\ebe2";
}
.icon-firefox:before {
  content: "\ebe3";
}
.icon-IE:before {
  content: "\ebe4";
}
.icon-edge:before {
  content: "\ebe5";
}
.icon-safari:before {
  content: "\ebe6";
}
.icon-opera:before {
  content: "\ebe7";
}
.icon-file-pdf:before {
  content: "\ebe8";
}
.icon-html-five2:before {
  content: "\ebed";
}
.icon-css3:before {
  content: "\ebee";
}
