<div class="clearfix"></div>
<section>
  <div class="dashboard-wrapper">
    <!--<navigation></navigation>-->
    <style>.nav-tabs > li > a{ padding: 14px 45px !important; color:#fff !important;
      }.nav-tabs{background: #d9534f  none repeat scroll 0 0 !important;}.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background:#b73632 !important;}.error-padding{top:4px;}
    </style>
    <div class="mainpanel">
      <!-- <coming-soon text-attr="landingPages"></coming-soon> -->
      <div class="contentpanel">
        <div class="container">
          <div align="center" class="col-md-12 col-sm-12">
            <br>
            <h2 class="mt5" style="font-size:65px !important; text-shadow:2px 5px #999; background:#fbfbfb; border:1px solid #e2e2e2; padding-top:10px; text-transform:uppercase;">
              <img src="img/video.png" width="100">  Hello! and welcome to nanopool
            </h2>
            <h3 class="mt12">The most popular platform to get those coins mined. So whats holding you back? </h3>
            <p>
              Let’s Start and be a proud miner with nanopool. Grab as many contracts you can because it’s a long way to the top. <strong><u>Hundreds of people joining each day.</u></strong> 
            </p>
          </div>
        </div>
        <div class="">
          <div class="tabbable-panel">
            <div class="tabbable-line">
              <div align="center">
                <ul class="nav nav-tabs ">
                  <li class="col-md-3 col-xs-12" ng-class="(activeTab==='bitcoin'?'active':'')" style="padding:0px;">
                    <a href=".tab_default_3" data-toggle="tab" style="padding:10px 20px !important;">
                    <img ng-src="{{s3Url}}bitcoin.png" width="50">
                    <strong style="font-size:20px;">Bitcoin</strong> </a>
                  </li>
                  <li class="col-md-3 col-xs-12" ng-class="(activeTab==='ether'?'active':'')" style="padding:0px;">	
                    <a href=".tab_default_4" data-toggle="tab" style="padding:10px 20px !important;">
                    <img ng-src="{{s3Url}}ether.png" width="50">&nbsp;
                    <strong style="font-size:20px;">Ether</strong> </a>
                  </li>
                  <li class="col-md-3 col-xs-12" ng-class="(activeTab==='dash'?'active':'')" style="padding:0px;">	
                    <a href=".tab_default_5" data-toggle="tab" style="padding:10px 20px !important;">
                    <img ng-src="{{s3Url}}dashcoin.png" width="50">&nbsp;
                    <strong style="font-size:20px;">Dash</strong> </a>
                  </li>
                  <li class="col-md-3 col-xs-12" ng-class="(activeTab==='monero'?'active':'')" style="padding:0px;">  
                    <a href=".tab_default_6" data-toggle="tab" style="padding:10px 20px !important;">
                    <img ng-src="{{s3Url}}moneroheader.png" width="50">&nbsp;
                    <strong style="font-size:20px;">Monero</strong> </a>
                  </li>
                </ul>
              </div>
              <div class="tab-content" style="padding:20px 20px; ">
                <div class="tab-pane tab_default_3" ng-class="(activeTab==='bitcoin'?'active':'')">
                  <div class="row ">
                    <div class="col-md-6 col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-body" style="padding:5px !important;">
                          <iframe width="100%" height="350" src="https://www.youtube.com/embed/MRLSB6uIMY4" frameborder="0" allowfullscreen=""></iframe>  
                        </div>
                        <div align="center" class="panel-footer">
                          <div class="row" align="left">
                            <div class="col-md-12 col-sm-12 cacaemy-block01" style="padding-left:18px;"><span class="mt5" style="font-size:25px !important; color: #C00;">WHAT IS BITCOIN
                              </span>
                            </div>
                          </div>
                          <hr>
                          <p align="left" style="font-size:12px; padding:0px 10px 10px; text-align:justify; ">
                            Digital currency, Bitcoin is the leader of all cryptocurrencies serving the broad platform of Electronic payment system, developed by an unidentified programmer Satoshi Nakamoto. This open source software is peer to peer rendering the feature of instantaneous transactions processing without any charges or minimum charges also with no mediator hence devising it to be decentralized.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-body" style="padding:5px !important;">
                          <iframe width="100%" height="350" src="https://www.youtube.com/embed/dVcOEKajGMs" frameborder="0" allowfullscreen=""></iframe>  
                        </div>
                        <div align="center" class="panel-footer">
                          <div class="row" align="left">
                            <div class="col-md-12 col-sm-12 cacaemy-block01"><span class="mt5" style="font-size:25px !important; padding:10px; color: #C00;">HOW DOES BITCOIN MINING WORKS
                              </span>
                            </div>
                          </div>
                          <hr>
                          <p align="left" style="font-size:12px; height:78px; padding:0px 10px 0px; text-align:justify;"> 
                            Bitcoin mining is just using the special software for cracking the mathematical problems and gaining a certain no. of bitcoins in exchange. This caters the smarter way of issuing a currency and generates the smartest way of earning.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6 col-sm-12 col-md-offset-3">
                      <a href="#/mining/order" title="" class="mar20"><button type="button" class="btn btn-block btn-danger btn-xs pull-right" style="margin-top:20px; font-size:40px; padding:10px; font-weight:bold;"><i class="fa fa-download"></i> Buy Contracts</button></a>
                    </div>
                    <div></div>
                  </div>
                </div>
                <div class="tab-pane tab_default_4" ng-class="(activeTab==='ether'?'active':'')">
                  <div class="row ">
                    <div class="col-md-6 col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-body" style="padding:5px !important;">
                          <iframe width="100%" height="350" src="https://www.youtube.com/embed/j23HnORQXvs" frameborder="0" allowfullscreen=""></iframe>  
                        </div>
                        <div align="center" class="panel-footer">
                          <div class="row" align="left">
                            <div class="col-md-12 col-sm-12 cacaemy-block01" style="padding-left:18px;"><span class="mt5" style="font-size:25px !important; color: #C00;">WHAT IS ETHEREUM
                              </span>
                            </div>
                          </div>
                          <hr>
                          <p align="left" style="font-size:12px; padding:0px 10px 10px; text-align:justify; ">
                            Ethereum lets you create decentralized applications and various new technologies that would work on a different approach, it would be decentralized and would work upon the mutual consent of two people. It degrades the need of some middlemen who are concerned about your money, if you hire a contract to be accomplished you tend to be worried all the time whether the work would be completed on time or not, would it be a skilled execution and that i have to pay more for it. 
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-body" style="padding:5px !important;">
                          <iframe width="100%" height="350" src="https://www.youtube.com/embed/TDGq4aeevgY" frameborder="0" allowfullscreen=""></iframe>  
                        </div>
                        <div align="center" class="panel-footer">
                          <div class="row" align="left">
                            <div class="col-md-12 col-sm-12 cacaemy-block01"><span class="mt5" style="font-size:25px !important; padding:10px; color: #C00;">HOW DOES ETHEREUM MINING WORKS
                              </span>
                            </div>
                          </div>
                          <hr>
                          <p align="left" style="font-size:12px; padding:0px 10px 10px; text-align:justify;">
                            Ethereum works on smart contracts you seriously want to mine it because we are advancing to where the future is seemingly bright and decentralized. So why not rely on Ethereum as you can get almost any work done you can possibly think of. The Human race is going to be advanced and we've already been given the tool to replenish our very future. Mining Ethereum is as easy as having a cup of tea so join the race and keep mining the future.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6 col-sm-12 col-md-offset-3">
                      <a href="#/mining/order" title="" class="mar20"><button type="button" class="btn btn-block btn-danger btn-xs pull-right" style="margin-top:20px; font-size:40px; padding:10px; font-weight:bold;"><i class="fa fa-download"></i> Buy Contracts</button></a>
                    </div>
                    <div></div>
                  </div>
                </div>
                <div class="tab-pane tab_default_5" ng-class="(activeTab==='dash'?'active':'')">
                  <div class="row ">
                    <div class="col-md-6 col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-body" style="padding:5px !important;">
                          <iframe width="100%" height="350" src="https://www.youtube.com/embed/S0oNO3mbBE8" frameborder="0" allowfullscreen=""></iframe> 
                        </div>
                        <div align="center" class="panel-footer">
                          <div class="row" align="left">
                            <div class="col-md-12 col-sm-12 cacaemy-block01" style="padding-left:18px;"><span class="mt5" style="font-size:25px !important; color: #C00;">WHAT IS DASH
                              </span>
                            </div>
                          </div>
                          <hr>
                          <p align="left" style="font-size:12px; padding:0px 10px 10px; text-align:justify; ">
                            Dashcoin is a cryptocurrency which is based upon certain algorithms and technical manipulation that makes it invincible and repulsive against hacking, felonious copying and cloning. Dash is much faster than any other cryptocurrency today and called enhanced and more secure version of the Bitcoin. Dash remains unrestricted by the nasty obligations, the central banks and authorities impose.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-body" style="padding:5px !important;">
                          <iframe width="100%" height="350" src="https://www.youtube.com/embed/TsulrqgXegI" frameborder="0" allowfullscreen=""></iframe>  
                        </div>
                        <div align="center" class="panel-footer">
                          <div class="row" align="left">
                            <div class="col-md-12 col-sm-12 cacaemy-block01"><span class="mt5" style="font-size:25px !important; padding:10px; color: #C00;">WHY DASH
                              </span>
                            </div>
                          </div>
                          <hr>
                          <p align="left" style="font-size:12px; padding:0px 10px 10px; text-align:justify;"> 
                            With the summation of requirement, instantaneous processing and advanced technology, everyone wants to spring up. And hence our very own best featured cryptocurrency – Dashcoin renders services accomplishing all these needs of tech-savvy generation and also has let in the series of innovations and growth to bitcoin furnishing entirely decentralized, potently anonymous and exigently secure cryptocurrency. 
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6 col-sm-12 col-md-offset-3">
                      <a href="#/mining/order" title="" class="mar20">
                        <button type="button" class="btn btn-block btn-danger btn-xs pull-right" style="margin-top:20px; font-size:40px; padding:10px; font-weight:bold;"><i class="fa fa-download"></i> Buy Contracts</button>
                      </a>
                    </div>
                    <div></div>
                  </div>
                </div>
                <div class="tab-pane tab_default_6" ng-class="(activeTab==='monero'?'active':'')">
                  <div class="row ">
                    <div class="col-md-6 col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-body" style="padding:5px !important;">
                          <iframe width="100%" height="350" src="https://www.youtube.com/embed/TZi9xx6aiuY" frameborder="0" allowfullscreen=""></iframe> 
                        </div>
                        <div align="center" class="panel-footer">
                          <div class="row" align="left">
                            <div class="col-md-12 col-sm-12 cacaemy-block01" style="padding-left:18px;"><span class="mt5" style="font-size:25px !important; color: #C00;">WHAT IS MONERO
                              </span>
                            </div>
                          </div>
                          <hr>
                          <p align="left" style="font-size:12px; padding:0px 10px 10px; text-align:justify; ">
                            Monero (XMR) is an open-source cryptocurrency created and introduced in April 2014 that focuses on privacy and
                            scalability. It is completely decentralized, open-source, And privacy-oriented cryptocurrency. Monero is based on the CryptoNote protocol and possesses significant algorithmic differences to other cryptocurrencies. Monero offers significant privacy as compared to its other counterparts.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="panel panel-default">
                        <div class="panel-body" style="padding:5px !important;">
                          <iframe width="100%" height="350" src="https://www.youtube.com/embed/6DQb0cMvU7I" frameborder="0" allowfullscreen=""></iframe>  
                        </div>
                        <div align="center" class="panel-footer">
                          <div class="row" align="left">
                            <div class="col-md-12 col-sm-12 cacaemy-block01"><span class="mt5" style="font-size:25px !important; padding:10px; color: #C00;">WHY MONERO
                              </span>
                            </div>
                          </div>
                          <hr>
                          <p align="left" style="font-size:12px; padding:0px 10px 10px; text-align:justify;"> 
                            Monero is more privacy-centric than bitcoin and promises an unbothering piece of mind when one trades in it.
                            It is safe, quick, trusted, and intrinsically has a higher degree of privacy than Bitcoin or any of its various counterparts like bitcoin, ethereum and more. As of 2017, Monero is the 6th most traded cryptocurrency, with a market-cap of over $600,000,000 the CryptoNote protocol makes it more anonymous and secure than the bitcoin. While mining monero is compleely easy withopu having to spend much time and energy.Monero is a fungible and untraceable digital medium of exchange which is going to be as successful as the bitcoin. 
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6 col-sm-12 col-md-offset-3">
                      <a href="#/mining/order" title="" class="mar20">
                        <button type="button" class="btn btn-block btn-danger btn-xs pull-right" style="margin-top:20px; font-size:40px; padding:10px; font-weight:bold;"><i class="fa fa-download"></i> Buy Contracts</button>
                      </a>
                    </div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- contentpanel -->
    </div>
  </div>
  <!-- mainwrapper -->
</section>