<section>
  <div class="mainwrapper" style="min-height:800px">
    <!--<navigation></navigation>-->
    <div class="panel panel-dashboard" style="margin-top:0;position:relative;top:80px;">
      <div class="panel-body">
        <div class="logo text-center">
          <img ng-src="img/logo-nanopool.png" alt="nanopool" width="180px">
        </div>
        <br />
        <h4 class="text-center mb5 coming-soon">We Will Be Available Soon.</h4>
        <!-- <p class="text-center">Sign in to your account</p> -->
      </div>
      <!-- panel-body -->
    </div>
    <!-- panel -->
  </div>
</section>
