<style>
  body {
    background-color: #333f88
  }
</style>
<section>
  <div class="panel panel-signup animated bounceIn" id="box">
    <div class="panel-body">
       <div id="top_header">
          <img src="img/logo-nanopool.png" class="logo" alt="Nanopool" />
      </div>
      <br />
      <h4 class="text-center mb5">Forgot Password?</h4>
      <p class="text-center">Please enter your User Id</p>
      <div class="mb30"></div>
      <div class="alert alert-danger fade in error-padding text-center no-arrow text-capitalize" ng-if="forgotPassError" style="position:relative;">{{forgotPassError}}</div>
      <form name="forgotPassword" ng-submit="submit()" novalidate>
        <div class="input-group mb15">
          <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
          <input type="text" name="userId" ng-model="user.userId" class="form-control" placeholder="Enter Your User Id" 
            required>
        </div>
        <div class="alert alert-danger fade in error-padding" ng-show="(forgotPassword.userId.$touched && forgotPassword.userId.$invalid && !forgotPassword.userId.$error.pattern) || userIdError">
          This field is required.
        </div>

        <!--<div class="alert alert-danger fade in error-padding" ng-show="forgotPassword.email.$error.pattern && forgotPassword.email.$touched">-->
          <!--Please enter a valid User Id.</div>-->
        <div class="clearfix row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-success full-width">Send<i class="fa fa-arrow-circle-o-right ml5"></i></button>
          </div>
        </div>
        <div class="col-md-12 alert alert-warning forgot-password" ng-if="hasSuccess">
          <div class="col-md-12 forgot-text">
            "We've sent an email to <strong>{{successUserId}}</strong>. Click the link in the email to reset your password,<br
            />If you don't see the email, check other places it might be, like your junk, spam, social, or other folders."
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- panel -->
</section>
