<link href="styles/login.css" rel="stylesheet" media="screen">
<section>
  <div id="box" class="animated bounceIn" ng-show="!otpRequest">
    <div class="row" id="top_header">
      <div class="col-sm-12 col-md-12">
        <img src="img/logo-nanopool.png" class="logo" alt="Nanopool" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" id="top_header" style="padding-top: 0px;">
        <h5>
          Sign in to access to your<br /> Nanopool control panel.
        </h5>
      </div>
    </div>

    <div class="row">
      <form name="login" ng-submit="submit()" novalidate>
        <div class="col-sm-12">
          <div id="inputs">
            <div class="alert alert-danger fade in error-padding text-center no-arrow text-capitalize" ng-if="loginError" style="position:relative;">{{loginError}}</div>
            <div class="form-block">
              <input type="text" name="username" ng-model="username" class="form-control normalBox" placeholder="User Name" required>
              <div class="alert alert-danger fade in error-padding normalBox" ng-show="(login.username.$touched && login.username.$invalid) || (login.username.$invalid && login.$submitted)"
                style="margin-left: auto;margin-right: auto;">
                This field is required.
              </div>
            </div>
            <div class="form-block">
              <input type="password" name="password" ng-model="password" class="form-control normatTextBox normalBox" placeholder="Password"
                required>
              <div class="alert alert-danger fade in error-padding normalBox" ng-show="(login.password.$touched && login.password.$invalid) || (login.password.$invalid && login.$submitted)"
                style="margin-left: auto;margin-right: auto;">
                This field is required.
              </div>
            </div>
            <input type="submit" value="Sign In">
          </div>
        </div>
        <div class="col-sm-12">
          <div id="bottom" class="clearfix" style="margin-bottom: 10px">
            <div class="pull-right">
              <label class="switch pull-right">
                  <input type="checkbox" class="switch-input" id="rememberMe" ng-model="remember" value="1" checked>
                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                  <span class="switch-handle"></span>
                </label>
            </div>
            <div class="pull-right">
              <span class="cb-label">Remember</span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-footer" ng-if="!otpRequest">
      <div class="col-md-6 nomargin nopadding">
        <a href="#/forgot-password" class=" btn btn-default btn-block" style="border:1px solid #ccc;">Forgot Password</a>
      </div>
      <div class="col-md-6 nomargin nopadding">
        <a href="#/resend-verification" class=" btn btn-default btn-block" style="border:1px solid #ccc;">Resend Verification</a>
      </div>
      <div class="clearfix"></div>
      <a href="#/signup" class="mar10 btn btn-primary btn-block">Not a Member Yet ? Create a Free Account</a>
    </div>
    <div class="panel-body" ng-show="otpRequest">
      <div class="logo text-center">
        <img ng-src="img/logo-nanopool.png" alt="nanopool">
      </div>
      <br />
      <p class="text-center">We have sent an OTP to your Registered Email. Please enter the OTP to access your account. Do not share the OTP with
        anyone.
      </p>
      <div class="alert alert-danger fade in error-padding text-center no-arrow text-capitalize" ng-if="otpError" style="position:relative;">{{otpError}}</div>
      <div class="mb30"></div>
      <form name="otp" ng-submit="otpLogin()" novalidate>
        <div class="input-group mb15">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input type="text" name="otp" ng-model="otpNumber" class="form-control" placeholder="Enter OTP" required>
        </div>
        <div class="pull-left">
          <button type="button" ng-click="back()" class="btn btn-success"><i class="fa fa-angle-left ml5"> Back </i></button>
        </div>
        <div class="pull-right">
          <button type="submit" class="btn btn-success">Proceed <i class="fa fa-angle-right ml5"></i></button>
        </div>
      </form>
    </div>
  </div>

  </div>
</section>