<div class="clearfix"></div>
<section>
   <div class="dashboard-wrapper">
      <!--<navigation></navigation>-->
      <style>
      .nav-tabs > li > a{
         padding: 14px 15px !important; 
         color:#fff !important;
      }
      /*.nav-tabs{
         background: #d9534f  none repeat scroll 0 0 !important;
      }
      .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ 
         background:#b73632 !important;
      }*/
      .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td { 
         padding: 8px 5px;
      }
      @media screen and (min-width: 992px) and (max-width:1220px){
         .packagename{
            width:100%;
         }
         .packageprice{
            float:none!important;
         }
      }
      @media screen and (max-width:380px){
        .packagename{
          width:100%!important;
        }
        .packageprice{
          float:none!important;
        }
      }
      </style>
      <div class="mainpanel">
         <div class="pageheader">
            <div  ><iframe class="news-feeds"    height="60" width="90%" src="http://feed.mikle.com/widget/?rssmikle_url=http%3A%2F%2Ffeeds.feedburner.com%2FCoinDesk%3Fformat%3Dxml&rssmikle_frame_width=900&rssmikle_frame_height=60&frame_height_by_article=0&rssmikle_target=_blank&rssmikle_font=Arial%2C%20Helvetica%2C%20sans-serif&rssmikle_font_size=12&rssmikle_border=off&responsive=off&text_align=left&text_align2=left&corner=off&scrollbar=off&autoscroll=on&scrolldirection=up&scrollstep=3&mcspeed=10&sort=New&rssmikle_title=off&rssmikle_title_bgcolor=%23FFD700&rssmikle_title_color=%23FFFFFF&rssmikle_item_bgcolor=%23FFFFFF&rssmikle_item_title_length=55&rssmikle_item_title_color=%23FF4B14&rssmikle_item_border_bottom=on&rssmikle_item_description=on&item_link=off&rssmikle_item_description_length=150&rssmikle_item_description_color=%23666666&rssmikle_item_date=gl1&rssmikle_timezone=Etc%2FGMT&datetime_format=%25b%20%25e%2C%20%25Y%20%25l%3A%25M%20%25p&item_description_style=text&item_thumbnail=full&item_thumbnail_selection=auto&article_num=15&rssmikle_item_podcast=off&" scrolling="no" name="rssmikle_frame" marginwidth="0" marginheight="0" vspace="0" hspace="0" frameborder="0"></iframe></div>
            <!-- media -->
            <div  ></div>
            <div class="media" style="margin-top:-2px;">
            </div>
         </div>
         <!-- pageheader -->
         <div class="contentpanel">
            <div class="container academy-container">
               <div class="col-md-3 col-sm-12" style="border-right:5px solid #FC0;"><img src="img/nanopoolcademy.png" width="300" class="img-responsive" style=" padding:10px;"/></div>
               <div class="col-md-9 col-sm-12 academy-heading" style="padding-left:40px;">
                  <h2 class="mt5" style="font-size:35px !important; text-transform:uppercase;">
                     You platform for Personal and Business Success
                  </h2>
                  <p>A cryptocurrency (or crypto currency) is a medium of exchange using cryptography to secure the transactions and to control the creation of new units. Cryptocurrencies are a subset of alternative currencies or specifically of digital currencies. Bitcoin became the first decentralized cryptocurrency in 2009.</p>
               </div>
            </div>
            <div class="">
               <div class="tabbable-panel" >
                  <div class="tabbable-line" >
                     <div align="center">
                        <ul class="nav nav-tabs ">
                           <li class="active col-md-6 col-sm-6 col-xs-12" style="padding:0px;">
                              <a href=".tab_default_3" data-toggle="tab" style="padding:10px 20px !important;border:none;">
                              <i class="fa fa-graduation-cap icon-lg" aria-hidden="true"></i>
                              <strong style="font-size:20px;">nanopool Academy</strong> </a>
                           </li>
                           <li class="col-md-6 col-sm-6 col-xs-12" style="padding:0px;"> <a href=".tab_default_4" data-toggle="tab" style="padding:10px 20px !important;border:none;">
                              <i class="fa fa-file-video-o icon-lg" aria-hidden="true"></i>&nbsp;
                              <strong style="font-size:20px;">Purchased Products</strong> </a>
                           </li>
                        </ul>
                     </div>
                     <!-- nanopool Academy Tab Details-->
                     <div class="tab-content" style="padding:20px 20px; ">
                        <div class="tab-pane tab_default_3 active">
                           <div class="row">
                              <div class="col-md-6 col-sm-12">
                                 <div class="panel panel-default">
                                    <div class="panel-body" style="padding: 5px 5px 0px 5px !important;">
                                       <iframe width="100%" height="350" src="https://www.youtube.com/embed/YB1qiuxiCbk" frameborder="0" allowfullscreen=""></iframe>  
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6 col-sm-12">
                                 <div class="panel panel-default">
                                    <div class="panel-body" style="padding: 5px 5px 0px 5px !important;">
                                       <iframe width="100%" height="350" src="https://www.youtube.com/embed/fmWgYnmgcew" frameborder="0" allowfullscreen=""></iframe>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row" >
                              <div class="col-md-4" ng-repeat="package in packages">
                                 <div class="panel panel-default" >
                                    <div class="panel-body" style="padding:5px !important;">
                                       <img ng-if="package.PackageName == 'nanopool - 100$ package'" ng-src="{{s3Url}}nanopool-Academy/package1.png" width="100%" class="img-responsive" />
                                       <img ng-if="package.PackageName == 'nanopool - 300$ package'"  ng-src="{{s3Url}}nanopool-Academy/package2.png" width="100%" class="img-responsive" />
                                       <img ng-if="package.PackageName == 'nanopool - 500$ package'" ng-src="{{s3Url}}nanopool-Academy/package3.png" width="100%" class="img-responsive" />
                                       <img ng-if="package.PackageName == 'nanopool - 700$ package'" ng-src="{{s3Url}}nanopool-Academy/package4.png" width="100%" class="img-responsive" />
                                    </div>
                                    <div align="center" class="panel-footer">
                                       <div class="row" align="left">
                                          <div class="col-md-9 col-sm-8 col-xs-10 cacaemy-block01 packagename"><span class="mt5" style="font-size:22px !important; color: #C00;padding-left:10px;">{{package.PackageName}}</span><br />
                                          </div>
                                          <div class="col-md-3 col-sm-4 col-xs-2">
                                             <h2 class="counter-dash counter-dash-text pack-price packageprice" style="font-size:25px;"><strong>${{package.Price}}</strong></h2>
                                          </div>
                                       </div>
                                       <div class="row" align="left">
                                          <div class="col-md-5 col-sm-3 col-xs-4 add-funds-popup text-center" style="margin-left:15px;">
                                             <span style="background-color: #fc2a1!important;font-size:15px;margin-right:20px;">PV
                                             </span>
                                             <span style="background-color: #fc2a1!important;font-size:15px;">{{package.PV}}
                                             </span>
                                             <br />
                                          </div>
                                       </div>
                                       <hr />
                                       <p style="min-height:200px;" ng-if="package.PackageName == 'nanopool - 100$ package'" align="left" style="font-size:12px; "> - Network marketing: Habbits of succesful network marketers<br />
                                          - Network marketing: 4 things you need in MLM<br />
                                          - Network marketing: 4 things you do not need in MLM<br />
                                          - Network marketing: MLM 4ever<br />
                                          - Network marketing: Mindset of a business builder<br />
                                          - Network marketing: 15 concept in MLM<br />
                                          - Network marketing: Motivation for life<br />
                                       </p>
                                       <p style="min-height:200px;" ng-if="package.PackageName == 'nanopool - 300$ package'" align="left" style="font-size:12px; "> - Business Development: Leadership Lisa Nichols<br />
                                          - BigU Life system: BigU Life system<br />
                                          - Business Development: Brian Tracy – 24 proven closing techniques<br />
                                       </p>
                                       <p style="min-height:200px;" ng-if="package.PackageName == 'nanopool - 500$ package'" align="left" style="font-size:12px; "> - Personal growth: Law of attraction . meta secret – Mel gill<br />
                                          - Business Development: Tom Schreiter – Live in dallas – big all – live recruiting event<br />
                                          - Brian Tracy – Wake UP4 Live event<br />
                                          - Smiljan Mori – Wake UP3 Live event<br />
                                          - Speaking - WORLD CLASS SPEAKERS ALLIANCE - Lisa Nichols<br />
                                       </p>
                                       <p style="min-height:300px;" ng-if="package.PackageName == 'nanopool - 700$ package'" align="left" style="font-size:12px; "> - Network marketing: Habbits of succesful network marketers<br />
                                          - Network marketing: 4 things you need in MLM<br />
                                          - Network marketing: 4 things you do not need in MLM<br />
                                          - Network marketing: MLM 4ever<br />
                                          - Network marketing: Mindset of a business builder<br />
                                          - Network marketing: 15 concept in MLM <br />
                                          - Network marketing: Motivation for life <br />
                                          - Personal growth: Motivation for life<br />
                                          - Business Development: Leadership Lisa Nichols<br />
                                          - Personal growth: BigU Life system<br />
                                          - Business Development: Brian Tracy – 24 proven closing techniques<br />
                                          - Personal growth: Law of attraction . meta secret – Mel gill<br />
                                          - Business Development: Tom Schreiter – Live in dallas – big all – live recruiting event<br />
                                          - Brian Tracy – Wake UP4 Live event<br />
                                          - Smiljan Mori – Wake UP3 Live event<br />
                                          - Speaking - WORLD CLASS SPEAKERS ALLIANCE - Lisa Nichols<br />
                                       </p>
                                       <a ui-sref="nanopool-academy-cart({id: $index})" title="Buy Now" class="mar20" ><button  ng-disabled="package.isDisabled" type="button" class="btn btn-block btn-danger btn-xs pull-right" style="margin-top:20px; font-size:20px; padding:10px; font-weight:bold;"><i class="fa fa-download"></i> Buy Now</button></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Purchased Products Tab Details-->
                        <div class="tab-pane tab_default_4">
                           <h2 class="mb35-sm top-spacemob10"><i class="fa fa-clone icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Buy Packages</strong></h2>
                           <hr />
                           <div class="panel panel-default">
                              <div class="panel-body">
                                 <div class="row">
                                    <div class="col-md-4" ng-repeat="packageBought in packagesBought">
                                       <div class="panel panel-default">
                                          <div class="panel-body" style="padding:5px !important;">
                                             <img ng-if="packageBought.ProductName == 'nanopool - 100$ package'" ng-src="{{s3Url}}nanopool-Academy/package1.png" width="100%" class="img-responsive" />
                                             <img ng-if="packageBought.ProductName == 'nanopool - 300$ package'" ng-src="{{s3Url}}nanopool-Academy/package2.png" width="100%" class="img-responsive" />
                                             <img ng-if="packageBought.ProductName == 'nanopool - 500$ package'" ng-src="{{s3Url}}nanopool-Academy/package3.png" width="100%" class="img-responsive" />
                                             <img ng-if="packageBought.ProductName == 'nanopool - 700$ package'" ng-src="{{s3Url}}nanopool-Academy/package4.png" width="100%" class="img-responsive" />
                                          </div>
                                          <div align="center" class="panel-footer">
                                             <div class="row" align="left">
                                                <div class="col-md-12 col-sm-12 cacaemy-block01"><span class="mt5" style="font-size:22px !important; color: #C00;">{{packageBought.ProductName}}</span></div>
                                             </div>
                                             <button ng-if="bigUUrl" type="button" class="btn btn-block btn-danger btn-xs" style="margin-top:10px; font-size:15px; padding:10px;" ng-click="goToLightSpeed();">Explore All</button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div></div>
                           </div>
                        </div>
                        <div class="tab-pane tab_default_10" >
                           <h2 class="mb37 mar10" align="center" style="width:40%;">
                              <span class="glyphicon glyphicon-minus"></span>
                              Campaign<span class="glyphicon glyphicon-minus"></span>
                           </h2>
                           <br />
                           <!-- Nav tabs -->
                           <ul class="nav nav-tabs" role="tablist" style="background:#ccc !important; color:#525252 !important;">
                              <li role="presentation" class="active" ><a href=".dmp" aria-controls="dmp" role="tab" data-toggle="tab" ><strong><i class="fa fa-list-alt " aria-hidden="true"></i> Referral Campaign</strong></a></li>
                              <li role="presentation" ><a href=".rmp" aria-controls="rmp" role="tab" data-toggle="tab"><strong><i class="fa fa-list-alt " aria-hidden="true"></i>Referral Campaign Reports</strong></a></li>
                              <li role="presentation" ><a href=".bnrr" aria-controls="bnrr" role="tab" data-toggle="tab"><strong><i class="fa fa-list-alt " aria-hidden="true"></i> Banner Report
                                 </strong></a>
                              </li>
                           </ul>
                           <!-- Tab panes -->
                           <div class="tab-content" style="border:0px !important">
                              <div role="tabpanel" class="tab-pane active dmp">
                                 <br />   
                                 <h2 class="mb35-sm top-spacemob10"><i class="fa fa-list-alt icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Referral Campaign</strong></h2>
                                 <hr />
                                 <div class="table-responsive">
                                    <div class="ref-box yelo-text01"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                       http://www.sdfsdjk.com/?49283ksdjskfjh3298/sdfjsdk/ewurewi <button class="pull-right copy-btn " data-toggle="modal" data-target="#myModal"><i class="fa fa-chain "></i> Get Referral Link </button>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                       <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                             <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Create Referral Campaign</h4>
                                             </div>
                                             <div class="modal-body">
                                                <form>
                                                   <input type="text" class="form-control" /><br />
                                                   <strong>Select Your Referral Campaign Lead Page</strong>
                                                   <div class="row mar20">
                                                      <div class="col-md-6 col-sm-12"><input name="check-ref" type="radio" value="" />&nbsp;<strong>Earn-Free-Bitcoins-Etherium</strong><br />
                                                         <small>http://nanopool.com/prelaunch/earn-free-bitcoins-etherium.html?id=xyz</small><br />
                                                         <a href="#">View Page</a>
                                                      </div>
                                                      <div class="col-md-6 col-sm-12"><input name="check-ref" type="radio" value="" />&nbsp;<strong>Earn-Free-Bitcoins-Etherium</strong><br />
                                                         <small>http://nanopool.com/prelaunch/earn-free-bitcoins-etherium.html?id=xyz</small><br />
                                                         <a href="#">View Page</a>
                                                      </div>
                                                   </div>
                                                   <div class="row mar20">
                                                      <div class="col-md-6 col-sm-12"><input name="check-ref" type="radio" value="" />&nbsp;<strong>Earn-Free-Bitcoins-Etherium</strong><br />
                                                         <small>http://nanopool.com/prelaunch/earn-free-bitcoins-etherium.html?id=xyz</small><br />
                                                         <a href="#">View Page</a>
                                                      </div>
                                                      <div class="col-md-6 col-sm-12"><input name="check-ref" type="radio" value="" />&nbsp;<strong>Earn-Free-Bitcoins-Etherium</strong><br />
                                                         <small>http://nanopool.com/prelaunch/earn-free-bitcoins-etherium.html?id=xyz</small><br />
                                                         <a href="#">View Page</a>
                                                      </div>
                                                   </div>
                                                   <div class="row mar20">
                                                      <div class="col-md-6 col-sm-12"><input name="check-ref" type="radio" value="" />&nbsp;<strong>Earn-Free-Bitcoins-Etherium</strong><br />
                                                         <small>http://nanopool.com/prelaunch/earn-free-bitcoins-etherium.html?id=xyz</small><br />
                                                         <a href="#">View Page</a>
                                                      </div>
                                                      <div class="col-md-6 col-sm-12"><input name="check-ref" type="radio" value="" />&nbsp;<strong>Earn-Free-Bitcoins-Etherium</strong><br />
                                                         <small>http://nanopool.com/prelaunch/earn-free-bitcoins-etherium.html?id=xyz</small><br />
                                                         <a href="#">View Page</a>
                                                      </div>
                                                   </div>
                                                </form>
                                             </div>
                                             <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Create Referral Campaign</button>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="table-responsive">
                                       <table class="table table-striped table-bordered no-margin">
                                          <thead>
                                             <tr style="color:#525252;">
                                                <td><strong>S.No</strong></td>
                                                <td><strong>Title</strong></td>
                                                <td><strong>Refferal Link</strong></td>
                                                <td><strong>Action</strong></td>
                                             </tr>
                                          </thead>
                                          <tr >
                                             <td>01</td>
                                             <td><strong>nanopool Landing Page title01</strong> </td>
                                             <td>
                                                <small class="red-text02">http://www.nbbnlgf.com/?49283ksdjskfjh3298/sdfjsdk/opooewrpwe</small>
                                             </td>
                                             <td><i class="fa fa-times" aria-hidden="true"></i>
                                                Delete
                                             </td>
                                          </tr>
                                          <tr >
                                             <td>02</td>
                                             <td><strong>nanopool Landing Page title02</strong> </td>
                                             <td>
                                                <small class="red-text02">http://www.sdfsdjk.com/?49283ksdjskfjh3298/sdfjsdk/ewurewi</small>
                                             </td>
                                             <td><i class="fa fa-times" aria-hidden="true"></i>
                                                Delete 
                                             </td>
                                          </tr>
                                       </table>
                                       <div align="right">
                                          <ul class="pagination pagination-metro nomargin mt10">
                                             <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                             <li><a href="#">1</a></li>
                                             <li class="active"><a href="#">2</a></li>
                                             <li><a href="#">3</a></li>
                                             <li><a href="#">4</a></li>
                                             <li><a href="#">5</a></li>
                                             <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div role="tabpanel" class="tab-pane rmp" >
                                 <br />
                                 <h2 class="mb35-sm top-spacemob10"><i class="fa fa-list-alt icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Referral Campaign Reports</strong></h2>
                                 <hr />
                                 <div class="table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                       <thead>
                                          <tr style="color:#525252;">
                                             <td><strong>Created at</strong></td>
                                             <td><strong>Campaign Name</strong></td>
                                             <td><strong>Visits</strong></td>
                                             <td><strong>Signups</strong></td>
                                          </tr>
                                       </thead>
                                       <tr >
                                          <td>02/12/2106</td>
                                          <td><strong>Mining with nanopool</strong> </td>
                                          <td>
                                             <small class="red-text02">23,309</small>
                                          </td>
                                          <td>
                                             400
                                          </td>
                                       </tr>
                                    </table>
                                    <div align="right">
                                       <ul class="pagination pagination-metro nomargin mt10">
                                          <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                          <li><a href="#">1</a></li>
                                          <li class="active"><a href="#">2</a></li>
                                          <li><a href="#">3</a></li>
                                          <li><a href="#">4</a></li>
                                          <li><a href="#">5</a></li>
                                          <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div role="tabpanel" class="tab-pane bnrr" >
                                 <br />
                                 <h2 class="mb35-sm top-spacemob10"><i class="fa fa-list-alt icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Banner Report</strong></h2>
                                 <hr />
                                 <div class="table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                       <thead>
                                          <tr style="color:#525252;">
                                             <td><strong>Campaign Name</strong></td>
                                             <td><strong>Visits</strong></td>
                                             <td><strong>Sign Ups</strong></td>
                                          </tr>
                                       </thead>
                                       <tr >
                                          <td>Mining with nanopool</td>
                                          <td><strong>0</strong> </td>
                                          <td>
                                             <small class="red-text02">23,309</small>
                                          </td>
                                       </tr>
                                    </table>
                                    <div align="right">
                                       <ul class="pagination pagination-metro nomargin mt10">
                                          <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                          <li><a href="#">1</a></li>
                                          <li class="active"><a href="#">2</a></li>
                                          <li><a href="#">3</a></li>
                                          <li><a href="#">4</a></li>
                                          <li><a href="#">5</a></li>
                                          <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>