<div class="clearfix"></div>
<section class="no-print">
  <div class="dashboard-wrapper">
    <!--<navigation></navigation>-->
    <style>
      .nav-tabs>li>a {
        color: #fff !important;
      }
      /*.nav-tabs .network-anchors {
        padding: 14px 0px !important;
      }*/
      /*.nav-tabs {
        background: #d9534f none repeat scroll 0 0 !important;
      }

      .nav-tabs>li.active>a,
      .nav-tabs>li.active>a:hover,
      .nav-tabs>li.active>a:focus {
        background: #b73632 !important;
      }*/

      .btn-group {
        margin-bottom: 0px !important;
      }

      select {
        -webkit-appearance: menulist;
      }

      .arrow {
        font-size: 0;
        padding: 0;
        z-index: 2;
      }

      .inner-arrow {
        height: 150px;
        width: 100%;
        display: inline-block;
        background-color: #90c34d;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
        vertical-align: middle;
        padding: 0;
      }

      .arrow:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        vertical-align: middle;
        border-left-color: #90c34d;
        margin-right: -40px;
      }

      .right-block {
        background: #f2f2f2;
        height: 150px;
        padding: 0;
        z-index: 1;
      }

      .box-heading {
        color: #fff;
        padding: 10px;
        margin-top: 49px;
        font-size: 24px;
      }
    </style>
    <div class="mainpanel">
      <!-- <coming-soon text-value="'Networks'"></coming-soon> -->
      <div class="contentpanel">
        <div class="col-md-12 nomargin nopadding">
          <!--<h2 class="mb35"><i class="fa fa-sitemap icon-lg border-round" aria-hidden="true"></i> <strong>Networks</strong></h2>-->
          <!--<div class="top-bar clearfix">
            <div class="row gutter">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-title">
                  <img src="img/social.png" style="margin-left: 10px;height: 50px;">&nbsp;Networks
                </div>
              </div>
            </div>
          </div>-->
          <div class="tabbable-panel">
            <div class="tabbable-line">
              <div class="row flex-display-md">
                <div class="side-view-mob" style="padding-right: 0px">
                  <div align="center">
                    <ul class="nav nav-tabs ">
                      <!--<li class="active  network-tabs text-center  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="network-anchors" href=".tab_default_11" data-toggle="tab" style="padding-right:30px !important; padding-left:30px !important"
                      aria-expanded="true">
                      	<i class="fa fa-user icon-lg" aria-hidden="true"></i>
                        <strong>Affiliate </strong>
                      </a>
                  </li>-->
                      <li class="active network-tabs text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="userDirects(1, pagination.perpage)"
                        style="padding:0px;">
                        <a class="network-anchors" href=".tab_default_4" data-toggle="tab">
                      <img src="img/directs.png" height="31" ;width="48">
                      <span>My Directs</span> </a>
                      </li>
                      <li class=" network-tabs text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                        <a class="network-anchors" href=".tab_default_5" data-toggle="tab">
                      <img src="img/downline.png" height="31" ;width="48" style="width: 47px;">
                      <span>My Downline</span> </a>
                      </li>
                      <li class=" network-tabs text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="getLeaderBoard()" style="padding:0px;">
                        <a class="network-anchors" href=".tab_default_6" data-toggle="tab">
                      <img src="img/leader.png" height="31" ;width="48" style="width: 47px;">
                      <span>Leaderboard</span> </a>
                      </li>
                      <li class=" network-tabs text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="getCommission()" style="padding:0px;">
                        <a class="network-anchors" href=".tab_default_7" data-toggle="tab">
                      <i class="fa fa-money icon-lg" aria-hidden="true" style="font-size: 30px !important;"></i>
                      <span>Commissions</span> </a>
                      </li>
                      <li class=" network-tabs text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="allReferral(teamCurrentPage)" style="padding:0px;">
                        <a class="network-anchors" href=".tab_default_8" data-toggle="tab">
                      <i class="fa fa-users icon-lg" aria-hidden="true" style="font-size: 30px !important;"></i>
                      <span>My Team</span> </a>
                      </li>
                      <li class=" network-tabs text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="getInbox(currentPage, limit)" style="padding:0px;">
                        <a class="network-anchors" href=".group_chat" data-toggle="tab" aria-expanded="true">
                        <img src="img/groupchat.png" height="31" ;width="48" style="width: 47px;">
                        <span>Group Chat</span> </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-11 col-sm-12 mobile-container" style="margin: 40px 0px 20px 80px;">
                  <div class="tab-content" style="padding:20px 20px; ">
                    <div class="tab-pane tab_default_11">
                      <h2 class="mb35-sm top-spacemob10"><i class="fa fa-comments-o icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Affiliate</strong></h2>
                      <hr>
                      <h4 class="font16" align="center">
                        Withdrawals can only be made when the affiliate panel is active! You can activate your affiliate panel by paying an <strong>Annual Affiliate Fee of $100</strong>!
                        <br> You can also adjust your accumulated referral balance and activate your <strong>Affiliate Subscription</strong>                        by the income you earned within the system!
                      </h4>
                      <h2 align="center" class="nopadding nomargin">It’s Pretty Simple!</h2>
                      <h4 align="center" class="affiliate"><img src="{{s3Url}}affilatefee.png" width="100"> Affiliate Fee: $100<small>/year</small></h4>
                      <div class="row">
                        <div align="center" class="col-md-5 col-md-12">
                          <h4><strong> Total Earnings</strong><br>
                            <small>(Direct Referral Income,Binary Income,Re-Purchase Income)</small>
                          </h4>
                          <p class="red-text04 "><small>{{totalEarning | currency}}</small>
                          </p>
                          <small>
                            <br>
                            <div class="gry-round-box">NOTE: You can only make payouts when your Affiliate Panel is active! </div>
                          </small>
                        </div>
                        <div align="center" class="col-md-2 col-md-12">
                          <small><img src="img/arrow-ver.png"></small>
                        </div>
                        <div align="center" class="col-md-5 col-sm-12">
                          <small>
                          <div id="affiliate-active">
                            <h3><strong>Affiliate Account</strong></h3>
                            <p ng-class="affiliateStatus?'active-affiliate':'inactive-affiliate'">
                            <i class="fa fa-check-circle" aria-hidden="true"></i> Active</p>
                            <div class="ajax_loader" ng-if="loadingDates"></div>
                            <h5>
                              <strong>Activated On : {{activationDate}}<br><br>
                                Expiry : {{expiryDate}}</strong>
                            </h5>
                          </div>
                          <div id="affiliate-inactive">
                            <h3><strong>Affiliate Account</strong></h3>
                            <p ng-class="!affiliateStatus?'active-affiliate':'inactive-affiliate'">
                            <i class="fa fa-check-circle" aria-hidden="true"></i> Inactive</p>
                            <button class="btn btn-block btn-warning" ng-click="ativatePayment('wallet')">Activate Via Earnings</button>
                            <button class="btn btn-block btn-success" ng-click="ativatePayment('gateway')">Activate Via Payment</button>
                          </div>
                        </small>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane tab_default_4 active">
                      <h2 class="mb35-sm  top-spacemob10"><i class="fa fa-user icon-lg-red border-round-red" aria-hidden="true"></i> <strong>My Directs</strong></h2>
                      <hr />
                      <div class="download">
                        <!--<div ng-excel="" type="'excel'" data="exportExcel.data" xlsfilename="'mydirects.xls'" down="exportExcel.down"></div>-->
                        <button class="pull-right copy-btn" ng-click="exportExcel(arrayList)"><i class="fa fa-file-excel-o "></i> Excel Sheet Download</button>
                      </div>


                      <div class="table-responsive mar50">
                        <table class="table table-striped table-bordered no-margin ">
                          <thead>
                            <tr>
                              <th width="2%"><strong>Sr.No</strong></th>
                              <th width="20%"><strong>Name of the User</strong></th>
                              <th width="20%"><strong>Email</strong></th>
                              <th width="15%"><strong>Contact Number</strong></th>
                              <th width="18%"><strong>Contract Purchased</strong></th>
                              <th width="18%"><strong>Total Purchased Value</strong></th>
                              <th width="10%"><strong>Joined At</strong></th>
                              <th align="right" width="18%"><strong>Team Members</strong> </th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- <img ng-src="{{s3Url}}flags/in.png" />  -->
                            <tr ng-repeat="(key,directs) in teamDirectsData">
                              <td>{{(((directsCurrentPage - 1) * pagination.perpage) + (key + 1))}}</td>
                              <td><img ng-src="{{s3Url}}flags/{{allCountryCodes[directs.country] | lowercase}}.png" />&nbsp;{{directs.Name}}</td>
                              <td>{{directs.Email}}</td>
                              <td>{{directs.Mobile}}</td>
                              <td>{{directs.TotalContract}}</td>
                              <td>{{directs.TotalPurchased | currency}}</td>
                              <td>{{directs.DOJ}}</td>
                              <td align="center">{{directs.TotalDirect}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="pagination-default">
                          <ul class="pagination pagination-metro nomargin mt10" uib-pagination items-per-page="pagination.perpage" boundary-links="true"
                            total-items="pagination.totalDirects" ng-model="directsCurrentPage" max-size="5" ng-change="userDirects(directsCurrentPage, pagination.perpage)"></ul>
                        </div>
                        <br />
                        <br />
                      </div>
                    </div>
                    <div class="tab-pane tab_default_5" style="padding-bottom:50px;">
                      <h2 class="mb35-sm top-spacemob10"><i class="fa fa-sitemap icon-lg-red border-round-red" aria-hidden="true"></i> <strong>My Downline</strong></h2>
                      <hr />
                      <div class="container-fluid" style="margin-top:20px">
                        <div id="mystickytooltip" class="stickytooltip">
                          <div id="sticky1" class="atip" style="width:250px">
                            <div class="plan2 row" style="margin-top: 1px !important;">
                              <p class="plan2-recommended">
                                <img ng-if="downline['0'].ItemName.toLowerCase()" ng-src="{{s3Url}}flags/{{allCountryCodes[downline['0'].country] | lowercase}}.png" />
                                {{downline['0'].username}}</p>
                              <div class="right-block" style="margin-top: 30px;height: 66px;">
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12 table-responsive">
                                    <div class="table table-striped table-bordered no-margin">
                                      <table border="1" style="width: 100%;">
                                        <tr>
                                          <td></td>
                                          <td><strong>Left</strong></td>
                                          <td><strong>Right</strong></td>
                                        </tr>
                                        <tr>
                                          <td><strong>Referrals</strong></td>
                                          <td>{{downline['0'].LeftDirect}}</td>
                                          <td>{{downline['0'].RightDirect}}</td>
                                        </tr>
                                        <tr>
                                          <td><strong>Team Size</strong></td>
                                          <td>{{downline['0'].LeftTotal}}</td>
                                          <td>{{downline['0'].RightTotal}}</td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="sticky2" class="atip" style="width:250px">
                            <div class="plan2 row" style="margin-top: 1px !important;">
                              <p class="plan2-recommended"><img ng-if="downline['1'].ItemName.toLowerCase()" ng-src="{{s3Url}}flags/{{allCountryCodes[downline['1'].country] | lowercase}}.png" />
                                {{downline['1'].username}}</p>
                              <div class="right-block" style="margin-top: 30px;height: 66px;">
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12 table-responsive">
                                    <div class="table table-striped table-bordered no-margin">
                                      <table border="1" style="width: 100%;">
                                        <tr>
                                          <td></td>
                                          <td><strong>Left</strong></td>
                                          <td><strong>Right</strong></td>
                                        </tr>
                                        <tr>
                                          <td><strong>Referrals</strong></td>
                                          <td>{{downline['1'].LeftDirect}}</td>
                                          <td>{{downline['1'].RightDirect}}</td>
                                        </tr>
                                        <tr>
                                          <td><strong>Team Size</strong></td>
                                          <td>{{downline['1'].LeftTotal}}</td>
                                          <td>{{downline['1'].RightTotal}}</td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="sticky3" class="atip" style="width:300px">
                            <div class="plan2 row" style="margin-top: 1px !important;">
                              <p class="plan2-recommended"><img ng-if="downline['3'].ItemName.toLowerCase()" ng-src="{{s3Url}}flags/{{allCountryCodes[downline['3'].country] | lowercase}}.png" />
                                {{downline['3'].username}}</p>
                              <div class="right-block" style="margin-top: 30px;height: 66px;">
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12 table-responsive">
                                    <div class="table table-striped table-bordered no-margin">
                                      <table border="1" style="width: 100%;">
                                        <tr>
                                          <td></td>
                                          <td><strong>Left</strong></td>
                                          <td><strong>Right</strong></td>
                                        </tr>
                                        <tr>
                                          <td><strong>Referrals</strong></td>
                                          <td>{{downline['3'].LeftDirect}}</td>
                                          <td>{{downline['3'].RightDirect}}</td>
                                        </tr>
                                        <tr>
                                          <td><strong>Team Size</strong></td>
                                          <td>{{downline['3'].LeftTotal}}</td>
                                          <td>{{downline['3'].RightTotal}}</td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="sticky4" class="atip" style="width:300px">
                            <div class="plan2 row" style="margin-top: 1px !important;">
                              <p class="plan2-recommended"><img ng-if="downline['4'].ItemName.toLowerCase()" ng-src="{{s3Url}}flags/{{allCountryCodes[downline['4'].country] | lowercase}}.png" />
                                {{downline['4'].username}}</p>
                              <div class="right-block" style="margin-top: 30px;height: 66px;">
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12 table-responsive">
                                    <div class="table table-striped table-bordered no-margin">
                                      <table border="1" style="width: 100%;">
                                        <tr>
                                          <td></td>
                                          <td><strong>Left</strong></td>
                                          <td><strong>Right</strong></td>
                                        </tr>
                                        <tr>
                                          <td><strong>Referrals</strong></td>
                                          <td>{{downline['4'].LeftDirect}}</td>
                                          <td>{{downline['4'].RightDirect}}</td>
                                        </tr>
                                        <tr>
                                          <td><strong>Team Size</strong></td>
                                          <td>{{downline['4'].LeftTotal}}</td>
                                          <td>{{downline['4'].RightTotal}}</td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="sticky5" class="atip" style="width:300px">
                            <div class="plan2 row" style="margin-top: 1px !important;">
                              <p class="plan2-recommended"><img ng-if="downline['2'].ItemName.toLowerCase()" ng-src="{{s3Url}}flags/{{allCountryCodes[downline['2'].country] | lowercase}}.png" />
                                {{downline['2'].username}}</p>
                              <div class="right-block" style="margin-top: 30px;height: 66px;">
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12 table-responsive">
                                    <div class="table table-striped table-bordered no-margin">
                                      <table border="1" style="width: 100%;">
                                        <tr>
                                          <td></td>
                                          <td><strong>Left</strong></td>
                                          <td><strong>Right</strong></td>
                                        </tr>
                                        <tr>
                                          <td><strong>Referrals</strong></td>
                                          <td>{{downline['2'].LeftDirect}}</td>
                                          <td>{{downline['2'].RightDirect}}</td>
                                        </tr>
                                        <tr>
                                          <td><strong>Team Size</strong></td>
                                          <td>{{downline['2'].LeftTotal}}</td>
                                          <td>{{downline['2'].RightTotal}}</td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="sticky6" class="atip" style="width:300px">
                            <div class="plan2 row" style="margin-top: 1px !important;">
                              <p class="plan2-recommended"><img ng-if="downline['5'].ItemName.toLowerCase()" ng-src="{{s3Url}}flags/{{allCountryCodes[downline['5'].country] | lowercase}}.png" />
                                {{downline['5'].username}}</p>
                              <div class="right-block" style="margin-top: 30px;height: 66px;">
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12 table-responsive">
                                    <div class="table table-striped table-bordered no-margin">
                                      <table border="1" style="width: 100%;">
                                        <tr>
                                          <td></td>
                                          <td><strong>Left</strong></td>
                                          <td><strong>Right</strong></td>
                                        </tr>
                                        <tr>
                                          <td><strong>Referrals</strong></td>
                                          <td>{{downline['5'].LeftDirect}}</td>
                                          <td>{{downline['5'].RightDirect}}</td>
                                        </tr>
                                        <tr>
                                          <td><strong>Team Size</strong></td>
                                          <td>{{downline['5'].LeftTotal}}</td>
                                          <td>{{downline['5'].RightTotal}}</td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="sticky7" class="atip" style="width:300px">
                            <div class="plan2 row" style="margin-top: 1px !important;">
                              <p class="plan2-recommended"><img ng-if="downline['6'].ItemName.toLowerCase()" ng-src="{{s3Url}}flags/{{allCountryCodes[downline['6'].country] | lowercase}}.png" />
                                {{downline['6'].username}}</p>
                              <div class="right-block" style="margin-top: 30px;height: 66px;">
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12 table-responsive">
                                    <div class="table table-striped table-bordered no-margin">
                                      <table border="1" style="width: 100%;">
                                        <tr>
                                          <td></td>
                                          <td><strong>Left</strong></td>
                                          <td><strong>Right</strong></td>
                                        </tr>
                                        <tr>
                                          <td><strong>Referrals</strong></td>
                                          <td>{{downline['6'].LeftDirect}}</td>
                                          <td>{{downline['6'].RightDirect}}</td>
                                        </tr>
                                        <tr>
                                          <td><strong>Team Size</strong></td>
                                          <td>{{downline['6'].LeftTotal}}</td>
                                          <td>{{downline['6'].RightTotal}}</td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <div class="plan2 row">
                              <p class="plan2-recommended">Purchase Binary</p>
                              <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;">
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12 table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                      <tr>
                                        <td></td>
                                        <td><strong>Left</strong></td>
                                        <td><strong>Right</strong></td>
                                      </tr>
                                      <tr>
                                        <td><strong>Total PV</strong></td>
                                        <td>{{tableInfo.LeftPV}} PV</td>
                                        <td>{{tableInfo.RightPV}} PV</td>
                                      </tr>
                                      <tr>
                                        <td><strong>Potential PV</strong></td>
                                        <td>{{tableInfo.PotentialLeftPV}} PV</td>
                                        <td>{{tableInfo.PotentialRightPV}} PV</td>
                                      </tr>
                                      <tr>
                                        <td><strong>Matched PV</strong></td>
                                        <td>{{tableInfo.MatchedPV}} PV</td>
                                        <td>{{tableInfo.MatchedPV}} PV</td>
                                      </tr>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="plan2 row" style="margin-left: 10px;">
                              <p class="plan2-recommended">Re-Purchase Binary</p>
                              <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;">
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12 table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                      <tr>
                                        <td></td>
                                        <td><strong>Left</strong></td>
                                        <td><strong>Right</strong></td>
                                      </tr>
                                      <tr>
                                        <td><strong>Total PV</strong></td>
                                        <td>{{tableInfo.LeftRepurchasePV}} PV</td>
                                        <td>{{tableInfo.RightRepurchasePV}} PV</td>
                                      </tr>
                                      <tr>
                                        <td><strong>Potential PV</strong></td>
                                        <td>{{tableInfo.RepurchasePotentialLeftPV}} PV</td>
                                        <td>{{tableInfo.RepurchasePotentialRightPV}} PV</td>
                                      </tr>
                                      <tr>
                                        <td><strong>Matched PV</strong></td>
                                        <td>{{tableInfo.RepurchaseMatchedPV}} PV</td>
                                        <td>{{tableInfo.RepurchaseMatchedPV}} PV</td>
                                      </tr>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>-->
                        </div>

                        <!--HTML for the tooltips-->
                        <div class="row pull-left" style="margin-top:10px">
                          <form name="search" class="search-userbox" ng-submit="searchDownline(userId)" novalidate>
                            <div class="col-md-12">
                              <div class="col-md-6">
                                <strong><i class="fa fa-search" aria-hidden="true"></i>
                              Search by User ID</strong>
                                <input type="text" name="userid" class="form-control" ng-model="userId" placeholder="Enter User Id" required />
                              </div>
                              <div class="col-md-3" style="margin-top:20px">
                                <button type="submit" class="btn btn-secondary" name="submit"><i class="fa fa-search" aria-hidden="true"></i> &nbsp;Search</button>                                &nbsp;
                              </div>
                              <div class="col-md-3" style="margin-top:20px">
                                <button type="button" class="btn btn-primary pull-right" name="refresh" ng-click="getDownline('')"><i class="fa fa-refresh" aria-hidden="true"></i> &nbsp;Refresh</button>
                              </div>
                            </div>
                            <div class="default-error fade in" ng-show="search.userid.$touched && search.userid.$invalid || searchError">
                              User Id is required
                            </div>
                            <div class="default-error fade in" ng-if="responseError">
                              User Id does not exists.
                            </div>
                          </form>
                        </div>
                        <div class="panel col-md-3 pull-right" style="border: 1px solid #f2f2f2;margin-top:10px;padding: 0px;">
                          <div class="panel-body" style="padding-left: 15px;">
                            <div class="styled-input-wrapper">
                              <div class="input-icon">
                                <i class="fa fa-user"></i>
                              </div>
                              <div class="styled-input">
                                <div class="form-group">
                                  <label for="userName">Sponsor Name</label><br />
                                  <strong>{{downline['0'].Sponsor==0?'nanopool':downline['0'].Sponsor}}</strong>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--<div>
                          <div class="input-icon">
                            <i class="fa fa-user"></i>
                          </div>
                          <strong class="sponsor-name">Sponsor Name - {{downline['0'].Sponsor==0?'nanopool':downline['0'].Sponsor}}</strong>
                        </div>-->
                        <div class="row col-xs-12 col-sm-12 col-md-12 tree-net">
                          <div class="ajax_loader" ng-if="loadingData"></div>
                          <!--<span class="refresh pull-right" ng-click="getDownline('')" role="button" tabindex="0">
                          <img ng-src="{{s3Url}}refresh.png" width="20px"> Refresh</span>-->
                          <br>
                          <div class="col-md-offset-3 tree-wrapper">
                            <div class="col-xs-12 col-sm-12 col-md-12 tree">
                              <ul class="tree-ul">
                                <li class="tree-list top-circle">
                                  <a ng-click="getDownline(downline['0'].username)" class="orange-circle" data-tooltip="sticky1" style="position: relative;z-index: 1;">
                                    <div class="container-fluid">
                                      <div class="row">
                                        <!--<img ng-if="downline['0'].ItemName.toLowerCase()" ng-src="{{s3Url}}flags/{{allCountryCodes[downline['0'].country] | lowercase}}.png" />-->
                                         <strong>{{downline['0'].username}}</strong>
                                      </div>
                                      <div class="row" style="margin-top: 2px;">
                                        <img ng-if="downline['0'].ItemName.toLowerCase() && downline['0'].ItemName.toLowerCase() != 'registration'" ng-src="{{s3Url}}{{downline['0'].ItemName.toLowerCase()}}.png"
                                          class="img-circle" width="50" height="50" />
                                        <img ng-if="downline['0'].ItemName.toLowerCase() == 'registration'" ng-src="{{s3Url}}users/logo-green.gif" class="img-circle"
                                          width="50" height="50" />
                                        <img ng-if="!downline['0'].ItemName.toLowerCase()" ng-src="{{s3Url}}users/logo-green.gif" class="img-circle grey-scale" width="50"
                                          height="50" />
                                      </div>
                                    </div>
                                  </a>
                                  <ul class="level1">
                                    <li>
                                      <a ng-click="getDownline(downline['1'].username)" class="green-circle" data-tooltip="sticky2" style="position: relative;z-index: 1; ">
                                        <div class="container-fluid">
                                          <div class="row">
                                            <!--<img ng-if="downline['1'].ItemName.toLowerCase()" ng-src="{{s3Url}}flags/{{allCountryCodes[downline['1'].country] | lowercase}}.png" />-->
                                             <strong>{{downline['1'].username}}</strong>
                                          </div>
                                          <div class="row" style="margin-top: 2px;">
                                            <img ng-if="downline['1'].ItemName.toLowerCase() && downline['1'].ItemName.toLowerCase() != 'registration'" ng-src="{{s3Url}}{{downline['1'].ItemName.toLowerCase()}}.png"
                                              class="img-circle" width="50" height="50" />
                                            <img ng-if="downline['1'].ItemName.toLowerCase() == 'registration'" ng-src="{{s3Url}}users/logo-green.gif" class="img-circle"
                                              width="50" height="50" />
                                            <img ng-if="!downline['1'].ItemName.toLowerCase()" ng-src="{{s3Url}}users/logo-green.gif" class="img-circle grey-scale" width="50"
                                              height="50" />
                                          </div>
                                        </div>
                                      </a>
                                      <ul class="level2">
                                        <li class="circle-list">
                                          <a ng-click="getDownline(downline['3'].username)" class="sea-circle" data-tooltip="sticky3" style="position: relative;z-index: 1;">
                                            <div class="container-fluid">
                                              <div class="row">
                                                <!--<img ng-if="downline['3'].ItemName.toLowerCase()" ng-src="{{s3Url}}flags/{{allCountryCodes[downline['3'].country] | lowercase}}.png" /> -->
                                                <strong>{{downline['3'].username}}</strong>
                                              </div>
                                              <div class="row" style="margin-top: 2px;">
                                                <img ng-if="downline['3'].ItemName.toLowerCase() && downline['3'].ItemName.toLowerCase() != 'registration'" ng-src="{{s3Url}}{{downline['3'].ItemName.toLowerCase()}}.png"
                                                  class="img-circle" width="50" height="50" />
                                                <img ng-if="downline['3'].ItemName.toLowerCase() == 'registration'" ng-src="{{s3Url}}users/logo-green.gif" class="img-circle"
                                                  width="50" height="50" />
                                                <img ng-if="!downline['3'].ItemName.toLowerCase()" ng-src="{{s3Url}}users/logo-green.gif" class="img-circle grey-scale" width="50"
                                                  height="50" />
                                              </div>
                                            </div>
                                          </a>
                                        </li>
                                        <li>
                                          <a ng-click="getDownline(downline['4'].username)" class="sea-circle" data-tooltip="sticky4" style="position: relative;z-index: 1;">
                                            <div class="container-fluid">
                                              <div class="row">
                                                <!--<img ng-if="downline['4'].ItemName.toLowerCase()" ng-src="{{s3Url}}flags/{{allCountryCodes[downline['4'].country] | lowercase}}.png" />-->
                                                 <strong>{{downline['4'].username}}</strong>
                                              </div>
                                              <div class="row" style="margin-top: 2px;">
                                                <img ng-if="downline['4'].ItemName.toLowerCase() && downline['4'].ItemName.toLowerCase() != 'registration'" ng-src="{{s3Url}}{{downline['4'].ItemName.toLowerCase()}}.png"
                                                  class="img-circle" width="50" height="50" />
                                                <img ng-if="downline['4'].ItemName.toLowerCase() == 'registration'" ng-src="{{s3Url}}users/logo-green.gif" class="img-circle"
                                                  width="50" height="50" />
                                                <img ng-if="!downline['4'].ItemName.toLowerCase()" ng-src="{{s3Url}}users/logo-green.gif" class="img-circle grey-scale" width="50"
                                                  height="50" />
                                              </div>
                                            </div>
                                          </a>
                                        </li>
                                      </ul>
                                    </li>
                                    <li>
                                      <a ng-click="getDownline(downline['2'].username)" data-tooltip="sticky5" class="green-circle" style="position: relative;z-index: 1;">
                                        <div class="container-fluid">
                                          <div class="row">
                                            <!--<img ng-if="downline['2'].ItemName.toLowerCase()" ng-src="{{s3Url}}flags/{{allCountryCodes[downline['2'].country] | lowercase}}.png" /> -->
                                            <strong>{{downline['2'].username}}</strong>
                                          </div>
                                          <div class="row" style="margin-top: 2px;">
                                            <img ng-if="downline['2'].ItemName.toLowerCase() && downline['2'].ItemName.toLowerCase() != 'registration'" ng-src="{{s3Url}}{{downline['2'].ItemName.toLowerCase()}}.png"
                                              class="img-circle" width="50" height="50" />
                                            <img ng-if="downline['2'].ItemName.toLowerCase() == 'registration'" ng-src="{{s3Url}}users/logo-green.gif" class="img-circle"
                                              width="50" height="50" />
                                            <img ng-if="!downline['2'].ItemName.toLowerCase()" ng-src="{{s3Url}}users/logo-green.gif" class="img-circle grey-scale" width="50"
                                              height="50" />
                                          </div>
                                        </div>
                                      </a>
                                      <ul class="level2 right-circles">
                                        <li  class="circle-list">
                                          <a ng-click="getDownline(downline['5'].username)" data-tooltip="sticky6" class="sea-circle" style="position: relative;z-index: 1;">
                                            <div class="container-fluid">
                                              <div class="row">
                                                <!--<img ng-if="downline['5'].ItemName.toLowerCase()" ng-src="{{s3Url}}flags/{{allCountryCodes[downline['5'].country] | lowercase}}.png" />-->
                                                 <strong>{{downline['5'].username}}</strong>
                                              </div>
                                              <div class="row" style="margin-top: 2px;">
                                                <img ng-if="downline['5'].ItemName.toLowerCase() && downline['5'].ItemName.toLowerCase() != 'registration'" ng-src="{{s3Url}}{{downline['5'].ItemName.toLowerCase()}}.png"
                                                  class="img-circle" width="50" height="50" />
                                                <img ng-if="downline['5'].ItemName.toLowerCase() == 'registration'" ng-src="{{s3Url}}users/logo-green.gif" class="img-circle"
                                                  width="50" height="50" />
                                                <img ng-if="!downline['5'].ItemName.toLowerCase()" ng-src="{{s3Url}}users/logo-green.gif" class="img-circle grey-scale" width="50"
                                                  height="50" />
                                              </div>
                                            </div>
                                          </a>
                                        </li>
                                        <li>
                                          <a ng-click="getDownline(downline['6'].username)" data-tooltip="sticky7" class="sea-circle" style="position: relative;z-index: 1;">
                                            <div class="container-fluid">
                                              <div class="row">
                                                <!--<img ng-if="downline['6'].ItemName.toLowerCase()" ng-src="{{s3Url}}flags/{{allCountryCodes[downline['6'].country] | lowercase}}.png" /> -->
                                                <strong>{{downline['6'].username}}</strong>
                                              </div>
                                              <div class="row" style="margin-top: 2px;">
                                                <img ng-if="downline['6'].ItemName.toLowerCase() && downline['6'].ItemName.toLowerCase() != 'registration'" ng-src="{{s3Url}}{{downline['6'].ItemName.toLowerCase()}}.png"
                                                  class="img-circle" width="50" height="50" />
                                                <img ng-if="downline['6'].ItemName.toLowerCase() == 'registration'" ng-src="{{s3Url}}users/logo-green.gif" class="img-circle"
                                                  width="50" height="50" />
                                                <img ng-if="!downline['6'].ItemName.toLowerCase()" ng-src="{{s3Url}}users/logo-green.gif" class="img-circle grey-scale" width="50"
                                                  height="50" />
                                              </div>
                                            </div>
                                          </a>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-12 mt20"></div>
                          <p class="col-xs-12 col-sm-12 col-md-12 text-danger text-center text-more-details"><small>*To view more details of any member, please click on it.</small></p>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane tab_default_6">
                      <h2 class="mb35-sm top-spacemob10"> <i class="fa fa-trophy icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Leaderboard</strong></h2>
                      <hr />
                      <h5 class="red-text02"><strong>Max Directs</strong></h5>

                      <div class="table-responsive">
                        <table class="table table-striped table-bordered no-margin ">
                          <thead>
                            <tr>
                              <th><strong>Last 7 Days</strong></th>
                              <th><strong>Last 30 Days</strong></th>
                              <th><strong>All Time
                              </strong>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-if="loadingData==true">
                              <td>Loading Data ...</td>
                            </tr>
                            <!--ng-class="key % 2 == 0 ? 'success' : 'warning'"-->
                            <tr ng-repeat="(key, row) in maxDirects">
                              <td><img ng-src="{{s3Url}}flags/{{allCountryCodes[row.last7Days.country] | lowercase}}.png" />                                {{row.last7Days.MemberName}}</td>
                              <td><img ng-src="{{s3Url}}flags/{{allCountryCodes[row.last30Days.country] | lowercase}}.png" />                                {{row.last30Days.MemberName}}</td>
                              <td><img ng-src="{{s3Url}}flags/{{allCountryCodes[row.allTime.country] | lowercase}}.png" /> {{row.allTime.MemberName}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <br />
                        <br />
                      </div>
                      <h5 class="red-text02" ng-hide="true"><strong>Max Team Size</strong></h5>
                      <div class="table-responsive" ng-hide="true">
                        <table class="table table-striped table-bordered no-margin ">
                          <thead>
                            <tr>
                              <th><strong>Last 7 Days</strong></th>
                              <th><strong>Last 30 Days</strong></th>
                              <th><strong>All Time
                              </strong>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-if="loadingData==true">
                              <td>Loading Data ...</td>
                            </tr>
                            <tr ng-repeat="(key, row) in maxTeam">
                              <td><img ng-src="{{s3Url}}flags/{{allCountryCodes[row.last7Days.country] | lowercase}}.png" />                                {{row.last7Days.MemberName}}</td>
                              <td><img ng-src="{{s3Url}}flags/{{allCountryCodes[row.last30Days.country] | lowercase}}.png" />                                {{row.last30Days.MemberName}}</td>
                              <td><img ng-src="{{s3Url}}flags/{{allCountryCodes[row.allTime.country] | lowercase}}.png" /> {{row.allTime.MemberName}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <br />
                        <br />
                      </div>
                    </div>
                    <div class="tab-pane tab_default_7">
                      <h2 class="mb35-sm top-spacemob10"> <i class="fa fa-money icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Commissions</strong></h2>
                      <hr />
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                          <div class="plan2 row">
                            <p class="plan2-recommended">Total Commission</p>
                            <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;height: auto">
                              <div class="row" style="background-color: #fff;">
                                {{totalCommission | currency}}
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                          <div class="plan2 row" style="margin-left : 5px">
                            <p class="plan2-recommended">Direct Referral Income</p>
                            <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;height: auto">
                              <div class="row" style="background-color: #fff;">
                                {{referralIncome | currency}}
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                          <div class="plan2 row" style="margin-left : 5px">
                            <p class="plan2-recommended">Purchase Binary Income</p>
                            <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;height: auto">
                              <div class="row" style="background-color: #fff;">
                                {{purchaseIncome | currency}}
                              </div>
                            </div>
                          </div>
                        </div>

                        <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="plan2 row" style="margin-left : 5px">
                            <p class="plan2-recommended">Repurchase Binary Income</p>
                            <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;height: auto">
                              <div class="row" style="background-color: #fff;">
                                {{rePurchaseIncome | currency}}
                              </div>
                            </div>
                          </div>
                        </div>-->
                      </div>
                      <!--<div class="row text-center">
                        <div class="col-md-3 col-sm-5 col-xs-5">
                          <h4><strong> Total Commission</strong></h4>
                          <p class="red-text04 pull-left">{{totalCommission | currency}}</p>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-3">
                          <h4> <strong>Direct Referral Income</strong></h4>
                          <p class="red-text04 pull-left">{{referralIncome | currency}}</p>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-3">
                          <h4><strong> Purchase Binary Income</strong></h4>
                          <p class="red-text04 pull-left">{{purchaseIncome | currency}}</p>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-3">
                          <h4> <strong>Repurchase Binary Income</strong></h4>
                          <p class="red-text04 pull-left">{{rePurchaseIncome | currency}}</p>
                        </div>
                      </div>-->
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs mar50 newtab" role="tablist" style="border-bottom :1px solid #afc8e3 !important;background: #fff !important; color:#525252 !important;width :100% !important">
                        <li role="presentation" class="active" style="width: 324px;">
                          <a href=".dmp" aria-controls="dmp" role="tab" data-toggle="tab" style="background: #4286f7 !important;">
                            <i class="fa fa-user " aria-hidden="true"></i><strong style="margin-left: 10px;">Total Direct Referral Income</strong></a></li>
                        <li role="presentation" ng-click="getTotalIncome(currentPage)" style="width: 324px;margin-left: 5px !important;">
                          <a href=".rmp" aria-controls="rmp" role="tab" data-toggle="tab" style="background: #4286f7 !important;">
                            <i class="fa fa-users " aria-hidden="true"></i><strong style="margin-left: 10px;">Total Team Income</strong></a></li>
                      </ul>
                      <!-- Tab panes -->
                      <div class="tab-content" style="overflow:hidden;">
                        <div role="tabpanel" class="tab-pane active dmp">
                          <br />
                          <h5 class="red-text02"><strong>Total Direct Referral Income</strong></h5>
                          <div class="table-responsive">
                            <table class="table table-striped table-bordered no-margin">
                              <thead>
                                <tr>
                                  <th><strong>Date</strong></th>
                                  <th><strong>Description </th>
                                <th><strong>Income(USD)
                                  </strong>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-if="noDirectRecords">
                                  <td colspan="3">No Records Found</td>
                                </tr>
                                <tr ng-repeat="referralIncome in directIncome">
                                  <td>{{referralIncome.Date}}</td>
                                  <td>{{referralIncome.Description}}</td>
                                  <td>{{referralIncome.USD | currency}}</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="pagination-default">
                              <ul class="pagination pagination-metro nomargin mt10" uib-pagination items-per-page="pagination.perpage" boundary-links="true"
                                total-items="totalRecords" ng-model="currentPage" max-size="5" ng-change="getDirectIncome(currentPage)"></ul>
                            </div>
                            <br />
                            <br />
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane rmp">
                          <br />
                          <h5 class="red-text02"><strong>Total Team Income</strong></h5>
                          <div class="table-responsive">
                            <table class="table table-striped table-bordered no-margin ">
                              <thead>
                                <tr>
                                  <th><strong>Date</strong></th>
                                  <th><strong>Description </strong></th>
                                  <th><strong>Income(USD)
                                  </strong>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-if="noRecords">
                                  <td colspan="3">No Records Found</td>
                                </tr>
                                <tr ng-repeat="totalIncome in teamIncome">
                                  <td>{{totalIncome.Date}}</td>
                                  <td>{{totalIncome.Description}}</td>
                                  <td>{{totalIncome.USD | currency}}</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="pagination-default">
                              <ul class="pagination pagination-metro nomargin mt10" uib-pagination items-per-page="pagination.perpage" boundary-links="true"
                                total-items="totalRows" ng-model="currentPage" max-size="5" ng-change="getTotalIncome(currentPage)"></ul>
                            </div>
                            <br />
                            <br />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane tab_default_8">
                      <h2 class="mb35-sm top-spacemob10"><i class="fa fa-users icon-lg-red border-round-red" aria-hidden="true"></i> <strong>My Team</strong></h2>
                      <hr />
                      <div class="table-responsive">
                        <table class="table table-striped table-bordered no-margin ">
                          <thead>
                            <tr>
                              <th><strong>S.No</strong></th>
                              <th><strong>Name </th>
                            <th><strong>User ID
                              </strong>
                              </th>
                              <th><strong>Sponsor Name</strong></th>
                              <th><strong>Level </th>
                            <th><strong>Join at</strong></th>
                              <th><strong>Frontline (Direct Referral)
                              </strong>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="(key,team) in teamData">
                              <td>{{(((teamCurrentPage - 1) * pagination.perpage) + (key + 1))}}</td>
                              <td><img ng-src="{{s3Url}}flags/{{allCountryCodes[team.country] | lowercase}}.png" /> {{team.Name}}</td>
                              <td>{{team.username}}</td>
                              <td>{{team.Sponsor}}</td>
                              <td>{{team.Level}}</td>
                              <td>{{team.DOJ}}</td>
                              <td>{{team.TotalDirect}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="pagination-default">
                          <ul class="pagination pagination-metro nomargin mt10" uib-pagination items-per-page="pagination.perpage" boundary-links="true"
                            total-items="pagination.totalTeam" ng-model="teamCurrentPage" max-size="5" ng-change="allReferral(teamCurrentPage)"></ul>
                        </div>
                        <br />
                        <br />
                      </div>
                    </div>
                    <div class="tab-pane group_chat">
                      <h2 class="mb35-sm top-spacemob10"><i class="fa fa-comments-o icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Group Chat</strong></h2>
                      <hr />
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs mar50 newtab" role="tablist" style="border-bottom :1px solid #afc8e3 !important;background: #fff !important; color:#525252 !important;width :100% !important">
                        <li role="presentation" class="active" style="width: 324px;">
                          <a href=".dmp" aria-controls="dmp" role="tab" data-toggle="tab" style="background: #4286f7 !important;">
                            <i class="fa fa-inbox" aria-hidden="true"></i><strong style="margin-left: 10px;">Inbox</strong>
                            </a>
                        </li>
                        <li role="presentation" ng-click="getSent(currentPage, limit)" style="width: 324px;margin-left: 5px !important;">
                          <a href=".rmp" aria-controls="rmp" role="tab" data-toggle="tab" style="background: #4286f7 !important;">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i><strong style="margin-left: 10px;">Sent</strong>
                            </a>
                        </li>
                        <li role="presentation" ng-click="getUser(currentPage, 10)" style="width: 324px;margin-left: 5px !important;">
                          <a href=".bnrr" aria-controls="bnrr" role="tab" data-toggle="tab" style="background: #4286f7 !important;">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i><strong style="margin-left: 10px;">Send Message</strong>
                            </a>
                        </li>
                      </ul>
                      <!-- Tab panes -->
                      <div class="tab-content" style="border:0px !important">
                        <div role="tabpanel" class="tab-pane dmp active">
                          <br />
                          <div id="inbox">
                            <h2 class="mb35-sm top-spacemob10"><i class="fa fa-inbox icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Inbox</strong></h2>
                            <hr />
                            <div class="row">
                              <form name="searchForm" class="form-inline search-form" ng-submit="searchInboxMessage(searchText, currentPage, limit)" novalidate>
                                <h4 style="padding-left:10px;">Search Messages</h4>
                                <div class="col-md-4 col-sm-12">
                                  <input type="text" name="search-text" ng-model="searchText" class="form-control" style="width:100%;" required />
                                </div>
                                <div class="col-md-2 col-sm-12">
                                  <input type="submit" value="Apply Filter" ng-disabled="searchForm.$invalid" class="btn btn-block btn-warning" />
                                </div>
                              </form>
                            </div>
                            <a href=".bnrr" aria-controls="bnrr" role="tab" data-toggle="tab" class="pull-right copy-btn" ng-click="activeTab()"><i class="fa fa-paper-plane-o "></i> Compose</a>
                            <br />
                            <br />
                            <div class="table-responsive">
                              <table class="table table-striped table-bordered no-margin ">
                                <tr ng-if="loadingData==true">
                                  <td>Loading ...</td>
                                </tr>
                                <tr ng-if="totalInboxMessage===0 && loadingData==false">
                                  <td>No Message Found</td>
                                </tr>
                                <tr ng-repeat="(key, inbox) in inboxData" ng-if="loadingData==false" ng-click="viewMessage('inbox', inbox.id)">
                                  <a href="#">
                                    <td class="text-capitalize"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;{{inbox.sendername}}</td>
                                    <td><strong>{{inbox.senderid}}</strong> </td>
                                    <td>
                                      <small class="red-text02">nanopool:: {{inbox.subject}}</small>
                                    </td>
                                    <td>
                                      <!-- <i class="fa fa-link" aria-hidden="true"></i>&nbsp;  -->
                                      {{inbox.ondate}}
                                    </td>
                                  </a>
                                </tr>
                              </table>
                              <div class="pagination-default" ng-if="pagination.totalInboxMessage > 0">
                                <ul class="pagination pagination-metro nomargin mt10" uib-pagination items-per-page="10" boundary-links="true" total-items="totalInboxMessage"
                                  ng-model="currentPage" max-size="5" ng-change="getInbox(currentPage, limit)"></ul>
                              </div>
                            </div>
                          </div>
                          <div id="view-msg" ng-if="readInboxMessage">
                            <h2 class="mb35-sm top-spacemob10"><i class="fa fa-inbox icon-lg-red border-round-red" aria-hidden="true"></i> <strong>View Message</strong></h2>
                            <div class="btn-group pull-right">
                              <div class=" btn btn-default "><a href="#"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</a>
                              </div>
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-reply" aria-hidden="true"></i> Reply <span class="caret"></span>
                                    </button>
                              <ul class="dropdown-menu">
                                <li ng-click="replyMessage('inbox', inboxMessage)"><a><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                </li>
                                <li><a href="#"><i class="fa fa-times" aria-hidden="true"></i> Delete</a>
                                </li>
                              </ul>
                            </div>
                            <hr />
                            <div ng-if="loadingData">Loading Message ... </div>
                            <div class="clear-fix"></div>
                            <div ng-if="loadingData==false">
                              <strong>From:</strong> {{inboxMessage.senderid}} To: me on {{inboxMessage.ondate}}
                              <br />
                              <h4><strong>Subject: {{inboxMessage.subject}}</strong></h4>
                              <br />
                              <!--<summernote ng-model="inboxMessage.body" config="options"></summernote>-->
                              <div text-angular ng-bind-html="inboxMessage.body"></div>
                            </div>
                          </div>
                          <br />
                          <hr />
                          <br />
                          <div class="reply-msg" ng-if="showReplyBox">
                            <h2 class="mb35-sm top-spacemob10">
                              <i class="fa fa-reply icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Reply Message</strong>
                            </h2>
                            <div class=" pull-right btn btn-default "><a href="#"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</a>
                            </div>
                            <div class="clear-fix"></div>
                            <hr />
                            <form name="replyForm" ng-submit="sendMessage(replyMail)" novalidate>
                              <label><strong>To</strong>
                                    </label>
                              <br />
                              <input type="text" ng-model="replyMail.replyId" class="form-control" ng-readonly="true" />
                              <label><strong>Subject</strong>
                                    </label>
                              <br />
                              <input type="text" name="subject" ng-model="replyMail.replySubject" class="form-control" required="required" />
                              <div class="alert alert-danger fade in error-padding" ng-show="replyForm.subject.$touched && replyForm.subject.$invalid">
                                Subject is required</div>

                              <label><strong>Message</strong></label>
                              <summernote ng-model="replyMail.message" config="toolbarOptions"></summernote>
                              <!--<div text-angular ng-model="replyMail.message"></div>-->
                              <!-- <textarea texteditor id="txtEditor1" ng-model="message" class="form-control"></textarea> -->

                              <div class="alert alert-danger fade in error-padding" ng-if="messageError">
                                Please enter your message</div>
                              <br />
                              <br />
                              <div class="alert alert-danger fade in error-padding no-arrow" ng-if="sendError">
                                No user selected</div>
                              <div class="alert alert-success fade in" ng-if="sendMessage==true">
                                <strong><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> </strong> Message Sent
                                Succesfully.
                              </div>
                              <div class="alert alert-danger fade in" ng-if="sendMessage==false">
                                <strong></strong> Please keep in mind that you can send only one message every 24 hours.
                              </div>
                              <input type="submit" value="Submit" ng-disabled="replyForm.$invalid" class="btn  btn-warning" />
                            </form>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane rmp">
                          <br />
                          <h2 class="mb35-sm top-spacemob10"><i class="fa fa-paper-plane-o icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Sent</strong></h2>
                          <hr />
                          <div class="row">
                            <form name="sentForm" class="form-inline search-form" ng-submit="searchSentMessage(searchSent, currentPage, limit)" novalidate>
                              <h4 style="padding-left:10px;">Search Messages</h4>
                              <div class="col-md-4 col-sm-12">
                                <input type="text" name="search-sent" ng-model="searchSent" class="form-control" style="width:100%;" required />
                              </div>
                              <div class="col-md-2 col-sm-12">
                                <input type="submit" value="Apply Filter" ng-disabled="sentForm.$invalid" class="btn btn-block btn-warning" />
                              </div>
                            </form>
                          </div>
                          <!-- <a href="#" class="pull-right copy-btn "><i class="fa fa-paper-plane-o "></i> Compose</a> -->
                          <br />
                          <br />
                          <div class="table-responsive">
                            <table class="table table-striped table-bordered no-margin">
                              <tr ng-if="loadingData==true">
                                <td>Loading ...</td>
                              </tr>
                              <tr ng-if="totalSentMessage===0 && loadingData==false">
                                <td>No Message Found.</td>
                              </tr>
                              <tr ng-repeat="(key, sent) in sentData" ng-if="totalSentMessage > 0 && loadingData==false" ng-click="viewMessage('sent', sent.id)">
                                <a href="#">
                                  <td class="text-capitalize"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;{{sent.receivername}}</td>
                                  <td><strong>{{sent.receiverid}}</strong> </td>
                                  <td>
                                    <small class="red-text02">nanopool:: {{sent.subject}}</small>
                                  </td>
                                  <td>
                                    <i class="fa fa-link" aria-hidden="true"></i>&nbsp; {{sent.ondate}}
                                  </td>
                                </a>
                              </tr>
                            </table>
                            <div class="pagination-default" ng-if="totalSentMessage > 0">
                              <ul class="pagination pagination-metro nomargin mt10" uib-pagination items-per-page="10" boundary-links="true" total-items="totalSentMessage"
                                ng-model="currentPage" max-size="5" ng-change="getSent(currentPage, limit)"></ul>
                            </div>
                          </div>
                          <div id="view-msg" ng-if="readSentMessage">
                            <h2 class="mb35-sm top-spacemob10"><i class="fa fa-inbox icon-lg-red border-round-red" aria-hidden="true"></i> <strong>View Message</strong></h2>
                            <div class="btn-group pull-right">
                              <div class=" btn btn-default "><a href="#"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</a>
                              </div>
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-reply" aria-hidden="true"></i> Reply <span class="caret"></span>
                                    </button>
                              <ul class="dropdown-menu">
                                <li ng-click="replyMessage('sent', sentMessage)"><a><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                </li>
                                <li><a href="#"><i class="fa fa-times" aria-hidden="true"></i> Delete</a>
                                </li>
                              </ul>
                            </div>
                            <hr />
                            <div ng-if="loadingData">Loading Message ... </div>
                            <div class="clear-fix"></div>
                            <div ng-if="loadingData==false">
                              <strong>From:</strong> {{sentMessage.receiverid}} To: me on {{sentMessage.ondate}}
                              <br />
                              <h4><strong>Subject: {{sentMessage.subject}}</strong></h4>
                              <br />
                              <!--<summernote ng-model="sentMessage.body" config="options"></summernote>-->
                              <div text-angular ng-bind-html="sentMessage.body"></div>
                            </div>
                          </div>
                          <br />
                          <hr />
                          <br />
                          <div class="reply-msg" ng-if="sentReplyBox">
                            <h2 class="mb35-sm top-spacemob10">
                              <i class="fa fa-reply icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Reply Message</strong>
                            </h2>
                            <div class=" pull-right btn btn-default "><a href="#"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</a>
                            </div>
                            <div class="clear-fix"></div>
                            <hr />
                            <form name="replyForm" ng-submit="sendMessage(replyMail)" novalidate>
                              <label><strong>To</strong>
                                    </label>
                              <br />
                              <input type="text" ng-model="replyMail.replyId" class="form-control" ng-readonly="true" />
                              <label><strong>Subject</strong>
                                    </label>
                              <br />
                              <input type="text" name="subject" ng-model="replyMail.replySubject" class="form-control" required="required" />
                              <div class="alert alert-danger fade in error-padding" ng-show="replyForm.subject.$touched && replyForm.subject.$invalid">
                                Subject is required</div>

                              <label><strong>Message</strong></label>
                              <summernote ng-model="replyMail.message" config="toolbarOptions"></summernote>
                              <!--<div text-angular ng-model="replyMail.message"></div>-->
                              <!-- <textarea texteditor id="txtEditor1" ng-model="message" class="form-control"></textarea> -->

                              <div class="alert alert-danger fade in error-padding" ng-if="messageError">
                                Please enter your message</div>
                              <br />
                              <br />
                              <div class="alert alert-danger fade in error-padding no-arrow" ng-if="sendError">
                                No user selected</div>
                              <div class="alert alert-success fade in" ng-if="sendMessage==true">
                                <strong><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> </strong> Message Sent
                                Succesfully.
                              </div>
                              <div class="alert alert-danger fade in" ng-if="sendMessage==false">
                                <strong></strong> Please keep in mind that you can send only one message every 24 hours.
                              </div>
                              <input type="submit" value="Submit" ng-disabled="replyForm.$invalid" class="btn  btn-warning" />
                            </form>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane bnrr">
                          <br />
                          <h2 class="mb35-sm top-spacemob10"><i class="fa fa-envelope-o icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Send Message</strong></h2>
                          <hr />
                          <div class="row">
                            <form name="userForm" class="form-inline" ng-submit="searchUser(currentPage)">
                              <h4 style="padding-left:10px;">Filter By</h4>
                              <div class="col-md-6 col-sm-12">
                                <select name="filterType" ng-model="searchType" class="form-control" style="width:100%;" required>
                                            <!--<option value="0">select</option>-->
                                            <option value="email">Email</option>
                                            <option value="Name">Name</option>
                                        </select>
                                <div class="alert alert-danger fade in error-padding" ng-if="searchTypeError">
                                  Please select search type.</div>
                              </div>
                              <div class="col-md-4 col-sm-12">
                                <input type="text" name="search-text" ng-model="searchText" class="form-control" style="width:100%;" ng-disabled="userForm.filterType.$invalid"
                                  required />
                              </div>
                              <div class="col-md-2 col-sm-12">
                                <input type="submit" value="Search" ng-disabled="userForm.$invalid" class="btn btn-block btn-warning" />
                              </div>
                            </form>
                          </div>
                          <br />
                          <br />
                          <md-content laout="column" flex>
                            <md-card>
                              <md-table-container>
                                <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
                                  <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder" style="background:#525252">
                                    <tr md-row>
                                      <th md-column><span>Name of the User</span></th>
                                      <th md-column class="align-left"><span>Email</span></th>
                                    </tr>
                                  </thead>
                                  <tbody md-body>
                                    <tr ng-if="teamDirectsUsers.length > 0" md-row md-select="directs" md-on-select="logItem" md-auto-select="options.autoSelect"
                                      ng-repeat="(key,directs) in teamDirectsUsers">
                                      <td md-cell md-checked>{{directs.Name}}</td>
                                      <td md-cell>{{directs.Email}}</td>
                                    </tr>
                                    <tr ng-if="teamDirectsUsers.length == 0" md-row>
                                      <td md-cell colspan="2">
                                        <p class="text-center"><strong>No member found</strong></p>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </md-table-container>
                              <md-table-pagination md-limit="query.limit" md-limit-options="[limit]" md-page="query.page" md-total="{{pagination.totalUsers}}"
                                md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="onPaginationChange"></md-table-pagination>
                            </md-card>
                          </md-content>


                          <!--<div class="table-responsive">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered no-margin">
                                        <thead>
                                            <tr style="color:#525252;">
                                                <td>
                                                  Select User
                                                </td>
                                                <td><strong>Name of the User</strong>
                                                </td>
                                                <td><strong>Email</strong>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tr ng-if="teamDirectsUsers == ''">
                                          <td>No Records Found</td>
                                        </tr>
                                        <tr ng-repeat="(key,directs) in teamDirectsUsers">
                                          <td>
                                            <input type="checkbox" name="selected" ng-checked="isSelected(directs.username)" ng-click="updateSelection($event, directs.username)">
                                          </td>
                                          <td class="text-capitalize">{{directs.Name}}</td>
                                          <td>{{directs.Email}}</td>
                                        </tr>
                                    </table>
                                    <div class="pagination-default" ng-if="pagination.totalUsers > 0">
                                      <ul class="pagination pagination-metro nomargin mt10" uib-pagination items-per-page="10" boundary-links="true" total-items="pagination.totalUsers" ng-model="currentPage" max-size="5" ng-change="getUser(currentPage, 10)"></ul>
                                    </div>
                                </div>-->
                          <br />
                          <br />
                          <div class="alert alert-danger" role="alert"><strong>Note :</strong> Please keep in mind that you can send only one message every 24 hours</div>
                          <br />
                          <form name="sendForm" ng-submit="sendMessage(replyMail)" novalidate ng-if="sendMessageBox">
                            <label><strong>To: <span ng-repeat="item in selected">
                                  {{item.username}} {{selected[$index + 1]? ", " : " "}}</span></strong>
                                </label><br /><br />
                            <label><strong>Subject</strong></label>
                            <br />
                            <input type="text" name="subject" ng-model="replyMail.subject" class="form-control" required="required" />
                            <div class="alert alert-danger fade in error-padding" ng-show="sendForm.subject.$touched && sendForm.subject.$invalid">
                              Subject is required</div>
                            <label><strong>Message</strong></label>
                            <summernote ng-model="replyMail.message" config="toolbarOptions"></summernote>
                            <div class="alert alert-danger fade in error-padding" ng-if="messageError">
                              Please enter your message</div>
                            <br />
                            <br />
                            <div class="alert alert-danger fade in error-padding no-arrow" ng-if="sendError">
                              No user selected</div>
                            <div class="alert alert-success fade in" ng-if="sendMessage==true">
                              <strong><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> </strong> Message Sent
                              Succesfully.
                            </div>
                            <div class="alert alert-danger fade in" ng-if="sendMessage==false">
                              <strong></strong> Please keep in mind that you can send only one message every 24 hours.
                            </div>
                            <input type="submit" value="Submit" ng-disabled="sendForm.$invalid" class="btn  btn-warning" />
                          </form>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- contentpanel -->
    </div>
  </div>
  <!-- mainwrapper -->
</section>
