<style>
  body {
    background-color: #333f88
  }
</style>
<section>
  <div class="panel panel-signup animated bounceIn" id="box">
    <div class="panel-body">
      <div id="top_header">
        <img src="img/logo-nanopool.png" class="logo" alt="Nanopool" />
      </div>
      <br />
      <h4 class="text-center mb5">Resend Verification Email</h4>
      <p class="text-center">Enter your Email and Press Resend</p>
      <div class="mb30"></div>
      <div class="alert alert-danger fade in error-padding text-center no-arrow text-capitalize" ng-if="forgotPassError" style="position:relative;">{{forgotPassError}}</div>
      <form name="resendEmail" ng-submit="submit()" novalidate>
        <div class="input-group mb15">
          <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
          <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Enter Your Email" ng-pattern="/^[a-z]+([a-z0-9._-](\+{0,1}))+@[a-z]+\.[a-z.]{2,6}$/i"
            required>
        </div>
        <div class="alert alert-danger fade in error-padding" ng-show="(resendEmail.email.$touched && resendEmail.email.$invalid && !resendEmail.email.$error.pattern) || emailError">
          This field is required.
        </div>

        <div class="alert alert-danger fade in error-padding" ng-show="resendEmail.email.$error.pattern && resendEmail.email.$touched">
          Please enter a valid email address.</div>
        <!-- input-group -->
        <div class="clearfix row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-success full-width">Resend<i class="fa fa-arrow-circle-o-right ml5"></i></button>
            <small style=" padding-top:10px;">*If you have not received Verification email, please click on the button and get a fresh Activation Email!</small>
          </div>
        </div>
        <div class="col-md-12 alert alert-warning forgot-password text-center" ng-if="hasSuccess">
          <div class="col-md-12 forgot-text">
            "We've sent an email to <strong>{{successEmail}}</strong>. Click the link to verify your account.
          </div>
        </div>
        <div class="col-md-12 alert alert-danger forgot-password text-center" ng-if="resendError">
          <div class="col-md-12 forgot-text">
            {{resendError}}
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- panel -->
</section>