<style>
  body {
    background-color: #333f88
  }
</style>
<section>
  <div class="panel panel-signup animated bounceIn" id="box">
    <div class="ajax_loader" ng-if="loadingMessage"></div>
    <form name="signup" ng-submit="next()" novalidate>
      <div class="panel-body">
        <div id="top_header">
          <img src="img/logo-nanopool.png" class="logo" alt="Nanopool" />
          <h4 class="text-center mb5">Create a new account</h4>
          <p class="text-center">Please enter your credentials below</p>
        </div>
        <div class="alert alert-danger fade in error-padding text-center no-arrow" ng-show="signupError" style="positive:relative;">{{signupError}}</div>
        <div class="mb30"></div>
        <div class="row">
          <div class="col-sm-6">
            <label>Sponsor ID</label><br>
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-chain"></i></span>
              <input type="text" name="sponsor" class="form-control" ng-blur="checkSponsor(user.sponsor)" ng-model="user.sponsor" required/>
            </div>
            <div class="alert alert-danger fade in error-padding" ng-show="signup.sponsor.$touched && signup.sponsor.$invalid">
              Sponsor Id is required</div>
            <div class="alert alert-danger fade in error-padding" ng-if="sponsorError">{{sponsorError}}</div>
          </div>
          <div class="col-sm-6">
            <label>Sponsor Name</label><br>
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-chain"></i></span>
              <input type="text" name="sponsor" class="form-control" placeholder="{{user.sponsorName}}" disabled required />
            </div>
            <div class="alert alert-danger fade in error-padding" ng-if="sponsorError">{{sponsorError}}</div>
          </div>
          <div class="col-sm-12 alert alert-danger fade in error-padding" ng-if="!checkSponsorStatus">{{checkSponsorError}}</div>
          <div class="col-sm-6">
            <label>Desired User ID</label><br>
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-chain"></i></span>
              <input type="text" name="userid" ng-blur="checkuserId(user.userid)" ng-model="user.userid" class="form-control userid" placeholder="Create a Username"
                ng-minlength=4 ng-maxlength=20 ng-pattern="/^[a-zA-Z0-9]+$/" required />
            </div>
            <div class="alert alert-danger fade in error-padding error-abs" ng-show="signup.userid.$touched && signup.userid.$invalid && !signup.userid.$error.pattern && !signup.userid.$error.maxlength && !signup.userid.$error.minlength">
              User Id is required</div>

            <div class="alert alert-danger fade in error-padding error-abs" ng-show="signup.userid.$touched && signup.userid.$error.pattern && !signup.userid.$error.maxlength && !signup.userid.$error.minlength">
              Special characters are not allowed.</div>

            <div class="alert alert-danger fade in error-padding error-abs" ng-show="signup.userid.$touched && (signup.userid.$error.minlength || signup.userid.$error.maxlength)">
              Min. 4 and Max. 15 characters are allowed.</div>
            <div class="alert alert-danger fade in error-padding error-abs" ng-if="userIdError">{{userIdError}}</p>
            </div>
            <div class="alert alert-danger fade in error-padding error-abs" ng-if="checkuserStatus">{{checkuserIdError}}</p>
            </div>
          </div>
          <div class="col-sm-6">
            <label>Name</label><br>
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" name="name" ng-model="user.name" class="form-control" placeholder="Name" ng-pattern="/^[a-zA-Z-,]+(\s{0,1}[a-zA-Z-, ])*$/"
                required />
            </div>
            <div class="alert alert-danger fade in error-padding" ng-show="signup.name.$touched && signup.name.$invalid && !signup.name.$error.pattern && !signup.name.$error.maxlength">
              Name is required.</div>
            <div class="alert alert-danger fade in error-padding" ng-show="signup.name.$touched && signup.name.$error.pattern && !signup.name.$error.maxlength">
              Only Alphabets are allowed.</div>

            <div class="alert alert-danger fade in error-padding" ng-show="signup.name.$touched && signup.name.$invalid && signup.name.$error.maxlength">
              Maximum 20 characters are allowed.</div>

            <div class="alert alert-danger fade in error-padding" ng-show="!signup.name.$error.pattern && firstNameError">{{nameError}}</div>
            <!-- input-group -->
          </div>
          <!-- row -->
          <div class="row no-margin">
            <div class="col-sm-6">
              <label>Email</label><br>
              <div class="input-group mb15">
                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Enter your Email" ng-pattern="/^[a-z]+([a-z0-9._-](\+{0,1}))+@[a-z0-9]+\.[a-z.]{2,6}$/i"
                  required />
              </div>
              <!--  ng-pattern ="/^[a-z]+([a-z0-9._-](\+{0,1}))+@[a-z]+\.[a-z.]{2,6}$/i" -->
              <div class="alert alert-danger fade in error-padding" ng-show="signup.email.$touched && signup.email.$invalid && !signup.email.$error.pattern">
                Email is required</div>
              <!-- Email Validation    -->
              <div class="alert alert-danger fade in error-padding" ng-show="signup.email.$error.pattern && signup.email.$touched">
                Please enter a valid email address.</div>

              <div class="alert alert-danger fade in error-padding" ng-if="emailError">{{emailError}}</div>
              <!-- input-group -->
            </div>
            <div class="col-sm-6">
              <label>Country</label><br>
              <div class="input-group mb15">
                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                <i class="fa fa-sort select" aria-hidden="true"></i>
                <div ng-model="user.country" country-select></div>
                <!-- <input type="text"
                     name="country"
                     class="form-control"
                     placeholder="{{user.country}}"
                     disabled
                     required /> -->
              </div>
              <!-- <p class="validation-error" ng-show="signup.country.$touched && signup.country.$invalid">Country is required</p> -->
              <!-- input-group -->
            </div>
          </div>
          <div class="row no-margin">
            <div class="col-sm-6">
              <div class="input-group mb15">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" name="password" ng-model="user.password" class="form-control" ng-minlength="6" ng-pattern="/^(?=.*[a-zA-Z])(?=.*[0-9]).+$/"
                  placeholder="Password" required />
              </div>
              <div class="alert alert-danger fade in error-padding" ng-show="signup.password.$touched && signup.password.$invalid && !signup.password.$error.minlength && !signup.password.$error.pattern">
                Password is required.</div>
              <!-- Minimum Lenght Validation -->
              <div class="alert alert-danger fade in error-padding" ng-show="signup.password.$touched && signup.password.$invalid && signup.password.$error.minlength">
                Password must be 6 characters long.</div>
              <!-- Alphanumeric Validation -->
              <div class="alert alert-danger fade in error-padding" ng-show="signup.password.$touched && signup.password.$error.pattern && !signup.password.$error.minlength">
                Password must be alphanumeric.</div>
              <!-- input-group -->
            </div>
            <div class="col-sm-6">
              <div class="input-group mb15">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" name="confirmpassword" ng-model="user.confirmPassword" class="form-control" ng-keyup="confirmPass()"
                  placeholder="Confirm Password" required />
              </div>
              <div class="alert alert-danger fade in error-padding" ng-show="(signup.confirmpassword.$touched && signup.confirmpassword.$invalid) || confirmPassError">
                Password does not match</div>
              <!-- input-group -->
            </div>
            <div class="col-sm-12">
              <label><input name="placement" type="radio" ng-model="user.placement" value="L" /> <strong>Left Placement</strong></label>&nbsp;&nbsp;
              <label><input name="placement" type="radio" ng-model="user.placement" value="R" /> <strong>Right Placement</strong></label>
            </div>
            <div class="alert alert-danger fade in error-padding" ng-if="errorPlacement">{{errorPlacementMessage }}</div>
          </div>
          <!-- row -->
          <br />
          <div class="clearfix">
            <div class="pull-left">
              <div class="ckbox ckbox-primary ">
                <input type="checkbox" id="agree" name="terms" ng-model="terms" value="1" ng-click="accept()"><label for="agree">I agree with <a href="#/terms-and-conditions" target=_blank><strong>Terms and Conditions</strong></a></label>
              </div>
              <div class="alert alert-danger fade in error-padding" ng-if="termsError">{{termsError}}</div>
            </div>
            <div class="pull-right">
              <button type="submit" class="btn btn-success" ng-disabled="signup.$invalid">
              Let’s Start <i class="fa fa-angle-right ml5"></i></button>
            </div>
          </div>
        </div>
        <p align="center">Already a member? <a href="#/login" style="color: #0F9DEA; padding-top: 15px;"><strong>Login here</strong></a></p>
      </div>
      <!-- panel-body -->
    </form>


    <!-- <div class="panel-footer">
      <a href="#/" class="btn btn-primary btn-block">Already a Member? Sign In</a>
    </div> -->
    <!-- panel-footer -->
  </div>

  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup" style="display: none">
    <form action="//nanopool.us16.list-manage.com/subscribe/post?u=962799c07287fb1d52d81661b&amp;id=e8818d171d" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <h2>Subscribe to our mailing list</h2>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
          <input id="mce-EMAIL" name="EMAIL" type="email" class="text" value="{{user.email}}" onfocus=" if (this.value == '') { this.value = ''; }"
            onblur="if (this.value == '') { this.value='';} " tabindex="500" />
        </div>
        <div class="mc-field-group">
          <label for="mce-NAME">Name </label>
          <input id="mce-NAME" type="text" class="text" value="{{user.name}}" onfocus=" if (this.value == '') { this.value = ''; }"
            onblur="if (this.value == '') { this.value='';} " tabindex="500" />
        </div>
        <div class="mc-field-group">
          <label for="mce-MMERGE3">Country </label>
          <input id="mce-MMERGE3" name="MMERGE3" type="text" class="text" value="{{user.country}}" onfocus=" if (this.value == '') { this.value = ''; }"
            onblur="if (this.value == '') { this.value='';} " tabindex="500" />
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_962799c07287fb1d52d81661b_e8818d171d" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
</section>