<div class="clearfix"></div>
<section>
  <div class="dashboard-wrapper">
    <div class="mainpanel">
      <div class="contentpanel">
        <div>
          <div class="col-md-12 nomargin nopadding">
            <div class="tabbable-panel">
              <div class="tabbable-line">
                <div class="row">
                  <div class="tab-content" style="padding:20px 20px; ">
                    <div class="tab-pane tab_default_11" style="display: block">
                      <p align="center">
                        <img src="../img/bannersupport.png" class="img-responsive support-image" style="margin-top: 40px;" />
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>